<header class="mod_header" ng-class="{transparent:transparent}">

	<!-- 定义后退按钮 -->
	<a ng-if="backButton" page-back="{{backParam}}" class="back_button"></a>
	<!-- /定义后退按钮 -->

	<!-- 定义左侧按钮（待定） -->
	<a ng-if="leftButton" class="left_button"></a>
	<!-- /定义左侧按钮 -->

	<!-- 定义标题 -->
	<h1 class="title_content" ng-bind-html="headerTitle"></h1>
	<!-- /定义标题 -->
	
	<!-- 定义右侧按钮 -->
	<a ng-if="rightButton" page-jump="{{jumpParam}}" class="right_button">{{rightButton}}</a>
	<!-- /定义右侧按钮 -->
	
	<!-- 定义菜单按钮（待定） -->
	<a ng-if="menuButton"></a>
	<!-- /定义菜单按钮 -->

</header>