<header-bar back title="用户等级"></header-bar>

<section class="mod_scroll">
    <dl class="unit_user_grade">
        <dt>1、增加经验值：</dt>
        <dd>
            用户注册成功，
            <span class="color_green">+5</span>
            <br>
            每天登录，
            <span class="color_green">+1</span>
            <br>
            每天签到，
            <span class="color_green">+1</span>
            <br>
            用户发帖，
            <span class="color_green">+1</span>
            <br>
            帖子被推荐，
            <span class="color_green">+1</span>
            <br>
            帖子被收藏，
            <span class="color_green">+1</span>
            <br>
            帖子被赞，
            <span class="color_green">+1</span>
        </dd>
    </dl>

    <dl class="unit_user_grade">
        <dt>2、扣除经验值：</dt>
        <dd>
            用户自行删除帖子，
            <span class="color_green">-1</span>
            <br>
            帖子被管理员删除，
            <span class="color_green">-3</span>
        </dd>
    </dl>

    <dl class="unit_user_grade">
        <dt>3、等级详情：</dt>
        <dd>
            睡莲种子：经验值
            <span class="color_green">0-99</span>
            <br>
            崭露头角：经验值
            <span class="color_green">100-499</span>
            <br>
            荷叶一色：经验值
            <span class="color_green">500-1999</span>
            <br>
            小荷尖尖：经验值
            <span class="color_green">2000-1万</span>
            <br>
            含苞待放：经验值
            <span class="color_green">1万-5万</span>
            <br>
            荷蕾初绽：经验值
            <span class="color_green">5万-20万</span>
            <br>
            出水芙蓉：经验值
            <span class="color_green">20万以上</span>
        </dd>
    </dl>
</section>
