$bgcolor: #e6e8e7;
$green_val: #3cc482;
$gray_val: #cacdcb;


.unit_find_top{
    width: 100%;
    padding: 10px 0;
    height: 80px;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    background: url(img/bg_find_top.jpg) no-repeat center 0;
    background-size: 100% 100%;
    li{
        width: 60px;
        color: #fff;
        text-align: center;
        padding-top: 60px;
        line-height: 20px;
        background-image: url(img/icon_find_top.png);
        background-repeat: no-repeat;
        background-size: auto 60px;
        margin: 0 10px;
        &:nth-child(1){
            background-position: 0 0;
        }
        &:nth-child(2){
            background-position: -98px 0;
        }
        &:nth-child(3){
            background-position: -190px 0;
        }
    }
}


.unit_find_subject{
    background: #fff;
    padding: 10px;
    ul{
        display: -webkit-box;
        li{
            display: block;
            line-height: 20px;
            width: 70px;
            text-align: center;
            font-size: 12px;
            margin-right: 10px;
            img{
                width: 70px;
                height: 70px;
                display: block;
            }
            &.this_more{
                background: url(img/img_find_more.jpg) no-repeat center 0;
                background-size: 100% auto;
                padding-top: 70px;
            }
        }
    }
}


.unit_find_cate{
    padding: 10px;
    div{
        background: #fff;
        font-size: 0;
        padding: 0 10px;
        ul{
            @include border_bottom_half;
            padding: 10px 0;
            li{
                width: 50%;
                font-size: 14px;
                line-height: 30px;
                display: inline-block;
                &:before{
                    content: "";
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    background: $green_val;
                    -webkit-border-radius: 6px;
                    vertical-align: middle;
                    margin-right: 5px;
                }
            }
            &:last-child{
                border: none;
            }
        }
    }
}