<dl class="mod_list">
    <dt>
        <div><input type="checkbox" /></div>
        <div>编号</div>
        <div>圈子名称</div>
        <div>圈子简介</div>
        <div>圈子标签</div>
        <div>帖子数</div>
        <div>成员数</div>
        <div>圈子图片</div>
        <div>创建时间</div>
        <div>操作</div>
    </dt>
    <dd ng-repeat="(k, v) in DataList.ClubList track by $index">
        <div></div>
        <div>{{v.ClubId}}</div>
        <div><a ui-sref="mange.club-thread({id: v.ClubId})">{{v.ClubName}}</a></div>
        <div>{{v.Description}}</div>
        <div>
            <span style="padding-right:5px;" ng-repeat="(key, item) in v.CategoryList track by $index">{{item.CateName}}</span>
        </div>
        <div>{{v.TotalArticle}}</div>
        <div>{{v.TotalUser}}</div>
        <div><img ng-src="{{v.ImageUrl}}" /></div>
        <div>{{v.CreateTime}}</div>
        <div>
            <p>编辑</p>
            <p>删除</p>
        </div>
    </dd>
</dl>