<section class="filter_cate">
    <select ng-repeat="(k, v) in CateList track by $index" ng-options="option.CateId as option.CateName for option in v.CategoryList" ng-model="Page.CateId[k]" ng-change="changeCate(k)">
        <!-- <option ng-repeat="(i, item) in v.CategoryList track by $index" id="{{item.CateId}}">{{item.CateName}}</option> -->
    </select>
 </section>

<section class="list_article">
    <h3 ng-click="setSelect($event, 'all')" class="t_checkbox" ng-class="{select: Page.isAll}">全选</h3>
    <ul>
        <li ng-repeat="(k, v) in DataList.ArticleList track by $index">
            <div class="t_img" ui-sref="mange.list-detail({id: v.ArticleId, type: Page.Type})">
                <img ng-src="{{v.Images[0].ImageUrl}}" />
            </div>
            <div class="t_cate">
                <p ng-click="setSelect($event)" data-id="{{v.ArticleId}}" data-key="{{k}}" ng-class="{select: v.Check}"></p>
                <i ng-repeat="(i, item) in v.CategoryList track by $index">#{{item.CateName}}</i>
            </div>
            <div class="t_time">{{v.UpdateTime}}</div>
            <div class="t_btn">
                <p data-id="{{v.ArticleId}}" ng-click="setCheck($event, v.ArticleId)" data-type="yCate" ng-if="v.EditState==1">
                    推荐栏目页
                </p>
                <p data-id="{{v.ArticleId}}" ng-click="setCheck($event, v.ArticleId)" data-type="nCate" ng-if="v.EditState==2" class="t_color">
                    取消栏目页
                </p>
                <p data-id="{{v.ArticleId}}" ng-click="setCheck($event, v.ArticleId)" data-type="yHome" ng-if="v.HomeState==1">
                    推荐首页
                </p>
                <p data-id="{{v.ArticleId}}" ng-click="setCheck($event, v.ArticleId)" data-type="nHome" ng-if="v.HomeState==2" class="t_color">
                    取消首页
                </p>
                <p data-id="{{v.ArticleId}}" ng-click="delData($event, v.ArticleId)">删除</p>
            </div>
        </li>
    </ul>
</section>

<!-- <ul ngd-click="changePage($event)" selector="li" class="mod_page mb10">
    <li data-id="1">1</li>
    <li data-id="2">2</li>
    <li data-id="3">3</li>
    <li data-id="4">4</li>
</ul> -->
<show-page></show-page>


<ul class="mod_btn_list mb10">
    <li class="t_select">
        <select>
            <option>选择栏目</option>
            <option>1123</option>
            <option>1123</option>
            <option>1123</option>
            <option>1231</option>
        </select>
        <select>
            <option>11232</option>
            <option>21231</option>
            <option>31231</option>
            <option>41231</option>
        </select>
        <select>
            <option>121231231232</option>
            <option>21</option>
            <option>31</option>
            <option>41</option>
        </select>
    </li>

    <li ng-click="setCate($event)">批量归类</li>
    <li ng-click="delData($event)">批量删除</li>

    <li ng-click="setCheck($event)" data-type="Yes">推荐栏目页</li>
    <li ng-click="setCheck($event)" data-type="Yes">取消推荐栏目页</li>
    <li ng-click="setCheck($event)" data-type="Yes">推荐首页</li>
    <li ng-click="setCheck($event)" data-type="No">取消推荐首页</li>
</ul>