

<!-- <input type="file" ng-model="Deploy.currentImage" accept="image/*" app-filereader /> -->

<ul class="mod_login">
    <li>
        <label>手机号：</label>
        <input ng-model="cInput.Phone" type="text" placeholder="手机号" />
    </li>
    <li>
        <label>密码：</label>
        <input ng-model="cInput.Password" type="password" placeholder="输入用户密码" />
    </li>
<!--     <li>
        <label>验证码：</label>
        <input ng-model="cInput.Code" type="text" placeholder="验证码" />
        <div>1234</div>
    </li> -->
    <li ng-click="toLogin()">登录</li>
</ul>