<dl class="mod_path">
    <dt>添加专题</dt>
    <dd>您可以对专题进行管理</dd>
</dl>

<ul class="mod_add mb10">
    <li>
        <label>专题标题（长标题）</label>
        <input ng-model="tInput.LongName" type="text" placeholder="请输入专题标题（长标题）" />
    </li>
    <li>
        <label>标题简写（短标题）</label>
        <input ng-model="tInput.ShortName" type="text" placeholder="请输入标题简写（短标题）" />
    </li>
    <li>
        <label>专题封面</label>
        <div class="t_upload">
            <input type="file" ng-model="tInput.ImageUrl" accept="image/*" app-filereader />
            <img data-ng-src="{{tInput.ImageUrl}}" />
        </div>
    </li>
    <li>
        <label>专题描述</label>
        <textarea ng-model="tInput.Description" placeholder="请输入专题描述"></textarea>
    </li>
    <li>
        <label>推荐圈子</label>
        <select-club ng-model="tInput.ClubId"></select-club>
    </li>
</ul>

<ul class="mod_btn_list mb10">
    <li ng-click="addSubject()">保存</li>
</ul>

<canvas id="tmp" style="display:none;"></canvas>