<!-- <dl class="mod_path">
    <dt>专题管理</dt>
    <dd>您可以对专题进行管理</dd>
</dl> -->
<ul class="mod_back">
    <li page-back>Back</li>
    <li>您可以对专题进行管理</li>
</ul>

<ul class="mod_modify mb10">
    <li>
        <label>专题标题（长标题）</label>
        <div class="t_text">{{tContent.LongName}}</div>
    </li>
    <li>
        <label>标题简写（短标题）</label>
        <div class="t_text">{{tContent.ShortName}}</div>
    </li>
    <li>
        <label>专题封面</label>
        <div class="t_upload">
            <img data-ng-src="{{tContent.ImageUrl}}" />
        </div>
    </li>
    <li>
        <label>专题描述</label>
        <div class="t_text">{{tContent.Description}}</div>
    </li>
    <li>
        <label>推荐圈子</label>
        <div class="t_text">{{tContent.ClubId}}</div>
    </li>
</ul>


<ul class="mod_btn_list">
    <li ui-sref="mange.list-type({id:Page.Id, type:'subject', menu: 'club', sub: 'subject'})">添加专题帖子</li> 
</ul>

<section class="list_article" ng-if="DataList.ArticleList.length > 0">
    <h3 ng-click="setSelect($event, 'all')" class="t_checkbox" ng-class="{select: Page.isAll}">
        全选
    </h3>
    <ul>
        <li ng-repeat="(k, v) in DataList.ArticleList track by $index">
            <div class="t_img" ui-sref="mange.list-detail({id: v.ArticleId, menu: 'club', sub: 'subject'})">
                <img ng-src="{{v.Images[0].ImageUrl}}" />
            </div>
            <div class="t_cate">
                <p ng-click="setSelect($event)" data-id="{{v.ArticleId}}" data-key="{{k}}" ng-class="{select: v.Check}"></p>
                <i ng-repeat="(i, item) in v.CategoryList track by $index">#{{item.CateName}}</i>
            </div>
            <div class="t_time">{{v.CreateTime}}</div>
            <div class="t_btn">
                <p data-id="{{v.ArticleId}}" ng-click="Delete($event, v.ArticleId)">取消专题帖子</p>
            </div>
        </li>
    </ul>
</section>


<div class="mod_nodata mb10" ng-if="DataList.ArticleList.length == 0"></div>

<show-page></show-page>


<ul class="mod_btn_list" ng-if="DataList.ArticleList && DataList.ArticleList.length>0">
    <li ng-click="Delete($event)">批量取消专题帖子</li> 
</ul>