@mixin button(
) {
    
}


.mod_btn_list {
    @include box();
    li {
        display: block;
        line-height: 30px;
        text-align: center;
        color: #333;
        padding: 0 10px;
        cursor: pointer;
        margin-right: 10px;
        min-width: 90px;
        // background: -webkit-linear-gradient(top, #aea097, #75675e);
        // border: 1px solid $text;
        background: #ddd;
        @include border-half($type: all);
        &.t_select {
            background: none;
            padding: 0;
            select {
            }
        }
        a {
            display: block;
            height: 30px;
            width: 100%;
            color: #333;
        }
    }
}