.search_find{
    top: 0;
}

.unit_find_scroll{
    @include scrollfix;
    padding: 44px 0 58px;
}

.scroll_activity_detail_photo {
    @include scrollfix;
    padding-top: 44px;
}



// .unit_find_subject{
//     background: #fff;
//     overflow: hidden;
//     padding: 0 10px 10px;
//     ul{
//         display: -webkit-box;
//         &.this_left{
//             li{
//                 text-align: left;
//             }
//         }
//         li{
//             display: block;
//             line-height: 16px;
//             width: 70px;
//             text-align: center;
//             font-size: 12px;
//             margin-right: 10px;
//             img{
//                 width: 70px;
//                 height: 70px;
//                 display: block;
//             }
//             &.this_more{
//                 background: url(img/img_find_more.jpg) no-repeat center 0;
//                 background-size: 100% auto;
//                 padding-top: 70px;
//             }
//             p{
//                 @include gray;
//             }
//         }
//     }
// }






/*
* 底部按钮
* 发现-圈子.html
*/
.unit_footer_btn{
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    padding: 4px 0;
    @include border_top_half;
    button{
        @include button(120px, 36px);
        border: none;
        outline: none;
        margin: 0 auto;
        font-size: 16px;
        background: $green_val;
    }
}

/*发现-活动-晒图活动页.html*/
.unit_activity_text{
    background: url(img/bg_activity_text.jpg) no-repeat center;
    background-size: 100% 100%;
    color: #fff;
    padding: 10px;
    h2{
        text-align: center;
        font-size: 16px;
        line-height: 30px;
    }
    article{
        padding: 10px 20px;
        font-size: 12px;
    }
}


/*发现-圈子-全部列表.html*/
.unit_letter{
    width: 20px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 51;
    background: rgba(0,0,0,.5);
    ul{
        padding-top: 50px;
        li{
            display: block;
            line-height: 16px;
            text-align: center;
            color: #fff;
            font-size: 12px;
        }
    }
}



.unit_article_content_login{
    padding: 10px;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    h3{
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 5px;
    }
    button{
        @include button(100px, 40px);
        background: $green_val;
        border: none;
        font-size: 16px;
    }
}
