/*专题-列表.html*/
.unit_subject_list{
    background: #fff;
    padding: 0 10px;
    li{
        display: -webkit-box;
        padding: 10px 0;
        @include border_bottom_half;
        &:last-child{
            border: none;
        }
        -webkit-box-align: center;
        div{
            -webkit-box-flex: 1;
            @include ellipsis;
        }
        img{
            width: 40px;
            height: 40px;
        }
    }
}
