// .mod_list_default {
//     li {
//         display: -webkit-box;
//         line-height: 44px;
//         @include border_bottom_half;
//         &:last-child {
//             border-bottom: 0 none;
//         }
//         &.last_border_line {
//             @include border_bottom_half;
//         }
//         a, label, input {
//             display: block;
//         }
//         label {
//             width: 70px;
//         }
//         a {
//             -webkit-box-flex: 1;
//             &.activated {
//                 opacity: 1 !important;
//                 background-color: #ccc !important;
//             }
//         }
//         input {
//             -webkit-box-flex: 1;
//             width: 100%;
//             height: 44px;
//         }
//         &.phone {
//             padding-left: 28px;
//             background: url(img/icon_phone.png) no-repeat 4px center;
//             background-size: 13px auto;
//         }
//         &.password {
//             padding-left: 28px;
//             background: url(img/icon_password.png) no-repeat 5px center;
//             background-size: 11px auto;
//         }
//         &.vcode {
//             padding-left: 28px;
//             background: url(img/icon_vcode.png) no-repeat 5px center;
//             background-size: 14px auto;
//         }
//         &.icon_mobile a {
//             padding-left: 34px;
//             background: url(img/icon_mobile.jpg) no-repeat 1px center;
//             background-size: 24px auto;
//         }
//         &.icon_qq a {
//             padding-left: 34px;
//             background: url(img/icon_qq.jpg) no-repeat 1px center;
//             background-size: 24px auto;
//         }
//         &.icon_weixin a {
//             padding-left: 34px;
//             background: url(img/icon_weixin.jpg) no-repeat 1px center;
//             background-size: 24px auto;
//         }
//         &.icon_weibo a {
//             padding-left: 34px;
//             background: url(img/icon_weibo.jpg) no-repeat 1px center;
//             background-size: 24px auto;
//         }
//     }
// }


.mod_list_falls {
    border-width: 0 5px 5px;
    border-style: solid;
    border-color: $bgcolor;
    position: relative;
    // overflow: hidden;
    li {
        position: absolute;
        display: block;
        width: 50%;
        font-size: 12px;
        color: #323232;
        .this_border {
            border-left: 5px solid $bgcolor;
            border-right: 5px solid $bgcolor;
            color: #333;
            display: block;
            background: #fff;
            img {
                width: 100%;
                -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
            }
            article {
                padding: 5px;
                -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
            }
            .this_text {
                @include multi_ellipsis(6);
                line-height: 18px;
            }
            .this_cate {
                line-height: 18px;
                // text-align: center;
            }
            .this_star {
                @include border_bottom_half;
                height: 25px;
                line-height: 28px;
                overflow: hidden;
                background: url(img/icon_star.png) no-repeat 0px center;
                background-size: 15px auto;
                text-indent: 18px;
                color: $gray_val;
            }
            .this_user {
                padding-top: 5px;
                display: -webkit-box;
                img {
                    width: 50px;
                    height: 50px;
                    display: block;
                    -webkit-border-radius: 50px;
                }
                dl {
                    padding: 0;
                    margin: 0;
                    display: block;
                    padding-left: 5px;
                    -webkit-box-flex: 1;
                    line-height: 16px;
                    dt {
                        @include multi_ellipsis(1);
                        color: $green_val;
                    }
                    dd {
                        @include multi_ellipsis(2);
                        span {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}


.mod_list_img {
    margin-bottom: 10px;
    background: #fff;
    position: relative;
    .this_wrapper {
        display: -webkit-box;
        a {
            display: block;
            width: 80px;
            margin-left: 10px;
            // text-align: center;
            color: #333;
            font-size: 12px;
            line-height: 16px;
            &:last-child {
                margin-right: 10px;
            }
            .this_img {
                width: 80px;
                height: 80px;
                overflow: hidden;
                img {
                    width: 100%;
                    display: block;
                }
            }
            .this_club {
                width: 78px;
                height: 78px;
                border: 1px dashed #ddd;
                background: url(img/icon_club_add.png) no-repeat center center;
                background-size: 40px auto;
            }
            .this_title {
                padding: 5px 0;
            }
            .this_btn {
                @include button(90%, 30px);
                margin: 0 5px;
                background: $green_val;
            }
            .this_tx {
                padding-bottom: 5px;
                color: $gray_val;
            }
            &.this_more {
                background: url(img/img_find_more.jpg) no-repeat center 0;
                background-size: 100% auto;
                padding-top: 80px;
                line-height: 30px;
            }
        }
    }
}


.mod_list_img_only {
    padding: 10px;
    li {
        background: #fff;
        margin-bottom: 10px;
        font-size: 12px;
        @include border_bottom_half;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        &:last-child {
            margin-bottom: 0;
        }
        .this_border {
            color: #333;
            img {
                width: 100%;
            }
            .this_img {
                max-height: 180px;
                overflow: hidden;
                margin-bottom: 5px;
            }
            article {
                position: relative;
                padding: 0 10px 5px;
                .this_text {
                    font-size: 12px;
                    line-height: 20px;
                    @include multi_ellipsis();
                }
                .this_star {
                    @include border_bottom_half;
                    line-height: 25px;
                    background: url(img/icon_star.png) no-repeat 0 center;
                    background-size: 10px auto;
                    text-indent: 15px;
                    color: $gray_val;
                    margin-bottom: 5px;
                }
                .this_user {
                    padding-top: 5px;
                    display: -webkit-box;
                    img {
                        width: 50px;
                        height: 50px;
                        margin-right: 10px;
                        -webkit-border-radius: 50px;
                    }
                    dl {
                        padding: 0;
                        margin: 0;
                        display: block;
                        padding-left: 5px;
                        -webkit-box-flex: 1;
                        line-height: 16px;
                        dt {
                            @include multi_ellipsis(1);
                            color: $green_val;
                        }
                        dd {
                            @include multi_ellipsis(2);
                            span {
                                margin-right: 5px;
                            }
                        }
                    }
                }
                .this_cate {
                    left: 0;
                    top: -70px;
                    position: absolute;
                    z-index: 2;
                    color: #fff;
                    div {
                        &:first-child {
                            padding: 0 10px;
                            line-height: 18px;
                            font-size: 12px;
                            background: rgba(60, 196, 130, .9);
                            i {
                                padding-left: 5px;
                            }
                        }
                        &:last-child {
                            padding: 0 10px;
                            line-height: 30px;
                            font-size: 14px;
                            background: rgba(0, 0, 0, .8);
                            span {
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}