.mod_footer {
    @include border_top_half;
    background: #fff;
    width: 100%;
    height: 48px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: -webkit-box;
    a {
        line-height: 28px;
        text-align: center;
        color: #cacdcb;
        padding-top: 20px;
        cursor: pointer;
        display: block;
        width: 0;
        -webkit-box-flex: 1;
        &.activated, &.current {
            color: #3cc482;
        }
        &:nth-child(1) {
            background: url(img/icon_home.png) no-repeat center 5px;
            background-size: auto 20px;
            &.activated, &.current {
                background: url(img/icon_home_hover.png) no-repeat center 5px;
                background-size: auto 20px;
            }
        }
        &:nth-child(2) {
            background: url(img/icon_find.png) no-repeat center 5px;
            background-size: auto 20px;
            &.activated, &.current {
                background: url(img/icon_find_hover.png) no-repeat center 5px;
                background-size: auto 20px;
            }
        }
        // &:nth-child(3) {
        // }
        &:nth-child(4) {
            background: url(img/icon_msg.png) no-repeat center 5px;
            background-size: auto 20px;
            position: relative;
            &.activated, &.current {
                background: url(img/icon_msg_hover.png) no-repeat center 5px;
                background-size: auto 20px;
            }
            &.news:after {
                position: absolute;
                top: 5px;
                right: 50%;
                margin-right: -23px;
                content: "";
                width: 6px;
                height: 6px;
                background: red;
                display: block;
                -webkit-border-radius: 6px;
            }
        }
        &:nth-child(5) {
            background: url(img/icon_member.png) no-repeat center 5px;
            background-size: auto 20px;
            &.activated, &.current {
                background: url(img/icon_member_hover.png) no-repeat center 5px;
                background-size: auto 20px;
            }
        }
    }
    p {
        height: 48px;
        cursor: pointer;
        display: block;
        width: 0;
        -webkit-box-flex: 1;
        
        background: url(img/icon_camera.png) no-repeat center 4px;
        background-size: auto 40px;
        &.activated, &.current {
            background: url(img/icon_camera_hover.png) no-repeat center 4px;
            background-size: auto 40px;
        }
    }
    // @include border_top_half;
    // background: #fff;
    // width: 100%;
    // height: 48px;
    // position: fixed;
    // left: 0;
    // bottom: 0;
    // z-index: 100;
    // ul {
    //     display: -webkit-box;
    //     li {
    //         line-height: 28px;
    //         text-align: center;
    //         color: #cacdcb;
    //         width: 0;
    //         padding-top: 20px;
    //         cursor: pointer;
    //         -webkit-box-flex: 1;
    //         &.activated, &.current {
    //             color: #3cc482;
    //         }
    //         &:nth-child(1) {
    //             background: url(img/icon_home.png) no-repeat center 5px;
    //             background-size: auto 20px;
    //             &.activated, &.current {
    //                 background: url(img/icon_home_hover.png) no-repeat center 5px;
    //                 background-size: auto 20px;
    //             }
    //         }
    //         &:nth-child(2) {
    //             background: url(img/icon_find.png) no-repeat center 5px;
    //             background-size: auto 20px;
    //             &.activated, &.current {
    //                 background: url(img/icon_find_hover.png) no-repeat center 5px;
    //                 background-size: auto 20px;
    //             }
    //         }
    //         &:nth-child(3) {
    //             background: url(img/icon_camera.png) no-repeat center 4px;
    //             background-size: auto 40px;
    //             &.activated, &.current {
    //                 background: url(img/icon_camera_hover.png) no-repeat center 4px;
    //                 background-size: auto 40px;
    //             }
    //         }
    //         &:nth-child(4) {
    //             background: url(img/icon_msg.png) no-repeat center 5px;
    //             background-size: auto 20px;
    //             position: relative;
    //             &.activated, &.current {
    //                 background: url(img/icon_msg_hover.png) no-repeat center 5px;
    //                 background-size: auto 20px;
    //             }
    //             &.news:after {
    //                 position: absolute;
    //                 top: 5px;
    //                 right: 50%;
    //                 margin-right: -23px;
    //                 content: "";
    //                 width: 6px;
    //                 height: 6px;
    //                 background: red;
    //                 display: block;
    //                 -webkit-border-radius: 6px;
    //             }
    //         }
    //         &:nth-child(5) {
    //             background: url(img/icon_member.png) no-repeat center 5px;
    //             background-size: auto 20px;
    //             &.activated, &.current {
    //                 background: url(img/icon_member_hover.png) no-repeat center 5px;
    //                 background-size: auto 20px;
    //             }
    //         }
    //     }
    // }
}

.comment_footer {
    display: -webkit-box;
    @include border_top_half;
    background-color: #fff;
    width: 100%;
    height: 48px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    a {
        display: block;
        line-height: 48px;
        padding-left: 34px;
        -webkit-box-flex: 1;
        &.footer_heart {
            background: url(img/icon_heart_gray.png) no-repeat 10px center;
            background-size: 20px auto;
            &.has_heart {
                background-image: url(img/icon_heart_green.png);
            }
        }
        &.footer_comment {
            background: url(img/icon_comment.png) no-repeat 10px center;
            background-size: 20px auto;
        }
        &.footer_share {
            background: url(img/icon_share.png) no-repeat 10px center;
            background-size: 20px auto;
        }
        &.footer_collect {
            background: url(img/icon_star_gray.png) no-repeat 10px center;
            background-size: 20px auto;
            &.has_collect {
                background-image: url(img/icon_star_green.png);
            }
        }
    }
}

.mod_camera{
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    ul{
        display: -webkit-box;
        background: #fff;
        width: 200px;
        height: 90px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -100px;
        margin-top: -45px;
        li{
            width: 50%;
            height: 20px;
            line-height: 20px;
            padding-top: 55px;
            text-align: center;
            color: $green_val;
            background-image: url(img/icon_camera_img.png);
            background-repeat: no-repeat;
            &:nth-child(1){
                background-position: center 15px;
                background-size: 40px auto;
            }
            &:nth-child(2){
                background-position: center -55px;
                background-size: 40px auto;
            }
        }
    }
}