/*
* 发现.html
*/
.mod_title_text{
    display: -webkit-box;
    font-weight: bolder;
    background: #fff;
    line-height: 40px;
    @include border_top_half;
    &.this_p{
        padding: 0 10px;
        border: none;
    }
    div{
        display: block;
        color: #50c88c;
        -webkit-box-flex: 1;
    }
    a {
        display: block;
        width: 80px;
        color: #d9dbda;
        font-size: 12px;
        text-align: right;
    }
}