.login_layout {
    .login_button {
        @include button(110px);
        background-color: #3cc482;
        margin: 16px auto 12px;
    }
    .forget_password {
        text-align: center;
        line-height: 14px;
        margin-bottom: 20px;
        a {
            color: #3cc482;
        }
    }
    .reset_vcode {
        margin: 15px auto 0;
        @include button(110px);
        background-color: #cacdcb;
    }
}
.phone_number_cont {
    padding: 15px 15px 0;
}
.mod_list_default {
    li {
        display: -webkit-box;
        line-height: 44px;
        @include border_bottom_half;
        &:last-child {
            border-bottom: 0 none;
        }
        &.last_border_line {
            @include border_bottom_half;
        }
        a, label, input {
            display: block;
        }
        label {
            width: 80px;
            line-height: 44px;
        }
        a {
            -webkit-box-flex: 1;
            &.activated {
                opacity: 1 !important;
                background-color: #ccc !important;
            }
        }
        input {
            -webkit-box-flex: 1;
            width: 100%;
            // padding: 14px 0;
            height: 44px;
            padding-top: 3px;
        }
        &.phone {
            padding-left: 28px;
            background: url(img/icon_phone.png) no-repeat 4px center;
            background-size: 13px auto;
        }
        &.password {
            padding-left: 28px;
            background: url(img/icon_password.png) no-repeat 5px center;
            background-size: 11px auto;
        }
        &.vcode {
            padding-left: 28px;
            background: url(img/icon_vcode.png) no-repeat 5px center;
            background-size: 14px auto;
        }
        &.icon_mobile a {
            padding-left: 34px;
            background: url(img/icon_mobile.jpg) no-repeat 1px center;
            background-size: 24px auto;
        }
        &.icon_qq a {
            padding-left: 34px;
            background: url(img/icon_qq.jpg) no-repeat 1px center;
            background-size: 24px auto;
        }
        &.icon_weixin a {
            padding-left: 34px;
            background: url(img/icon_weixin.jpg) no-repeat 1px center;
            background-size: 24px auto;
        }
        &.icon_weibo a {
            padding-left: 34px;
            background: url(img/icon_weibo.jpg) no-repeat 1px center;
            background-size: 24px auto;
        }
    }
}