/*栏目页*/
.forum_cate_top{
    background: url(img/img_find_cate_bg.jpg) no-repeat center 0;
    background-size: 100% 100%;
    padding: 50px 0 20px;
    font-size: 12px;
    color: #fff;
    div{
        display: -webkit-box;
        img{
            width: 70px;
            height: 70px;
            border: 2px solid #fff;
            margin: 0 10px 0 20px;
        }  
        p{
            -webkit-box-flex: 1;
            margin-right: 20px;
            &:first-line{
                font-size: 16px;
            }
        }
    }
    button{
        display: block;
        background: none;
        border: 1px solid #fff;
        color: #fff;
        width: 90px;
        line-height: 30px;
        margin: 0 auto;
        outline: none;
        margin-top: 10px;
        font-size: 14px;
        -webkit-border-radius: 3px;
    }
}


.forum_cate_two_list{
    background: url(img/img_find_cate_bg.jpg) no-repeat center 0;
    background-size: 100% 100%;
    padding: 50px 0 20px;
    font-size: 12px;
    .this_list_cate{
        text-align: center;
        margin: 0 auto;
        font-size: 0;
        width: 200px;
        li{
            border: 1px solid #fff;
            color: #fff;
            text-align: center;
            width: 80px;
            line-height: 27px;
            font-size: 14px;
            margin: 0 5px 10px;
            display: inline-block;
            -webkit-border-radius: 3px;
        }
    }
}


.forum_cate_three_list{
    background: url(img/img_find_cate_bg.jpg) no-repeat center 0;
    background-size: 100% 100%;
    padding: 50px 0 20px;
    font-size: 12px;
    .this_list_cate{
        width: 280px;
        text-align: center;
        margin: 0 auto;
        font-size: 0;
        li{
            border: 1px solid #fff;
            color: #fff;
            text-align: center;
            width: 80px;
            line-height: 27px;
            font-size: 14px;
            margin: 0 5px 10px;
            display: inline-block;
            -webkit-border-radius: 3px;
        }
    }
}
