// 圈子详情
.forum_club_info{
    background: #fff;
    margin-bottom: 10px;
    padding: 0 10px;
    @include border_bottom_half;
    li {
        text-indent: 30px;
        padding: 10px 0;
        line-height: 30px;
        background-image: url(img/icon_club.png);
        background-repeat: no-repeat;
        @include border_bottom_half;
        display: -webkit-box;
        // -webkit-box-align: center;

        &.this_reg{
            background-position: 0 13px;
            background-size: 30px auto;
            button{
                @include button($width: 60px, $font: 14px, $height: 25px);
                background: $green_val;
                border: none;
            }
            span{
                @include green;
            }
        }
        &.this_user{
            background-position: 0 -30px;
            background-size: 30px auto;
            a {
                display: block;
                padding-right: 20px;
                background: url(img/icon_arrow.png) no-repeat right center;
                background-size: 13px auto;
            }
            button {
                @include button($width: 80px, $font: 14px, $height: 25px);
                background: $green_val;
                border: none;
            }
        }
        &.this_acti {
            background-image: url(img/icon_club.png), url(img/icon_arrow.png);
            background-position: 0 -68px, right center;
            background-size: 30px auto, 13px auto;
            a {
                display: block;
                line-height: 30px;
                width: 100%;
            }
        }
        &:last-child {
            border: none;
        }
        p {
            margin: 0;
            -webkit-box-flex: 1;
        }
    }
}