/*栏目页*/
.forum_cate_description {
    background: url(img/img_find_cate_bg.jpg) no-repeat center 0;
    background-size: 100% 100%;
    padding: 50px 10px 10px;
    color: #fff;
    div {
        display: -webkit-box;
        img{
            width: 70px;
            height: 70px;
            border: 2px solid #fff;
            margin-right: 10px;
        }  
        dl {
            margin: 0;
            -webkit-box-flex: 1;
            dt {
                font-size: 16px;
            }
            dd {
                line-height: 18px;
            }
        }
    }
    p {
        margin: 0;
        display: block;
        margin-top: 10px;
        text-align: center;
        a {
            display: inline-block;
            padding: 0 5px;
            border: 1px solid #fff;
            color: #fff;
            text-align: center;
            line-height: 30px;
            -webkit-border-radius: 3px;
        }
    }
}

.forum_cate_two_list{
    background: url(img/img_find_cate_bg.jpg) no-repeat center 0;
    background-size: 100% 100%;
    padding: 50px 0 20px;
    font-size: 12px;
    div {
        text-align: center;
        margin: 0 auto;
        font-size: 0;
        width: 200px;
        a {
            border: 1px solid #fff;
            color: #fff;
            text-align: center;
            width: 80px;
            line-height: 27px;
            font-size: 14px;
            margin: 0 5px 10px;
            display: inline-block;
            -webkit-border-radius: 3px;
        }
    }
}


.forum_cate_three_list {
    background: url(img/img_find_cate_bg.jpg) no-repeat center 0;
    background-size: 100% 100%;
    padding: 50px 0 20px;
    font-size: 12px;
    div {
        width: 280px;
        text-align: center;
        margin: 0 auto;
        font-size: 0;
        a {
            border: 1px solid #fff;
            color: #fff;
            text-align: center;
            width: 80px;
            line-height: 27px;
            font-size: 14px;
            margin: 0 5px 10px;
            display: inline-block;
            -webkit-border-radius: 3px;
        }
    }
}
