// 活动详情
.mod_description_01 {
    background: url(img/bg_activity_text.jpg) no-repeat center;
    background-size: 100% 100%;
    color: #fff;
    padding: 10px;
    h2{
        text-align: center;
        font-size: 16px;
        line-height: 30px;
        color: #fff;
    }
    article{
        line-height: 20px;
    }
}





.mod_login_01{
    padding: 10px;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    h3{
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 5px;
    }
    a{
        @include button(100px, 40px);
        background: $green_val;
        border: none;
        font-size: 16px;
    }
}
