// 活动列表
.forum_activity_list{
    background: #fff;
    padding: 0 10px;
    a {
        padding: 10px 0;
        background: url(img/icon_arrow.png) no-repeat right center;
        background-size: 10px auto;
        display: block;
        &:nth-child(1),
        &:nth-child(2){
            background: none;
        }
        @include border_bottom_half;
        &:last-child{
            border: none;
        }
        h2{
            line-height: 20px;
            font-size: 16px;
            @include ellipsis;
        }
        h3{
            font-size: 12px;
            @include gray;
            line-height: 20px;
            @include ellipsis;
        }
        img{
            width: 100%;
            display: block;
            margin-top: 10px;
        }
    }
}