/*帖子终极页*/
.forum_detail {
    padding: 10px;

    .this_detail_content {
        background: #fff;
        padding: 5px;
        margin-bottom: 10px;
        @include shadow();
        .imgart_content {
            padding-bottom: 10px;
            li {
                padding-bottom: 5px;
                &:last-child {
                    padding-bottom: 0;
                }
                img {
                    display: block;
                    width: 100%;
                    padding-bottom: 5px;
                }
            }
        }
    }

    .this_detail_wrapper {
        padding: 10px;
        background: #fff;
        margin-bottom: 10px;
        @include shadow();
    }

    .this_text_01 {
        line-height: 30px;
        @include multi_ellipsis(1);
        span {
            color: $green_val;
        }
    }

    .this_user_images {
        padding: 10px 0;
        display: -webkit-box;
        a, img {
            width: 25px;
            height: 25px;
            display: block;
            margin-right: 5px;
        }
        a {
            background: url(img/icon_heart_gray.png) no-repeat 0 center;
            background-size: 25px auto;
        }
        img {
            -webkit-border-radius: 30px;
        }
    }

    .this_comment_list {
        width: 100%;
        @include border_top_half;
        li {
            padding: 10px 0;
            display: -webkit-box;
            @include border_bottom_half;
            img {
                width: 30px;
                height: 30px;
                display: block;
                -webkit-border-radius: 40px;
                margin-right: 5px;
            }
            dl {
                width: 0;
                margin-bottom: 0;
                -webkit-box-flex: 1;
                dt {
                    color: $green_val;
                    span {
                        color: $gray_val;
                        float: right;
                        font-weight: normal;
                    }
                    a {
                        // width: 30px;
                        height: 20px;
                        display: inline-block;
                        padding-left: 23px;
                        color: $gray_val;
                        background: url(img/icon_chat_gray.png) no-repeat 0 center;
                        background-size: 20px auto;
                    }
                }
                dd {
                    padding-top: 5px;
                    line-height: 20px;
                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .this_comment_more {
        color: $green_val;
        line-height: 30px;
        display: block;
        padding-top: 10px;
        font-weight: bolder;
    }

    .this_comment_add {
        display: -webkit-box;
        padding: 10px 0;
        img {
            width: 30px;
            height: 30px;
            display: block;
            margin-right: 20px;
            -webkit-border-radius: 30px;
        }
        div {
            -webkit-box-flex: 1;
            padding: 0 8px;
            @include border_half;
            background-color: #f6f6f6;
            position: relative;
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 10px;
                left: -6px;
                width: 10px;
                height: 10px;
                @include border_left_half;
                @include border_bottom_half;
                border-left-width: 1px;
                background-color: #f6f6f6;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            input {
                width: 100%;
                line-height: 32px;
            }
        }
    }
}


.detail_side_menu {
    a {
        display: block;
        line-height: 40px;
        text-indent: 40px;
        font-weight: bolder;
        @include border_bottom_half;

        &.i_heart {
            background: url(img/icon_heart_gray.png) no-repeat 10px center;
            background-size: 20px auto;
            &.has {
                background-image: url(img/icon_heart_green.png);
            }
        }
        &.i_comment {
            background: url(img/icon_comment.png) no-repeat 10px center;
            background-size: 20px auto;
        }
        &.i_share {
            background: url(img/icon_share.png) no-repeat 10px center;
            background-size: 20px auto;
        }
        &.i_collect {
            background: url(img/icon_star_gray.png) no-repeat 10px center;
            background-size: 20px auto;
            &.has {
                background-image: url(img/icon_star_green.png);
            }
        }

        span {
            margin-left: 5px;
            color: $green_val;
        }
    }
}


// 举报帖子
.comment_report {
    li {
        background-color: #fff;
        margin-bottom: 10px;
        // padding: 0 10px;
        input {
            width: 100%;
            line-height: 20px;
            padding: 20px 10px;
            -webkit-box-sizing: none;
            -webkit-border-radius: 0;
        }
        textarea {
            width: 100%;
            line-height: 16px;
            padding: 10px;
            height: 100px;
        }
        &.this_no {
            background: none;
            line-height: 20px;
            padding: 10px 0;
            em {
                color: $green_val;
            }
        }
    }
}