.unit_photo{
    .this_photo {
        position: relative;
        img{
            width: 100%;
            visibility: hidden;
        }
        canvas {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }
    }

    .this_tmp_canvas {
        width: 0;
        height: 0;
        overflow: hidden;
    }

    .this_tab {
        background: #eee;
        padding-bottom: 10px;
        border-top: 10px solid #444;
        display: -webkit-box;
        li {
            font-size: 16px;
            font-weight: bolder;
            width: 70px;
            text-align: center;
            line-height: 40px;
            position: relative;
            cursor: pointer;
            &.current:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                left: 50%;
                margin-left: -10px;
                bottom: -10px;
                border-width: 7px;
                border-color: transparent transparent #fff transparent;
                border-style: solid;
            }
            &:last-child {
                text-align: left;
                font-weight: normal;
            }
        }
    }

    .this_scroll {
        padding-top: 10px;
        overflow: hidden;
        background: #fff;
        position: relative;
        ul {
            position: absolute;
            left: 0;
            top: 10px;
            display: -webkit-box;
            li {
                display: block;
                width: 70px;
                margin-left: 10px;
                text-align: center;
                line-height: 30px;
                img {
                    width: 100%;
                }
                &.current {
                    img {
                        border: 1px solid #3cc482;
                    }
                }
                &:last-child {
                    margin-right: 10px;
                }
            }
        }
    }

    .this_edit_title {
        padding: 10px;
        ul {
            background: #fff;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
            li {
                padding: 10px;
                display: -webkit-box;
                -webkit-box-align: stretch;
                div {
                    margin-right: 10px;
                    width: 70px;
                    height: 70px;
                    position: relative;
                    background: #f8f8f8;
                    p {
                        overflow: hidden;
                        width: 70px;
                        height: 70px;
                        img {
                            width: 100%;
                            margin: 0 auto;
                            display: block;
                        }
                    }
                    &:after {
                        @include font_icon();
                        content: "\f129";
                        font-size: 12px;
                        text-align: center;
                        color: #fff;

                        display: block;
                        background: #000;
                        width: 17px;
                        height: 17px;
                        line-height: 17px;
                        -webkit-border-radius: 17px;

                        position: absolute;
                        right: -5px;
                        top: -5px;
                    }
                }
                textarea {
                    display: block;
                    outline: none;
                    height: 70px;
                    -webkit-box-flex: 1;
                    @include border_bottom_half;
                }

                i,
                &.this_file input {
                    display: block;
                    width: 70px;
                    height: 70px;
                    position: relative;
                    background: #eee;
                    overflow: hidden;
                    -webkit-border-radius: 0;
                    &:after {
                        @include font_icon();
                        font-size: 24px;
                        color: #aaa;
                        display: block;
                        content: "\f218";
                        background: #eee;
                        line-height: 70px;
                        text-align: center;

                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .this_list_cate {
        padding: 10px;
        ul {
            background: #fff;
            padding: 0 10px;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
            li {
                padding: 10px 0;
                line-height: 30px;
                @include border_bottom_half;
                &:last-child {
                    border: none;
                }
                &.next {
                    background: url(img/icon_arrow.png) no-repeat right center;
                    background-size: 10px auto;
                }
                &.current {
                    @include icon-font($type: \f120, $size: 25px, $color: $green_val);
                    &:before {
                        float: right;
                    }
                }
            }
        }
    }
}