.msg_index{
    background: #fff;
    padding: 0 10px 10px;
    a {
        display: block;
        @include border_bottom_half;
        background-image: url(img/icon_setting.png);
        background-repeat: no-repeat;
        background-size: 25px auto;
        text-indent: 25px;
        line-height: 20px;
        padding: 10px 0;
        &.i_hit{
            background-position: 0 10px;
        }
        &.i_comment{
            background-position: 0 -20px;
        }
        &.i_msg{
            background-position: 0 -54px;
        }
        &.i_talk{
            background-position: 0 -86px;
        }
        &.i_friend{
            background-position: 0 -118px;
        }
        span{
            padding-right: 10px;
            position: relative;
            &.i_new:after{
                position: absolute;
                content: "";
                display: block;
                right: 0;
                top: 0;
                width: 6px;
                height: 6px;
                background: red;
                -webkit-border-radius: 6px;
            }
        }
    }
}


.msg_index_top {
    // margin-bottom: 10px;
    img {
        width: 100%;
        display: block;
    }
}


.msg_menu_list {
    background: #fff;
    @include border_top_half;
    ul {
        @include border_bottom_half;
        display: -webkit-box;
        li {
            width: 0;
            line-height: 26px;
            -webkit-box-flex: 1;
            text-align: center;
            font-size: 14px;
            height: 65px;
            position: relative;

            &:nth-child(even) {
                @include border_horizontal_half;
            }

            &:before {
                display: block;
                padding-top: 8px;
                font-size: 34px;
                font-family: "Ionicons";
                font-weight: normal;
                text-align: center;
            }
            &.new {
                &:after {
                    display: block;
                    content: "";
                    width: 10px;
                    height: 10px;
                    background: red;
                    position: absolute;
                    left: 50%;
                    top: 10px;
                    margin-left: 20px;
                    -webkit-border-radius: 10px;
                }
            }

            &.icon_hit {
                &:before {
                    content: "\f388";
                    color: #c60025;
                }
            }
            &.icon_comment {
                &:before {
                    content: "\f148";
                    content: "\f11f";
                    color: #3cc482;
                }
            }
            &.icon_notice {
                &:before {
                    content: "\f257";
                    color: #83407d;
                }
            }
            &.icon_talk {
                &:before {
                    content: "\f132";
                    color: #3394ee;
                }
            }
            &.icon_friend {
                &:before {
                    content: "\f3a0";
                    color: #e2a63c;
                }
            }
        }
    }
}