.msg_notice_list{
    background: #fff;
    padding: 0 10px 10px;
    li{
        display: -webkit-box;
        padding: 10px 0;
        @include border_bottom_half;
        img{
            margin-right: 10px;
            display: block;
            -webkit-border-radius: 40px;
            width: 40px;
            height: 40px;
        }
        dl{
            margin: 0;
            -webkit-box-flex: 1;
            dt{
                line-height: 25px;
                @include green;
            }
            dd{
                font-size: 12px;
                &:last-child{
                    @include gray;
                }
            }
        }
    }
}