//toast样式
.mod_msg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    text-align: center;
    color: #fff;

    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);

    @include box($align: center, $pack: center);
    span {
        display: inline-block;
        padding: 10px 20px;
        line-height: 20px;
        color: #fff;
        background: rgba(0, 0, 0, 0.7);
        @include border-radius(5px);
    }
}

.mod_path {
    // @include border-half($type: all, $color: gray);
    background: #eee;
    margin-bottom: 10px;
    dt {
        line-height: 30px;
        background: $green;
        padding: 0 10px;
        color: #fff;
        display: inline-block;
    }
    dd {
        line-height: 20px;
        padding: 10px;
        background: #fff;
    }
}

.mod_nodata {
    text-align: center;
    line-height: 100px;
    background: #fff;

    @include border-half($type: all, $color: gray);
    &:after {
        content: "没有数据";
        display: inline-block;
    }
}

// loading
.mod_loading {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;

    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;

    @include box($align: center, $pack: center);

    &:after {
        background: rgba(0,0,0,0.9);
        content: "loading...";
        display: block;
        color: #fff;
        text-align: center;
        font-size: 12px;

        width: 80px;
        line-height: 30px;

        @include border-radius(5px);

        -webkit-animation: loading 2s linear infinite;
    }
}
@keyframes loading {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
    }
}


.mod_login {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    li {
        @include border-half();
        @include box($align: center);
        label,
        input {
            display: block;
        }
        label {
            width: 60px;
        }
        input {
            -webkit-box-flex: 1;
            border: 0;
            line-height: 20px;
            padding: 10px;
        }
        div {
            width: 60px;
            text-align: center;
            background: #fff;
            height: 40px;
            line-height: 40px;
        }

        &:last-child {
            display: block;
            cursor: pointer;
            border: 0;
            margin-top: 10px;
            background: $green;
            line-height: 40px;
            text-align: center;
            color: #fff;
        }
    }
}


.mod_text {
    line-height: 20px;
    @include border-half($type: bottom);
    margin-bottom: 10px;
}


// 修改密码
.mod_password {
    ul {
        margin-bottom: 10px;
        li {
            @include border-half($type: bottom);
            @include box();
            label,
            input {
                display: block;
            }
            label {
                line-height: 40px;
                width: 100px;
            }
            input {
                line-height: 20px;
                padding: 5px 10px;
                width: 200px;
            }
        }
    }
    button {
        background: $green;
        color: #fff;
        outline: none;
        cursor: pointer;
        text-align: center;
        display: block;
        border: none;
        line-height: 40px;
        width: 200px;
        font-size: 14px;
    }
}

.mod_page {
    @include box();
    li {
        padding: 0 10px;
        text-align: center;
        line-height: 30px;
        margin-right: 10px;
        background: #eee;
        cursor: pointer;
        @include border-half($type: all, $color: gray);
        &.current {
            background: $green;
            color: #fff;
        }
    }
}


.article_detail {
    background: #fff;
    padding: 10px;
    .t_content {
        margin-bottom: 10px;
        img {
            max-width: 100%;
            display: block;
            margin-bottom: 10px;
        }
        div {
            line-height: 20px;
        }
    }

    .t_author {
        background: #f8f8f8;
        padding: 10px;
        @include border-half($type: y, $color: gray);
        @include box($align: center);
        img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            @include border-radius(20px);
        }
        div {
            line-height: 20px;
            width: 0;
            -webkit-box-flex: 1;
            h4 {
                line-height: 20px;
                font-size: 14px;
                font-weight: normal;
                color: $green;
            }
            i {
                padding-right: 10px;
            }
        }
    }
}


.filter_cate {
    // padding: 10px;
    // background: #fff;
    // @include border-half($type: all, $color: gray);
    margin-bottom: 10px;
    select {
        cursor: pointer;
        background: transparent;
        padding: 5px 10px;
        font-size: 12px;
        outline: none;
        -webkit-appearance: none; /*for chrome*/
        -webkit-border-radius: 0;
        margin-right: 10px;
        background: $green;
        border: none;
        color: #fff;
    }
}




.mod_add,
.mod_modify {
    background: #fff;
    padding: 10px;
    li {

        line-height: 20px;
        padding: 10px 0;
        @include box($align: center);
        @include border-half($type: bottom, $color: gray);
        label {
            width: 120px;
            display: block;
        }
        input,
        textarea {
            display: block;
            line-height: 20px;
            padding: 5px;
            width: 300px;
            outline: none;
            @include border-half($type: all, $color: gray);
        }
        textarea {
            height: 100px;
        }
        .t_upload {
            @include box($align: center);
            input {
                padding: 0;
                margin: 0;
                width: 50px;
                height: 50px;
                background: #eee;
                overflow: hidden;
                border: 0;
                position: relative;
                margin-right: 10px;
                @include icon($type: "\f218", $color: #999, $line: 50px);
                &:before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    background: #eee;
                    cursor: pointer;
                }
            }
            img {
                width: 50px;
                height: 50px;
                display: block;
            }
        }
    }
}
.mod_add_btn {
    @include box($align: center);
    p {
        display: block;
        line-height: 40px;
        background: #ddd;
        text-align: center;
        width: 100px;
        margin-right: 10px;
        cursor: pointer;
    }
}


.article_detail_text{
    margin-bottom: 10px;
    background: #eee;
    li {
        display: inline-block;
        line-height: 30px;
        padding: 5px 10px;
        text-align: center;
        &:nth-child(1) {
            cursor: pointer;
            background: $green;
            color: #fff;
            @include icon($color: #fff, $mr: 10px);
        }
        &.t_praise {
            @include icon();
        }
        &.t_hit {
            @include icon();
        }
        &.t_collect {
            @include icon();
        }
    }
}


