.user_header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    height: 44px;
    div, ul {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    div {
        z-index: 1;
        opacity: 0;
        background: #fff;
    }
    ul {
        z-index: 2;
        display: -webkit-box;
        li {
            display: block;
            &:nth-child(1),
            &:nth-child(3) {
                width: 50px;
                text-align: center;
                &:before,
                &:after {
                    line-height: 44px;
                    display: block;
                    font-size: 30px;
                    font-family: "Ionicons";
                    font-weight: normal;
                    color: #fff;
                }
                &:after {
                    color: #3cc482;
                    // opacity: 0;
                }
            }
            &:nth-child(1) {
                &:before {
                    content: "\f422";
                }   
            }
            &:nth-child(3) {
                &:before {
                    content: "\f43c";
                }   
            }
            &:nth-child(2) {
                width: 0;
                line-height: 44px;
                font-size: 16px;
                text-align: center;
                color: #fff;
                -webkit-box-flex: 1;
            }
        }
    }
}


.user_info_top {
    width: 100%;
    color: #fff;
    overflow: hidden;
    height: 250px;
    padding-top: 50px;
    position: relative;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
    background:url(img/bg_user.png) no-repeat center bottom #099fde;
    background-size:100% auto;
    // margin-bottom: 10px;
    img {
        display: block;
        margin: 0 auto;
        width: 70px;
        height: 70px;
        border: 2px solid #fff;
        -webkit-border-radius: 70px;
    }
    h2 {
        margin: 0;
        text-align: center;
        line-height: 30px;
        font-size: 16px;
        color: #fff;
        font-weight: bold;
    }
    .this_text {
        display: -webkit-box;
        a {
            color: #fff;
            font-weight: bold;
            display: block;
            line-height: 20px;
            width: 0;
            -webkit-box-flex: 1;
            &:nth-child(odd) {
                text-align: right;
                padding-right: 5px;
            }
            &:nth-child(even) {
                text-align: left;
                padding-left: 5px;
            }
        }
        .this_i {
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            margin-left: 5px;
            background: url(img/icon_i.png) no-repeat center center;
            background-size: 20px auto;
        }
    }
    .this_btn,
    .this_login {
        color: #fff;
        border: 1px solid #fff;
        text-align: center;
        display: block;
        line-height: 40px;
        width: 100px;
        margin: 0 auto;
        margin-top: 5px;
        -webkit-border-radius: 3px;
        font-weight: bold;
        font-size: 16px;
        text-shadow: 2px 1px 1px rgba(0, 0, 0, .1);
    }

    .this_login {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -50px;
    }
}


.user_menu_list {
    background: #fff;
    @include border_vertical_half;

    li {
        line-height: 50px;
        display: -webkit-box;
        &:before {
            display: block;
            width: 50px;
            font-size: 30px;
            font-family: "Ionicons";
            font-weight: normal;
            text-align: center;
        }


        &.icon_post {
            &:before {
                content: "\f148";
                color: #aaa;
            }
        }
        &.icon_fav {
            &:before {
                content: "\f3ea";
                color: #f90;
            }
        }
        &.icon_suggest {
            &:before {
                content: "\f11d";
                color: #a8f;
            }
        }
        &.icon_about {
            &:before {
                content: "\f47c";
                color: #3cc482;
            }
        }
        p {
            width: 0;
            -webkit-box-flex: 1;
            margin-bottom: 0;
            position: relative;
            font-size: 14px;
            @include border_bottom_half;

            &:after {
                font-family: "Ionicons";
                font-weight: normal;
                text-align: center;
                content: "\f3d3";
                display: block;
                width: 30px;
                line-height: 30px;
                right: 0;
                top: 50%;
                margin-top: -15px;
                font-size: 26px;
                position: absolute;
                color: #ccc;
            }
        }

        &:last-child {
            p {
                border: 0;
            }
        }
    }
}


.user_bottom_logo {
    height: 90px;
    width: 100%;
    background: url(img/login_bg.png) no-repeat center center;
    background-size: auto 30px;
}