$bgcolor: #e6e8e7;
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button {
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}
html {
    height: 100%;
}
img {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
input, textarea, select {
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    resize: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none;
    background-color: transparent;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
table {
    border-collapse: collapse;
}
a {
    color: #333;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
ol, ul, li {
    list-style: none;
}
dfn, em, i {
    font-style: normal;
}
body {
    height: 100%;
    font-size: 14px;
    line-height: 1.5;
    background: $bgcolor;
    // -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    // font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-family: Arial, "Lucida Grande", Verdana, "Microsoft YaHei";
}
a {
    text-decoration: none;
    outline: 0;
    color: #333;
}
a:visited {
    text-decoration: none;
}
// a:active
button:active {
    opacity: 0.7;
}
a.disable, button.disable {
    opacity: 1 !important;
    background-color: #ddd !important;
    &.no_background {
        background-color: transparent !important;
    }
}
//文字超出显示...
@mixin ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
//多行文字超出显示... 参数：line-clamp
@mixin multi_ellipsis($line:3) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
@mixin scrollfix {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

//按钮1(以popup确认按钮为标准) 参数：width, height
@mixin button($width:90px, $height:34px) {
    width: $width;
    height: $height;
    line-height: $height;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    outline: none;
}

//滚动容器
.scrollfix {
    @include scrollfix;
}

//蒙版
.mod_mask {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    background: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
}
//toast样式
.notifier {
    position: absolute;
    top: 45%;
    width: 100%;
    z-index: 10;
    text-align: center;
    color: #FFF;
    span {
        display: inline-block;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, .6);
    }
}
//加载ing
.mod_loading {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 201;
    background: url(images/loading.png) no-repeat 0 0;
    background-size: 100% auto;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    display: none;
    -webkit-animation: loadimg 1s linear infinite;
    -webkit-transform-origin: 50% 50%;
}
@-webkit-keyframes loadimg {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
//定义滚动容器
.mod_scroll {
    @include scrollfix;
    padding: 54px 10px 48px;
}
//定义白色布局
.mod_layout {
    background-color: #fff;
    padding: 5px 10px;
    // border-bottom: 2px solid #cacdcb;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    margin-bottom: 10px;
}
//定义白色布局标题
.mod_layout_title {
    font-size: 12px;
    line-height: 28px;
    padding: 0 5px;
}
#js_view {
    width: 100%;
    height: 100%;
}


//margin
@mixin mb($margin:0px){
    margin-bottom: $margin !important;
}
.mb0{
    @include mb();
}
.mb5{
    @include mb(5px);
}
.mb10{
    @include mb(10px);
}


.is_ios{
    .mod_tab_2,
    .mod_header,
    .mod_header_search{
        border-top: 20px solid #fff !important;
    }
    .unit_home{
        padding-top: 61px !important;
    }
    .mod_scroll{
        padding-top: 74px !important;
    }
    .unit_find_cate_two,
    .unit_find_cate_three,
    .unit_find_cate_info{
        padding-top: 70px !important;
    }
    .unit_find_scroll{
        padding-top: 64px !important;
    }
    .unit_msg_scroll{
        .unit_msg_list_03{
            padding-top: 20px !important;
        }
    }
    .unit_member_scroll{
        padding-top: 20px !important;
    }
    .unit_article_scroll{
        padding-top: 30px !important;
    }
}


.mod_list_loading{
    text-align: center;
    line-height: 30px;
    display: none;
}
.mod_no_more{
    text-align: center;
    line-height: 30px;
    display: none;
}
