$bgcolor: #e6e8e7;
$green_val: #3cc482;
$gray_val: #cacdcb;

.unit_find_top{
    width: 100%;
    padding: 10px 0;
    height: 80px;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    background: url(img/bg_find_top.jpg) no-repeat center 0;
    background-size: 100% 100%;
    li{
        width: 60px;
        color: #fff;
        text-align: center;
        padding-top: 60px;
        line-height: 20px;
        background-image: url(img/icon_find_top.png);
        background-repeat: no-repeat;
        background-size: auto 60px;
        margin: 0 10px;
        &:nth-child(1){
            background-position: 0 0;
        }
        &:nth-child(2){
            background-position: -98px 0;
        }
        &:nth-child(3){
            background-position: -190px 0;
        }
    }
}


.unit_find_subject{
    background: #fff;
    overflow: hidden;
    padding: 0 10px 10px;
    ul{
        display: -webkit-box;
        &.this_left{
            li{
                text-align: left;
            }
        }
        li{
            display: block;
            line-height: 20px;
            width: 70px;
            text-align: center;
            font-size: 12px;
            margin-right: 10px;
            img{
                width: 70px;
                height: 70px;
                display: block;
            }
            &.this_more{
                background: url(img/img_find_more.jpg) no-repeat center 0;
                background-size: 100% auto;
                padding-top: 70px;
            }
            p{
                @include gray;
            }
        }
    }
}


.unit_find_cate{
    padding: 10px;
    div{
        background: #fff;
        font-size: 0;
        padding: 0 10px;
        ul{
            @include border_bottom_half;
            padding: 10px 0;
            li{
                width: 50%;
                font-size: 14px;
                line-height: 30px;
                display: inline-block;
                &:before{
                    content: "";
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    background: $green_val;
                    -webkit-border-radius: 6px;
                    vertical-align: middle;
                    margin-right: 5px;
                }
            }
            &:last-child{
                border: none;
            }
        }
    }
}


.unit_find_cate_two{
    background: url(img/img_find_cate_bg.jpg) no-repeat center 0;
    background-size: 100% 100%;
    padding: 50px 0 20px;
    font-size: 12px;
    .this_list_cate{
        text-align: center;
        margin: 0 auto;
        font-size: 0;
        width: 200px;
        li{
            border: 1px solid #fff;
            color: #fff;
            text-align: center;
            width: 80px;
            line-height: 27px;
            font-size: 14px;
            margin: 0 5px 10px;
            display: inline-block;
            -webkit-border-radius: 3px;
        }
    }
}


.unit_find_cate_three{
    background: url(img/img_find_cate_bg.jpg) no-repeat center 0;
    background-size: 100% 100%;
    padding: 50px 0 20px;
    font-size: 12px;
    .this_list_cate{
        width: 280px;
        text-align: center;
        margin: 0 auto;
        font-size: 0;
        li{
            border: 1px solid #fff;
            color: #fff;
            text-align: center;
            width: 80px;
            line-height: 27px;
            font-size: 14px;
            margin: 0 5px 10px;
            display: inline-block;
            -webkit-border-radius: 3px;
        }
    }
}


.unit_find_cate_info{
    background: url(img/img_find_cate_bg.jpg) no-repeat center 0;
    background-size: 100% 100%;
    padding: 50px 0 20px;
    font-size: 12px;
    color: #fff;
    div{
        display: -webkit-box;
        img{
            width: 70px;
            height: 70px;
            border: 2px solid #fff;
            margin: 0 10px 0 20px;
        }  
        p{
            -webkit-box-flex: 1;
            margin-right: 20px;
            &:first-line{
                font-size: 16px;
            }
        }
    }
    button{
        display: block;
        background: none;
        border: 1px solid #fff;
        color: #fff;
        width: 90px;
        line-height: 30px;
        margin: 0 auto;
        outline: none;
        margin-top: 10px;
        font-size: 14px;
        -webkit-border-radius: 3px;
    }
}

/*
* 底部按钮
* 发现-圈子.html
*/
.unit_footer_btn{
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    padding: 4px 0;
    @include border_top_half;
    button{
        @include button(100px, 36px);
        border: none;
        outline: none;
        margin: 0 auto;
        font-size: 16px;
        background: $green_val;
    }
}

/*发现-活动-晒图活动页.html*/
.unit_activity_text{
    background: url(img/bg_activity_text.jpg) no-repeat center;
    background-size: 100% 100%;
    color: #fff;
    padding: 10px;
    h2{
        text-align: center;
        font-size: 16px;
        line-height: 30px;
    }
    article{
        padding: 10px 20px;
        font-size: 12px;
    }
}


/*发现-圈子-全部列表.html*/
.unit_letter{
    width: 20px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 51;
    background: rgba(0,0,0,.5);
    ul{
        padding-top: 50px;
        li{
            display: block;
            line-height: 16px;
            text-align: center;
            color: #fff;
            font-size: 12px;
        }
    }
}


/*发现-圈子-未加入.html*/
.unit_club_other_info{
    background: #fff;
    margin-bottom: 10px;
    padding: 0 10px;
    @include border_bottom_half;
    li{
        background-image: url(img/icon_club.png);
        background-repeat: no-repeat;
        display: -webkit-box;
        line-height: 30px;
        padding: 10px 0;
        text-indent: 30px;
        @include border_bottom_half;
        &:last-child{
            border: none;
        }
        &.this_reg{
            background-position: 0 13px;
            background-size: 30px auto;
            button{
                @include button(60px);
                background: $green_val;
                border: none;
                outline: none;
                font-size: 14px;
            }
            span{
                @include green;
            }
        }
        &.this_user{
            background-position: 0 -30px;
            background-size: 30px auto;
            i{
                display: block;
                padding-right: 20px;
                background: url(img/icon_arrow.png) no-repeat right center;
                background-size: 13px auto;
            }
            button{
                @include button(80px);
                background: $green_val;
                border: none;
                outline: none;
                font-size: 14px;
            }
        }
        &.this_acti{
            background-image: url(img/icon_club.png), url(img/icon_arrow.png);
            background-position: 0 -68px, right center;
            background-size: 30px auto, 13px auto;

        }
        p{
            -webkit-box-flex: 1;
        }
    }
}