// $bgcolor: #e6e8e7;
$bgcolor: #f8f8f8;
$green_val: #3cc482;
$gray_val: #cacdcb;

@import "ionic/ionic.scss";


@import "sass/common.border.scss";
@import "sass/common.reset.scss";
@import "sass/common.btn.scss";
@import "sass/common.color.scss";
@import "sass/common.footer.scss";
@import "sass/common.header.scss";
@import "sass/common.list.scss";
@import "sass/common.popup.scss";
@import "sass/common.slide.scss";
@import "sass/common.tab.scss";
@import "sass/common.title.scss";


// @import "sass/clump.content.scss";
// @import "sass/clump.list.scss";

@import "sass/entry.login.scss";
@import "sass/entry.register.scss";

@import "sass/forum.find.scss"; //发现首页
@import "sass/forum.cate.scss"; //栏目页
@import "sass/forum.detail.scss"; //帖子详情页

@import "sass/forum.club.hot.scss"; //热门圈子
@import "sass/forum.club.detail.scss"; //圈子详情
@import "sass/forum.club.ranking.scss"; //圈子成员排行
@import "sass/forum.club.list.scss"; //全部圈子

@import "sass/forum.activity.list.scss"; //活动列表
@import "sass/forum.activity.detail.scss"; //活动详情

@import "sass/forum.subject.list.scss"; //专题列表
@import "sass/forum.subject.detail.scss"; //专题详情

@import "sass/forum.search.scss"; //搜索

@import "sass/forum.comment.list.scss"; //评论列表

// @import "sass/forum.content.scss";
// @import "sass/forum.list.scss";
@import "sass/forum.photo.scss";

@import "sass/home.content.scss";
@import "sass/home.index.scss";
@import "sass/home.list.scss";
@import "sass/home.start.scss";


@import "sass/message.index.scss"; //消息中心首页
@import "sass/message.chat.scss"; //聊天
@import "sass/message.praise.scss"; //赞
@import "sass/message.comment.scss"; //评论
@import "sass/message.notice.scss"; //通知
@import "sass/message.talk.scss"; //私聊

@import "sass/member.content.scss";
@import "sass/member.list.scss";
@import "sass/member.other.scss";

@import "sass/user.index.scss"; //个人主页


