.unit_letter {
    width: 20px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 51;
    background: rgba(0, 0, 0, .5);
    ul {
        padding-top: 50px;
        li {
            display: block;
            line-height: 16px;
            text-align: center;
            color: #fff;
            font-size: 12px;
        }
    }
}
.unit_about {
    background: #fff;
    padding: 10px;
    @include border_half;
    .this_logo {
        display: block;
        background: url(img/img_logo.jpg) no-repeat center;
        background-size: 100% auto;
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }
    .this_copy {
        line-height: 20px;
        text-align: center;
        color: #cacdcb;
        font-size: 12px;
        padding-bottom: 10px;
        @include border_bottom_half;
    }
    .this_text {
        line-height: 20px;
        padding: 10px 20px;
    }
}
.unit_pasword {
    background: #fff;
    padding: 5px 10px;
    margin-bottom: 10px;
    @include border_half;
    li {
        display: -webkit-box;
        padding: 10px 0;
        -webkit-box-align: center;
        @include border_bottom_half;
        label {
            display: block;
            width: 80px;
        }
        input {
            -webkit-box-flex: 1;
            display: block;
            border: none;
            line-height: 30px;
        }
        &:last-child {
            border-bottom-width: 0; 
        }
    }
}
.unit_bind {
    background: #fff;
    padding: 10px;
    li {
        padding: 10px 0 10px 40px;
        @include border_bottom_half;
        display: -webkit-box;
        -webkit-box-align: center;
        div {
            -webkit-box-flex: 1;
            color: #cacdcb;
            font-size: 12px;
            line-height: 16px;
            &:first-line {
                color: #000;
                font-size: 14px;
            }
        }
        button {
            @include button(50px, 30px);
            background: #3cc482;
            border: none;
            &.md {
                background: #cacdcb;
            }
            outline: none;
            cursor: pointer;
        }
        p {
            color: #cacdcb;
            font-size: 12px;
        }
        &.this_weibo {
            background: url(img/icon_weibo.jpg) no-repeat 0 center;
            background-size: 30px auto;
        }
        &.this_qq {
            background: url(img/icon_qq.jpg) no-repeat 0 center;
            background-size: 30px auto;
        }
        &.this_mobile {
            background: url(img/icon_mobile.jpg) no-repeat 0 center;
            background-size: 30px auto;
        }
        &.this_weixin {
            background: url(img/icon_weixin.jpg) no-repeat 0 center;
            background-size: 30px auto;
        }
    }
}
.unit_user_grade {
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    dt {
        color: #3cc482;
        line-height: 30px;
    }
    dd {
        line-height: 20px;
        padding-left: 20px;
    }
}
.unit_view_info {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    @include border_half;
    li {
        display: -webkit-box;
        padding: 10px 0;
        -webkit-box-align: center;
        @include border_bottom_half;
        p {
            display: block;
            &:nth-child(1) {
                width: 80px;
                @include gray;
            }
            &:nth-child(2) {
                -webkit-box-flex: 1;
            }
        }
    }
}
.unit_owner_set {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    li {
        display: -webkit-box;
        @include border_bottom_half;
        -webkit-box-align: center;
        padding: 5px 0;
        line-height: 30px;
        background: url(img/icon_arrow.png) no-repeat right center;
        background-size: 11px auto;
        &.no {
            background: none;
        }
        p {
            display: block;
            &:nth-child(1) {
                width: 80px;
                @include gray;
            }
            &:nth-child(2) {
                -webkit-box-flex: 1;
            }
        }
    }
}
.unit_owner_push {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    li {
        padding: 5px 0;
        line-height: 30px;
        font-size: 12px;
        display: -webkit-box;
        @include border_bottom_half;
        div {
            display: block;
            &:nth-child(1) {
                -webkit-box-flex: 1;
                @include ellipsis;
            }
            &:nth-child(2) {
                background: #e6e8e7;
                width: 90px;
                line-height: 30px;
                padding: 1px;
                font-size: 0;
                color: #fff;
                position: relative;
                -webkit-border-radius: 3px;
                span {
                    display: block;
                    width: 45px;
                    font-size: 12px;
                    line-height: 30px;
                    text-align: center;
                    position: absolute;
                    top: 0;
                    -webkit-border-radius: 3px;
                    &.this_close {
                        background: #cacdcb;
                        left: 0;
                    }
                    &.this_open {
                        background: #3cc482;
                        right: 0;
                    }
                }
            }
        }
    }
}