.unit_photo{
    @include scrollfix;
    padding-top: 44px;

    .this_photo {
        position: relative;
        img{
            width: 100%;
            visibility: hidden;
        }
        canvas {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }
    }

    .this_tmp_canvas {
        width: 0;
        height: 0;
        overflow: hidden;
    }

    .this_tab {
        background: #eee;
        padding-bottom: 10px;
        border-top: 10px solid #444;
        display: -webkit-box;
        li {
            font-size: 16px;
            font-weight: bolder;
            width: 70px;
            text-align: center;
            line-height: 40px;
            position: relative;
            cursor: pointer;
            &.current:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                left: 50%;
                margin-left: -10px;
                bottom: -10px;
                border-width: 7px;
                border-color: transparent transparent #fff transparent;
                border-style: solid;
            }
            &:last-child {
                text-align: left;
                font-weight: normal;
            }
        }
    }

    .this_scroll {
        padding-top: 10px;
        overflow: hidden;
        background: #fff;
        position: relative;
        ul {
            position: absolute;
            left: 0;
            top: 10px;
            display: -webkit-box;
            li {
                display: block;
                width: 70px;
                margin-left: 10px;
                text-align: center;
                line-height: 30px;
                img {
                    width: 100%;
                }
                &.current {
                    img {
                        border: 1px solid #3cc482;
                    }
                }
                &:last-child {
                    margin-right: 10px;
                }
            }
        }
    }

    .this_edit_title {
        padding: 10px;
        ul {
            background: #fff;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
            li {
                padding: 10px;
                height: 70px;
                display: -webkit-box;
                -webkit-box-align: stretch;
                div {
                    margin-right: 10px;
                    position: relative;
                    img {
                        width: 70px;
                        height: 70px;
                        display: block;
                    }
                    span {
                        display: block;
                        width: 16px;
                        height: 16px;
                        background: #ddd;
                        position: absolute;
                        right: -3px;
                        top: -3px;
                        -webkit-border-radius: 16px;
                        &:before,
                        &:after {
                            content: "";
                            display: block;
                            width: 10px;
                            height: 2px;
                            background: #777;
                            position: absolute;
                            left: 3px;
                            top: 7px;
                        }
                        &:before {
                            -webkit-transform: rotate(45deg);
                        }
                        &:after {
                            -webkit-transform: rotate(-45deg);
                        }
                    }
                }
                textarea {
                    display: block;
                    outline: none;
                    height: 70px;
                    -webkit-box-flex: 1;
                    @include border_bottom_half;
                }
                p {
                    width: 70px;
                    height: 70px;
                    background: #eee;
                    position: relative;
                    &:before,
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        background: #ccc;
                    }
                    &:before {
                        width: 20px;
                        height: 4px;
                        margin-left: -10px;
                        margin-top: -2px;
                    }
                    &:after {
                        width: 4px;
                        height: 20px;
                        margin-left: -2px;
                        margin-top: -10px;
                    }
                }
            }
        }
    }

    .this_list_cate {
        padding: 10px;
        ul {
            background: #fff;
            padding: 0 10px;
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
            li {
                line-height: 30px;
                padding: 10px 0;
                background: url(img/icon_arrow.png) no-repeat right center;
                background-size: 10px auto;
                @include border_bottom_half;
                &:last-child {
                    border: none;
                }
            }
        }
    }
}