.unit_comment_list {
    padding: 10px;
    background: #fff;
    li {
        display: -webkit-box;
        padding: 5px 0;
        @include border_bottom_half;
        img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            -webkit-border-radius: 40px;
        }
        dl {
            -webkit-box-flex: 1;
            dt {
                line-height: 20px;
                margin-bottom: 5px;
                @include green;
                i {
                    @include gray;
                    float: right;
                    font-size: 12px;
                }
            }
            dd {
                line-height: 18px;
                font-size: 12px;
            }
        }
    }
}
.unit_comment_textarea {
    margin-bottom: 10px;
    textarea {
        width: 100%;
        height: 200px;
        display: block;
        padding: 10px;
        -webkit-box-sizing: border-box;
    }
}
.unit_comment_btn {
    @include button();
    width: 100%;
    background: $green_val;
}
.comment_report {
    li {
        background-color: #fff;
        margin-bottom: 10px;
        padding: 0 12px;
        input {
            width: 100%;
            line-height: 32px;
        }
    }
}
.comment_header {
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 45%, #fff 45%, #fff 55%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0) 100%);
    background-size: 100% 100%;
    .right_menu_gray {
        width: 40px;
        background: url(img/icon_menu_gray.png) no-repeat center;
        background-size: 4px auto;
    }
}
.comment_home {
    padding: 10px 10px 48px;
    .comment_layout {
        background-color: #fff;
        padding: 5px;
        border-bottom: 2px solid #cacdcb;
        margin-bottom: 10px;
        img {
            width: 100%;
            display: block;
        }
        p {
            line-height: 18px;
            padding: 5px 5px 10px;
        }
    }
}