html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

html {
  height: 100%; }

img {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: top; }

input, textarea, select {
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  resize: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: none;
  background-color: transparent; }

input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

table {
  border-collapse: collapse; }

a {
  color: #333;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ol, ul, li {
  list-style: none; }

dfn, em, i {
  font-style: normal; }

body {
  height: 100%;
  font-size: 14px;
  line-height: 1.5;
  background: #e6e8e7;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  font-family: 'Microsoft Yahei', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif; }

a {
  text-decoration: none;
  outline: 0;
  color: #333; }

a:visited {
  text-decoration: none; }

a:active, button:active {
  opacity: 0.7; }

.scrollfix {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.mod_mask {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: none; }

.mod_loading {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 201;
  background: url(images/loading.png) no-repeat 0 0;
  background-size: 100% auto;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  display: none;
  -webkit-animation: loadimg 1s linear infinite;
  -webkit-transform-origin: 50% 50%; }

@-webkit-keyframes loadimg {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

.mod_scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 58px 10px 48px; }

.mod_layout {
  background-color: #fff;
  padding: 5px 10px;
  border-bottom: 2px solid #cacdcb;
  margin-bottom: 10px; }

.mod_layout_title {
  font-size: 12px;
  line-height: 28px;
  padding: 0 5px; }

.mod_header {
  width: 100%;
  height: 48px;
  line-height: 47px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  -webkit-box-sizing: border-box;
  -webkit-box-pack: justify;
  box-sizing: border-box;
  background-color: #fff;
  border-width: 0;
  border-bottom: 1px solid #dedede;
  -webkit-border-image: url(img/icon_border_half.png) 2 stretch; }
  .mod_header.transparent {
    background-color: transparent;
    border-bottom: 0 none; }
  .mod_header a, .mod_header h1 {
    display: block; }
  .mod_header .back_button {
    font-size: 15px;
    width: 40px;
    text-indent: -9999px;
    background: url(img/back_arrow.png) no-repeat 15px center;
    background-size: 15px auto; }
    .mod_header .back_button ~ .title_content {
      padding-left: 0; }
  .mod_header .right_button {
    padding-left: 10px;
    padding-right: 15px;
    font-size: 14px;
    color: #3cc482; }
  .mod_header .title_content {
    -webkit-box-flex: 1;
    padding-left: 15px;
    font-size: 15px;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
    .mod_header .title_content.full {
      padding-left: 0;
      text-align: center; }

.mod_header_search {
  width: 100%;
  height: 48px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  box-sizing: border-box;
  background-color: #fff;
  border-width: 0;
  border-bottom: 1px solid #dedede;
  -webkit-border-image: url(img/icon_border_half.png) 2 stretch; }
  .mod_header_search div {
    border-style: solid;
    border-width: 5px 10px;
    border-color: #fff;
    position: relative; }
    .mod_header_search div input {
      width: 100%;
      border-width: 1px;
      border: 1px solid #dedede;
      -webkit-border-image: url(img/icon_border_half.png) 2 stretch;
      font-size: 12px;
      height: 36px;
      line-height: 36px;
      padding-right: 40px;
      box-sizing: border-box;
      text-indent: 5px; }
    .mod_header_search div button {
      border: none;
      width: 35px;
      height: 35px;
      position: absolute;
      right: 1px;
      top: 1px;
      outline: none;
      cursor: pointer;
      background: url(img/icon_search.png) no-repeat center;
      background-size: 25px auto; }

.mod_footer {
  border-width: 0;
  border-top: 1px solid #dedede;
  -webkit-border-image: url(img/icon_border_half.png) 2 stretch;
  background: #fff;
  width: 100%;
  height: 48px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100; }
  .mod_footer ul {
    display: -webkit-box; }
    .mod_footer ul li {
      line-height: 28px;
      text-align: center;
      color: #cacdcb;
      width: 0;
      padding-top: 20px;
      cursor: pointer;
      -webkit-box-flex: 1; }
      .mod_footer ul li:active, .mod_footer ul li.current {
        color: #3cc482; }
      .mod_footer ul li:nth-child(1) {
        background: url(img/icon_home.png) no-repeat center 5px;
        background-size: auto 20px; }
        .mod_footer ul li:nth-child(1):active, .mod_footer ul li:nth-child(1).current {
          background: url(img/icon_home_hover.png) no-repeat center 5px;
          background-size: auto 20px; }
      .mod_footer ul li:nth-child(2) {
        background: url(img/icon_find.png) no-repeat center 5px;
        background-size: auto 20px; }
        .mod_footer ul li:nth-child(2):active, .mod_footer ul li:nth-child(2).current {
          background: url(img/icon_find_hover.png) no-repeat center 5px;
          background-size: auto 20px; }
      .mod_footer ul li:nth-child(3) {
        background: url(img/icon_camera.png) no-repeat center 4px;
        background-size: auto 40px; }
        .mod_footer ul li:nth-child(3):active, .mod_footer ul li:nth-child(3).current {
          background: url(img/icon_camera_hover.png) no-repeat center 4px;
          background-size: auto 40px; }
      .mod_footer ul li:nth-child(4) {
        background: url(img/icon_msg.png) no-repeat center 5px;
        background-size: auto 20px;
        position: relative; }
        .mod_footer ul li:nth-child(4):active, .mod_footer ul li:nth-child(4).current {
          background: url(img/icon_msg_hover.png) no-repeat center 5px;
          background-size: auto 20px; }
        .mod_footer ul li:nth-child(4).news:after {
          position: absolute;
          top: 5px;
          right: 50%;
          margin-right: -23px;
          content: "";
          width: 6px;
          height: 6px;
          background: red;
          display: block;
          -webkit-border-radius: 6px; }
      .mod_footer ul li:nth-child(5) {
        background: url(img/icon_member.png) no-repeat center 5px;
        background-size: auto 20px; }
        .mod_footer ul li:nth-child(5):active, .mod_footer ul li:nth-child(5).current {
          background: url(img/icon_member_hover.png) no-repeat center 5px;
          background-size: auto 20px; }

.comment_footer {
  display: -webkit-box;
  border-width: 0;
  border-top: 1px solid #dedede;
  -webkit-border-image: url(img/icon_border_half.png) 2 stretch;
  background-color: #fff;
  width: 100%;
  height: 48px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100; }
  .comment_footer a {
    display: block;
    line-height: 48px;
    padding-left: 34px;
    -webkit-box-flex: 1; }
    .comment_footer a.footer_heart {
      background: url(img/icon_heart_gray.png) no-repeat 10px center;
      background-size: 20px auto; }
      .comment_footer a.footer_heart.has_heart {
        background-image: url(img/icon_heart_green.png); }
    .comment_footer a.footer_comment {
      background: url(img/icon_comment.png) no-repeat 10px center;
      background-size: 20px auto; }
    .comment_footer a.footer_share {
      background: url(img/icon_share.png) no-repeat 10px center;
      background-size: 20px auto; }
    .comment_footer a.footer_collect {
      background: url(img/icon_star_gray.png) no-repeat 10px center;
      background-size: 20px auto; }
      .comment_footer a.footer_collect.has_collect {
        background-image: url(img/icon_star_green.png); }

.color_green {
  color: #3cc482 !important; }

.unit_comment_textarea {
  margin-bottom: 10px; }
  .unit_comment_textarea textarea {
    width: 100%;
    height: 200px;
    display: block;
    padding: 10px;
    background: #fff;
    -webkit-box-sizing: border-box; }

.unit_comment_btn {
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  background: #3cc482; }

.comment_report li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 0 12px; }
  .comment_report li input {
    width: 100%;
    line-height: 32px; }

.comment_header {
  background-image: -webkit-linear-gradient(top, #000000 0%, transparent 100%);
  background-size: 100% 100%; }
  .comment_header .right_menu_gray {
    width: 40px;
    background: url(img/icon_menu_gray.png) no-repeat center;
    background-size: 4px auto; }

.comment_home {
  padding: 10px 10px 58px; }
  .comment_home .comment_layout {
    background-color: #fff;
    padding: 5px;
    border-bottom: 2px solid #cacdcb;
    margin-bottom: 10px; }
    .comment_home .comment_layout .comment_img {
      width: 100%;
      display: block; }
    .comment_home .comment_layout .comment_txt {
      line-height: 18px;
      padding: 5px 5px 10px; }
    .comment_home .comment_layout .person_img {
      width: 28px;
      height: 28px;
      -webkit-border-radius: 14px; }
    .comment_home .comment_layout .person_detail {
      width: 100%;
      display: -webkit-box;
      box-sizing: border-box;
      border-width: 0;
      border-top: 1px solid #dedede;
      -webkit-border-image: url(img/icon_border_half.png) 2 stretch;
      padding: 10px 0 10px 5px;
      overflow: hidden; }
      .comment_home .comment_layout .person_detail .person_img {
        margin-right: 6px;
        display: block; }
      .comment_home .comment_layout .person_detail div {
        -webkit-box-flex: 1; }
      .comment_home .comment_layout .person_detail h3 {
        line-height: 12px;
        margin-bottom: 5px;
        color: #3cc482; }
        .comment_home .comment_layout .person_detail h3 span {
          color: #cacdcb; }
          .comment_home .comment_layout .person_detail h3 span.time {
            float: right;
            margin-right: 3px; }
          .comment_home .comment_layout .person_detail h3 span.private_chat {
            margin-left: 10px;
            padding-left: 18px;
            background: url(img/icon_chat_gray.png) no-repeat left 1px;
            background-size: 15px auto; }
      .comment_home .comment_layout .person_detail p span {
        display: inline-block;
        margin-right: 6px; }
    .comment_home .comment_layout .comment_heart {
      border-width: 0;
      border-bottom: 1px solid #dedede;
      -webkit-border-image: url(img/icon_border_half.png) 2 stretch; }
      .comment_home .comment_layout .comment_heart a {
        float: left;
        display: block;
        margin-left: 2px;
        margin-right: 10px;
        width: 28px;
        height: 28px;
        background: url(img/icon_heart_gray.png) no-repeat center;
        background-size: 20px auto; }
      .comment_home .comment_layout .comment_heart .person_img {
        margin-right: 10px;
        margin-bottom: 5px; }
    .comment_home .comment_layout .comment_input {
      display: -webkit-box;
      padding: 10px 5px; }
      .comment_home .comment_layout .comment_input .person_img {
        display: block;
        margin-top: 2px;
        margin-right: 12px; }
      .comment_home .comment_layout .comment_input div {
        -webkit-box-flex: 1;
        padding: 0 8px;
        border-width: 1px;
        border: 1px solid #dedede;
        -webkit-border-image: url(img/icon_border_half.png) 2 stretch;
        background-color: #f6f6f6;
        position: relative; }
        .comment_home .comment_layout .comment_input div:before {
          content: "";
          display: block;
          position: absolute;
          top: 10px;
          left: -6px;
          width: 10px;
          height: 10px;
          border-width: 0;
          border-left: 1px solid #dedede;
          -webkit-border-image: url(img/icon_border_half.png) 2 stretch;
          border-width: 0;
          border-bottom: 1px solid #dedede;
          -webkit-border-image: url(img/icon_border_half.png) 2 stretch;
          border-left-width: 1px;
          background-color: #f6f6f6;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
        .comment_home .comment_layout .comment_input div input {
          width: 100%;
          line-height: 32px; }
    .comment_home .comment_layout .comment_more {
      border-width: 0;
      border-top: 1px solid #dedede;
      -webkit-border-image: url(img/icon_border_half.png) 2 stretch;
      padding: 5px 5px 8px; }
      .comment_home .comment_layout .comment_more a {
        color: #3cc482; }
  .comment_home .comment_also_watch {
    width: 100%;
    height: 152px;
    overflow: hidden;
    padding: 10px 0;
    background-color: #fff;
    border-bottom: 2px solid #cacdcb;
    position: relative; }
    .comment_home .comment_also_watch h2 {
      color: #3cc482;
      line-height: 14px;
      padding-left: 10px;
      padding-bottom: 8px; }
    .comment_home .comment_also_watch ul {
      display: -webkit-box;
      position: absolute;
      top: 32px;
      left: 0;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch; }
      .comment_home .comment_also_watch ul li {
        display: block;
        width: 70px;
        overflow: hidden;
        margin: 0 10px;
        font-size: 12px; }
        .comment_home .comment_also_watch ul li img {
          width: 70px;
          height: 70px;
          display: block;
          margin-bottom: 3px; }
        .comment_home .comment_also_watch ul li span {
          display: inline-block;
          line-height: 18px;
          margin-right: 6px; }
        .comment_home .comment_also_watch ul li p {
          margin-top: 3px;
          color: #cacdcb; }
        .comment_home .comment_also_watch ul li:last-child {
          padding-right: 10px; }

.unit_comment_list {
  padding: 0 10px;
  background: #fff; }
  .unit_comment_list li {
    display: -webkit-box;
    padding: 5px 0;
    border-width: 0;
    border-bottom: 1px solid #dedede;
    -webkit-border-image: url(img/icon_border_half.png) 2 stretch; }
    .unit_comment_list li:last-child {
      border: none; }
    .unit_comment_list li img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      -webkit-border-radius: 40px; }
    .unit_comment_list li dl {
      -webkit-box-flex: 1; }
      .unit_comment_list li dl dt {
        line-height: 20px;
        margin-bottom: 5px;
        color: #3cc482; }
        .unit_comment_list li dl dt i {
          color: #cacdcb;
          float: right;
          font-size: 12px; }
      .unit_comment_list li dl dd {
        line-height: 18px;
        font-size: 12px; }
