.unit_keyword {
    background: #fff;
    padding: 10px;
    font-size: 0;
    margin-bottom: 10px;
    @include border_half;
    dt {
        line-height: 30px;
        font-size: 14px;
        padding-bottom: 10px;
        button {
            @include gray;
            background: url(img/icon_clean.png) no-repeat 0 center;
            background-size: 20px auto;
            border: none;
            outline: none;
            line-height: 30px;
            float: right;
            padding-left: 20px;
        }
    }
    dd {
        @include green;
        display: inline-block;
        @include border_half;
        padding: 0 5px;
        font-size: 14px;
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        line-height: 30px;
    }
}
.unit_keyword_user {
    background: #fff;
    padding: 5px;
    li {
        display: -webkit-box;
        padding: 5px;
        @include border_bottom_half;
        -webkit-box-align: center;
        img {
            display: block;
            width: 40px;
            height: 40px;
            margin-right: 5px;
            -webkit-border-radius: 40px;
        }
        p {
            display: block;
            -webkit-box-flex: 1;
            @include ellipsis;
        }
        .this_btn {
            @include button(70px, 30px);
            background: #cacdcb;
            &.current {
                background: #3cc482;
            }
        }
    }
}
.unit_keyword_club {
    @include border_half;
    li {
        background: #fff;
        padding: 0 10px;
        div {
            display: -webkit-box;
            padding: 10px 0;
            @include border_bottom_half;
            img {
                width: 80px;
                height: 80px;
                display: block;
                margin-right: 10px;
            }
            article {
                display: block;
                -webkit-box-flex: 1;
                line-height: 20px;
                font-size: 12px;
                color: #cacdcb;
                p {
                    font-size: 16px;
                    color: #000;
                    line-height: 30px;
                    @include ellipsis;
                }
            }
        }
    }
}

.tab_search{
    top: 44px !important;
}