.unit_member{
    padding-bottom: 50px;
}

.member_info{
    width: 100%;
    color: #fff;
    overflow: hidden;
    height: 190px;
    font-size: 12px;
    padding-top: 10px;
    position: relative;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.1);
    img{
        display: block;
        margin: 0 auto;
        width: 70px;
        height: 70px;
        border: 2px solid #fff;
        -webkit-border-radius: 70px;
    }
    .this_name{
        text-align: center;
        line-height: 30px;
        font-size: 16px;
    }
    .this_text{
        display: -webkit-box;
        li{
            display: block;
            line-height: 20px;
            width: 0;
            -webkit-box-flex: 1;
            &:nth-child(odd){
                text-align: right;
                padding-right: 5px;
            }
            &:nth-child(even){
                text-align: left;
                padding-left: 5px;
            }
        }
        .this_i{
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            margin-left: 5px;
            background: url(img/icon_i.png) no-repeat center center;
            background-size: 20px auto;
        }
    }
    .this_btn{
        border: 1px solid #fff;
        text-align: center;
        line-height: 25px;
        width: 80px;
        margin: 0 auto;
        margin-top: 5px;
        -webkit-border-radius: 3px;
    }
    .this_icon_msg{
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 5px;
        right: 50px;
        background: url(img/icon_chat.png) no-repeat center center;
        background-size: 25px auto;
    }
    .this_icon_menu{
        display: block;
        width: 40px;
        height: 30px;
        position: absolute;
        top: 5px;
        right: 0;
        background: url(img/icon_menu.png) no-repeat center center;
        background-size: auto 25px;
    }
}

.mod_title_{
    display: -webkit-box;
    font-weight: normal;
    margin-bottom: 5px;
    @include border_top_half;
    div{
        display: block;
        line-height: 30px;
        &:nth-child(1){
            color: #50c88c;
            -webkit-box-flex: 1;
        }
        &:last-child{
            width: 80px;
            color: #d9dbda;
            font-size: 12px;
            text-align: right;
        }
    }
}