.unit_list_01{
    background: #fff;
    padding: 5px;
    li{
        display: -webkit-box;
        padding: 5px;
        @include border_bottom_half;
        -webkit-box-align: center;
        img{
            display: block;
            width: 40px;
            height: 40px;
            margin-right: 5px;
            -webkit-border-radius: 40px;
        }
        p{
            display: block;
            -webkit-box-flex: 1;
            @include ellipsis;
        }
        .this_btn{
            @include button(70px, 30px);
            background: #cacdcb;
            &.current{
                background: #3cc482;
            }
        }
    }
}