<header-bar title="找回密码"></header-bar>

<ion-view>
    <ion-content overflow-scroll="true" class="login_layout mod_wrapper">
        
        <section ng-if="!isModify">
            <div class="mod_layout">
                <ul class="mod_list_default">
                    <li>
                        <label>手机号</label>
                        <input ng-model="cInput.phone" type="tel" placeholder="请输入注册时的手机号码">
                    </li>
                    <li>
                        <label>密码</label>
                        <input ng-model="cInput.password" type="password" placeholder="6-16位字符，区分大小写" />
                    </li>
                    <li>
                        <label>确认密码</label>
                        <input ng-model="cInput.passwordCheck" type="password" placeholder="6-16位字符，区分大小写" />
                    </li>
                </ul>
            </div>
        
            <div class="mod_phone_code">
                <button get-vcode ng-class="{disable:vColdDown}">{{vBtnText}}</button>
                <input ng-model="cInput.vcode" type="text" placeholder="请输入收到的验证码" />
            </div>

            <button class="unit_btn" ng-click="changePassword()">提交验证</button>
        </section>


        <section ng-if="isModify" class="user_login_forget">
            <div>密码修改成功</div>

            <ul>
                <li page-jump data-router="forum.home">去首页</li>
                <li page-jump data-router="forum.login">去登录</li>
            </ul>
        </section>

    </ion-content>
</ion-view>