<ion-view title="忘记密码">

    <ion-nav-buttons side="right">
        <button class="right_button" ng-click="checkPhone()">下一步</button>
    </ion-nav-buttons>

    <ion-content class="login_layout mod_wrapper">
        <div class="mod_layout">
            <ul class="mod_list_default">
                <li class="last_border_line" style="margin-bottom:5px;">
                    <input ng-model="inputVal.phone" type="number" placeholder="请输入注册时的手机号码"></li>
            </ul>
        </div>
    </ion-content>

</ion-view>