<header-bar title="<span>（</span>1<span>/3）</span>创建个人资料" right="下一步|goNextStep"></header-bar>

<ion-view >
    <ion-content overflow-scroll="true" class="register_layout mod_wrapper">
    
        <div class="mod_layout">
            <ul class="register_data">
                <li class="nickname">
                    <label>昵称</label>
                    <input ng-model="inputVal.nickname" type="text" placeholder="用户名支持汉字、字母、数字"></li>
                <li class="gender">
                    <span ng-click="inputVal.sex = 1">
                        <input name="sex" ng-checked="inputVal.sex == 1" type="radio">
                        <label>女</label>
                    </span>
                    <span ng-click="inputVal.sex = 2">
                        <input name="sex" ng-checked="inputVal.sex == 2" type="radio">
                        <label>男</label>
                    </span>
                </li>
                <li location-popup class="location">{{inputVal.city.Name}} {{inputVal.village.Name}}</li>
                <li job-popup class="post">{{inputVal.job}}</li>
            </ul>
        </div>

    </ion-content>
</ion-view>