<header-bar title="订阅喜爱的栏目" right="下一步|goNextStep">
</header-bar>

<ion-view>
    <ion-content overflow-scroll="true" class="register_layout mod_wrapper">
        <div class="mod_layout">
            <h3 class="column_title">
                <span ng-click="inputVal.allColumn = !inputVal.allColumn">
                    <input type="checkbox" ng-model="inputVal.allColumn" ng-checked="inputVal.allColumn == true">全选</span>
                勾选感兴趣的栏目，可优先显示
            </h3>
            <ul class="column_list">
                <li class="selected">
                    <img src="../../themes/temp/7.jpg">文案</li>
                <li>
                    <img src="../../themes/temp/7.jpg">文案</li>
                <li>
                    <img src="../../themes/temp/7.jpg">文案</li>
                <li>
                    <img src="../../themes/temp/7.jpg">文案</li>
                <li>
                    <img src="../../themes/temp/7.jpg">文案</li>
                <li>
                    <img src="../../themes/temp/7.jpg">文案</li>
                <li>
                    <img src="../../themes/temp/7.jpg">文案</li>
                <li>
                    <img src="../../themes/temp/7.jpg">文案</li>
                <li>
                    <img src="../../themes/temp/7.jpg">文案</li>
                <li>
                    <img src="../../themes/temp/7.jpg">文案</li>
                <li>
                    <img src="../../themes/temp/7.jpg">文案</li>
                <li>
                    <img src="../../themes/temp/7.jpg">文案</li>
                <li>
                    <img src="../../themes/temp/7.jpg">文案</li>
            </ul>
        </div>
    </ion-content>

</ion-view>