<header-bar title="<span>（</span>2<span>/2）</span>设置账号和密码">
</header-bar>

<ion-view>
    <ion-content overflow-scroll="true" class="register_layout mod_wrapper">

		<div class="mod_layout">
            <ul class="mod_list_default mb10">
                <li class="phone">
                    <input ng-model="cInput.phone" type="tel" placeholder="设置用于登录的手机号" />
                </li>
                <li class="password">
                    <input ng-model="cInput.password" type="password" placeholder="设置用于登录的密码" />
                </li>
            </ul>
        </div>
            
        <div class="mod_phone_code">
            <button get-vcode ng-class="{disable:vColdDown}">{{vBtnText}}</button>
            <input ng-model="cInput.vcode" type="text" placeholder="请输入收到的验证码" />
        </div>
        
        <button class="unit_btn" ng-click="submitReg()">提交注册</button>

    </ion-content>
</ion-view>