<ion-view title="<span>（</span>3<span>/3）</span>验证手机号">

    <ion-nav-buttons side="right">
        <button class="right_button" ng-click="goDone()">下一步</button>
    </ion-nav-buttons>

    <ion-content class="register_layout mod_wrapper">
        <div class="mod_layout">
            <p class="account_password_tip">设置用于登录师乐汇的手机号和密码</p>
            <ul class="mod_list_default">
                <li class="vcode last_border_line">
                    <input ng-model="inputVal.vcode" type="number" maxlength="4" placeholder="请输入收到的验证码"></li>
            </ul>
            <p class="get_vcode">
                <a get-vcode class="no_background"></a>
            </p>
        </div>
    </ion-content>

</ion-view>