<header-bar back title="手工灯笼"></header-bar>

<section class="scrollfix" style="padding-top:44px;" when-scrolled="loadMore()">

    <div class="unit_activity_text">
        <h2>幼儿手工灯笼的各种做法</h2>
        <article>
        让孩子充分感受我国传统节日的气氛，传承中国传统文化，从中提高幼儿动手操作从中提高幼儿动手操作能力和艺术创造能力。相信它会成为你们难忘的回忆！
        </article>
    </div>



    <!--瀑布流-->
    <falls>
        <li ng-repeat="(k, v) in DataList.ArticleList track by $index" data-y="{{v.Images[0].Height}}">
            <div class="this_border" page-jump="{{v.SiteUrl}}">
                <img ng-src="{{v.Images[0].ImageUrl}}" />
                <article>
                    <div class="this_text">{{v.Images[0].Description}}</div>
                    
                    <div class="this_star">
                        256
                    </div>

                    <div class="this_user">
                        <img ng-src="{{v.Author.ImageUrl}}" />
                        <p>
                            {{v.Author.UserName}}<br>
                            <span ng-repeat="x in v.CategoryList">#{{x.CateName}}</span>
                        </p>
                    </div>
                </article>
            </div>
        </li>
    </falls>
</section>