<header-bar back transparent title=""></header-bar>

<section class="scrollfix" when-scrolled="loadMore()">

    <div class="unit_find_cate_info">
        <div>
            <img ng-src="{{DataList.ImageUrl}}" />
            <p>
                {{DataList.ClubName}}<br>
                {{DataList.Description}}
            </p>
        </div>
    </div>

    <ul class="unit_club_other_info" ng-if="DataList.StateJoin">
        <li class="this_reg">
            <p>签到 <span>{{DataList.TotalSign}}</span> / 连续签到 <span>{{DataList.TotalAlwaysSign}}</span></p>
            <button>签到</button>
        </li>
        <li class="this_user">
            <p>圈成员：{{DataList.TotalMember}}</p>
            <i page-jump="{{redirectUrl.Ranking}}">查看排行榜</i>
        </li>
        <li class="this_acti">
            <p>【活动】活动内容。</p>
        </li>
    </ul>

    <ul class="unit_club_other_info" ng-if="!DataList.StateJoin">
        <li class="this_user">
            <p>圈成员：{{DataList.TotalMember}}</p>
            <button>加入圈子</button>
        </li>
        <li class="this_acti">
            <p>【活动】活动内容。</p>
        </li>
    </ul>

    <div class="mod_title_text this_p">
        <div>精选 10</div>
    </div>
    <div class="mod_list_img mb0" id="wrapper" ng-iscroll="wrapper" ng-iscroll-delay='50'>
        <ul>
            <li ng-repeat="(k, v) in DataList.CategoryList track by $index">
                <div class="this_img">
                    <img ng-src="{{v.ImageUrl}}" />
                </div>
                <div class="this_title">
                    <span>#{{v.CateName}}</span>
                </div>
            </li>
        </ul>
    </div>

    <!--瀑布流-->
    <falls>
        <li ng-repeat="(k, v) in DataList.ArticleList track by $index" data-y="{{v.Images[0].Height}}">
            <div class="this_border" page-jump="{{v.SiteUrl}}">
                <img ng-src="{{v.Images[0].ImageUrl}}" />
                <article>
                    <div class="this_text">{{v.Images[0].Description}}</div>
                    
                    <div class="this_star">
                        256
                    </div>

                    <div class="this_user">
                        <img ng-src="{{v.Author.ImageUrl}}" />
                        <p>
                            {{v.Author.UserName}}<br>
                            <span ng-repeat="x in v.CategoryList">#{{x.CateName}}</span>
                        </p>
                    </div>
                </article>
            </div>
        </li>
    </falls>
</section>


<button class="btn_camera"></button>