<header class="mod_header_search">
    <div>
        <input value="" placeholder="搜索内容/标签/圈子/用户" />
        <button></button>
    </div>
</header>

<section class="mod_scroll" style="padding:44px 0 58px;">
    <ul class="unit_find_top">
        <li ng-repeat="i in urlMenu" page-jump={{i.list}}>{{i.title}}</li>
        <!--    
        <li>猜你喜欢</li>
        <li>圈子</li>
        <li>活动</li>
        -->
    </ul>

    <div class="mod_title_text this_p">
        <div>专题集锦</div>
    </div>

    <div class="unit_find_subject">
        <ul>
            <li>
                <img src="../themes/temp/6.jpg" />
                送给孩子们的礼物
            </li>
            <li>
                <img src="../themes/temp/6.jpg" />
                送给孩子们的礼物
            </li>
            <li>
                <img src="../themes/temp/6.jpg" />
                送给孩子们的礼物
            </li>
            <li class="this_more">
                更多
            </li>
        </ul>
    </div>

    <div class="unit_find_cate">
        <div>
            <ul>
                <li>教案</li>
                <li>计划</li>
                <li>总结</li>
                <li>玩教具</li>
                <li>环境创设</li>
                <li>手工</li>
            </ul>


            <ul>
                <li>教案</li>
                <li>计划</li>
                <li>总结</li>
                <li>玩教具</li>
                <li>环境创设</li>
                <li>手工</li>
            </ul>
        </div>
    </div>
</section>

<footer-bar></footer-bar>