<header-bar back title="猜你喜欢"></header-bar>

<section class="scrollfix" ng-style="appStyle" when-scrolled="loadMore()">
    <div class="mod_slide" ng-slide="eventSlide">
        <ul>
            <li ng-repeat="v in DataList.PhotoList track by $index" page-jump="v.SiteUrl">
                <img ng-src="{{v.ImageUrl}}" />
                <div>{{v.Title}}</div>
            </li>
        </ul>
        <ol>
            <li ng-repeat="(k, v) in DataList.PhotoList track by $index" ng-class="{current: k==0}"></li>
        </ol>
    </div>


    <!--瀑布流-->
    <falls>
        <li ng-repeat="(k, v) in DataList.ArticleList track by $index" data-y="{{v.Images[0].Height}}" >
            <div class="this_border" page-jump="v.SiteUrl">
                <img ng-src="{{v.Images[0].ImageUrl}}" />
                <article>
                    <div class="this_text">{{v.Images[0].Description}}</div>
                    
                    <div class="this_star">{{v.TotalCollect}}</div>

                    <div class="this_user">
                        <img ng-src="{{v.Author.ImageUrl}}" />
                        <p>
                            {{v.Author.UserName}}<br>
                            <span ng-repeat="x in v.CategoryList">#{{x.CateName}}</span>
                        </p>
                    </div>
                </article>
            </div>
        </li>
    </falls>
</section>