<header-bar back transparent title=""></header-bar>

<section class="scrollfix">

    <div class="unit_find_cate_info">
        <div>
            <img src="../themes/temp/6.jpg" />
            <p>
                专题标题<br>
                在这里，可以让孩子找到属于他们的手工创作天地。
            </p>
        </div>
        <button>加入粘土圈</button>
    </div>

    <div class="mod_title_text this_p">
        <div>相关主题</div>
    </div>
    <div class="mod_list_img" style="height:110px;">
        <ul>
            <li>
                <div class="this_img">
                    <img src="../../themes/temp/img.jpg" />
                </div>
                <div class="this_title">
                    <span>#环境创设</span>
                </div>
            </li>
            <li>
                <div class="this_img">
                    <img src="../../themes/temp/img.jpg" />
                </div>
                <div class="this_title">#玩教具</div>
            </li>
            <li>
                <div class="this_img">
                    <img src="../../themes/temp/img.jpg" />
                </div>
                <div class="this_title">#玩教具</div>
            </li>
            <li>
                <div class="this_img">
                    <img src="../../themes/temp/img.jpg" />
                </div>
                <div class="this_title">#玩教具</div>
            </li>
        </ul>
    </div>

    <ul class="js_falls mod_list_falls">
        <li data-y="162">
            <div class="this_border">
                <a page-jump="{opts: {direction: 'left'}, module:'home', hash:'index'}">
                    <img src="../themes/temp/1.jpg" />
                    <article>
                        <div class="this_text">
                            所需材料：剪刀、彩纸、双面胶等等
                        </div>
                        
                        <div class="this_star">
                            256
                        </div>

                        <div class="this_user">
                            <img src="../themes/temp/3.jpg" />
                            <p>
                                开心每一天<br>
                                发布到：#泥工  #废 旧材料  #玩教具习的
                            </p>
                        </div>
                    </article>
                </a>
            </div>
        </li>
        <li data-y="124">
            <div class="this_border">
                <a page-jump="{opts: {direction: 'right',href: '/home/index.html#/index2'}}">
                    <img src="../themes/temp/2.jpg" />
                    <article>
                        <div class="this_text">
                            活动意图：《3-6岁儿童学习与发展指南》（以下简称《指南》）告诉我们，幼儿科学学习的方式是直接感知、亲身体验和实际操作，因此，让幼儿了幼儿科学学习的
                        </div>
                        <div class="this_star">
                            256
                        </div>
                        <div class="this_user">
                            <img src="../themes/temp/3.jpg" />
                            <p>
                                开心每一天<br>
                                发布到：#泥工  #废 旧材料  #玩教具
                            </p>
                        </div>
                    </article>
                </a>
            </div>
        </li>
        <li data-y="321">
            <div class="this_border">
                <a page-jump="{opts: {direction: 'down',href: '/home/index.html#/index1'}}">
                    <img src="../themes/temp/4.jpg" />
                    <article>
                        <div class="this_text">
                            所需材料：剪刀、彩纸、双面胶等等
                        </div>
                        
                        <div class="this_star">
                            256
                        </div>

                        <div class="this_user">
                            <img src="../themes/temp/3.jpg" />
                            <p>
                                开心每一天<br>
                                发布到：#泥工  #废 旧材料  #玩教具
                            </p>
                        </div>
                    </article>
                </a>
            </div>
        </li>
        <li data-y="278">
            <div class="this_border">
                <a page-jump="{opts: {direction: 'up',href: '/home/index.html#/index3'}}">
                    <img src="../themes/temp/5.jpg" />
                    <article>
                        <div class="this_text">
                            所需材料：剪刀、彩纸、双面胶等等
                        </div>
                        
                        <div class="this_star">
                            256
                        </div>

                        <div class="this_user">
                            <img src="../themes/temp/3.jpg" />
                            <p>
                                开心每一天<br>
                                发布到：#泥工  #废 旧材料  #玩教具
                            </p>
                        </div>
                    </article>
                </a>
            </div>
        </li>
        <li data-y="286">
            <div class="this_border">
                <img src="../themes/temp/6.jpg" />
                <article>
                    <div class="this_text">
                        活动意图：《3-6岁儿童学习与发展指南》（以下简称《指南》）告诉我们，幼儿科学学习的方式是直接感知、亲身体验和实际操作，因此，让幼儿了幼儿科学学习的
                    </div>
                    <div class="this_star">
                        256
                    </div>
                    <div class="this_user">
                        <img src="../themes/temp/3.jpg" />
                        <p>
                            开心每一天<br>
                            发布到：#泥工  #废 旧材料  #玩教具
                        </p>
                    </div>
                </article>
            </div>
        </li>
        <li data-y="200">
            <div class="this_border">
                <img src="../themes/temp/7.jpg" />
                <article>
                    <div class="this_text">
                        所需材料：剪刀、彩纸、双面胶等等
                    </div>
                    
                    <div class="this_star">
                        256
                    </div>

                    <div class="this_user">
                        <img src="../themes/temp/3.jpg" />
                        <p>
                            开心每一天<br>
                            发布到：#泥工  #废 旧材料  #玩教具
                        </p>
                    </div>
                </article>
            </div>
        </li>
        <li data-y="300">
            <div class="this_border">
                <img src="../themes/temp/8.jpg" />
                <article>
                    <div class="this_text">
                        所需材料：剪刀、彩纸、双面胶等等
                    </div>
                    
                    <div class="this_star">
                        256
                    </div>

                    <div class="this_user">
                        <img src="../themes/temp/3.jpg" />
                        <p>
                            开心每一天<br>
                            发布到：#泥工  #废 旧材料  #玩教具
                        </p>
                    </div>
                </article>
            </div>
        </li>
    </ul>
</section>