<header-bar back transparent title=""></header-bar>

<section class="scrollfix" when-scrolled="loadMore()">

    <div class="unit_find_cate_info">
        <div>
            <img src="../themes/temp/6.jpg" />
            <p>
                专题标题<br>
                在这里，可以让孩子找到属于他们的手工创作天地。
            </p>
        </div>
        <button>加入粘土圈</button>
    </div>

    <div class="mod_title_text this_p">
        <div>相关主题</div>
    </div>
    <div class="mod_list_img mb0" style="height:110px;" id="wrapper" ng-iscroll="wrapper" ng-iscroll-delay='50'>
        <ul>
            <li>
                <div class="this_img">
                    <img src="../themes/temp/img.jpg" />
                </div>
                <div class="this_title">
                    <span>#环境创设</span>
                </div>
            </li>
            <li>
                <div class="this_img">
                    <img src="../themes/temp/img.jpg" />
                </div>
                <div class="this_title">#玩教具</div>
            </li>
            <li>
                <div class="this_img">
                    <img src="../themes/temp/img.jpg" />
                </div>
                <div class="this_title">#玩教具</div>
            </li>
            <li>
                <div class="this_img">
                    <img src="../themes/temp/img.jpg" />
                </div>
                <div class="this_title">#玩教具</div>
            </li>
        </ul>
    </div>

 

    <!--瀑布流-->
    <falls>
        <li ng-repeat="(k, v) in DataList.ArticleList track by $index" data-y="{{v.Images[0].Height}}">
            <div class="this_border" page-jump="{{v.SiteUrl}}">
                <img ng-src="{{v.Images[0].ImageUrl}}" />
                <article>
                    <div class="this_text">{{v.Images[0].Description}}</div>
                    
                    <div class="this_star">256</div>

                    <div class="this_user">
                        <img ng-src="{{v.Author.ImageUrl}}" />
                        <p>
                            {{v.Author.UserName}}<br>
                            <span ng-repeat="x in v.CategoryList">#{{x.CateName}}</span>
                        </p>
                    </div>
                </article>
            </div>
        </li>
    </falls>
</section>