<ul class="mod_tab_2" ng-init="currentTab=1">
    <li ng-click="currentTab=1;pageIndex=1" ng-class="{current : currentTab==1}">精品</li>
    <li ng-click="checkLogin();" ng-class="{current : currentTab==2}">关注</li>
    <i class="line" ng-class="{tmp: currentTab == 2}"></i>
</ul>

<section class="unit_home" when-scrolled="loadMore(currentTab)" ng-if="currentTab==1">
    <div class="mod_slide" ng-slide="eventSlide">
        <ul>
            <li ng-repeat="(k, v) in DataList.ImageList track by $index">
                <img ng-src="{{v.ImageUrl}}" />
                <div>{{v.Title}}</div>
            </li>
        </ul>
        <ol>
            <li ng-repeat="(k, v) in DataList.ImageList track by $index" ng-class="{current: k==0}"></li>
        </ol>
    </div>

    <!--瀑布流-->
    <falls>
        <li ng-repeat="(k, v) in DataList.ArticleList track by $index" data-y="{{v.Images[0].Height}}" >
            <div class="this_border" page-jump="{{v.SiteUrl}}">
                <img ng-src="{{v.Images[0].ImageUrl}}" />
                <article>
                    <div class="this_text">{{v.Images[0].Description}}</div>
                    
                    <div class="this_star">{{v.TotalCollect}}</div>

                    <div class="this_user">
                        <img ng-src="{{v.Author.ImageUrl}}" />
                        <p>
                            {{v.Author.UserName}}<br>
                            <span ng-repeat="x in v.CategoryList">#{{x.CateName}}</span>
                        </p>
                    </div>
                </article>
            </div>
        </li>
    </falls>
</section>

<section class="unit_home" when-scrolled="loadMore(currentTab)" ng-if="currentTab==2">
    <!--瀑布流-->
    <falls>
        <li ng-repeat="(k, v) in DataList.ArticleList track by $index" data-y="{{v.Images[0].Height}}" >
            <div class="this_border" page-jump="{{v.SiteUrl}}">
                <img ng-src="{{v.Images[0].ImageUrl}}" />
                <article>
                    <div class="this_text">{{v.Images[0].Description}}</div>
                    
                    <div class="this_star">{{v.TotalCollect}}</div>

                    <div class="this_user">
                        <img ng-src="{{v.Author.ImageUrl}}" />
                        <p>
                            {{v.Author.UserName}}<br>
                            <span ng-repeat="x in v.CategoryList">#{{x.CateName}}</span>
                        </p>
                    </div>
                </article>
            </div>
        </li>
    </falls>
</section>

<footer-bar></footer-bar>