<ul class="mod_tab_2">
    <li ng-click="currentTab = true" ng-class="{current : currentTab}">精品</li>
    <li ng-click="currentTab = false" ng-class="{current : !currentTab}">关注</li>
    <i class="line"></i>
</ul>

<section class="unit_home">
    <div class="mod_slide" ng-if="currentTab">
        <ul>
            <li>
                <img src="../themes/temp/img_1.jpg" />
                <div>幼儿园生活环境布置：编织乐</div>
            </li>
            <li>
                <img src="../themes/temp/img_2.jpg" />
                <div>幼儿园生活环境布置：编织乐</div>
            </li>
            <li>
                <img src="../themes/temp/img_3.jpg" />
                <div>幼儿园生活环境布置：编织乐</div>
            </li>
        </ul>
        <ol>
            <li class="current"></li>
            <li></li>
            <li></li>
        </ol>
    </div>

    <ul class="js_falls mod_list_falls">
        <li data-y="162">
            <div class="this_border">
                <a page-jump="{opts: {direction: 'left',href: '/home/index.html#/index5'}}">
                    <img src="../themes/temp/1.jpg" />
                    <article>
                        <div class="this_text">
                            所需材料：剪刀、彩纸、双面胶等等
                        </div>
                        
                        <div class="this_star">
                            256
                        </div>

                        <div class="this_user">
                            <img src="../themes/temp/3.jpg" />
                            <p>
                                开心每一天<br>
                                发布到：#泥工  #废 旧材料  #玩教具习的
                            </p>
                        </div>
                    </article>
                </a>
            </div>
        </li>
        <li data-y="124">
            <div class="this_border">
                <a page-jump="{opts: {direction: 'right',href: '/home/index.html#/index2'}}">
                    <img src="../themes/temp/2.jpg" />
                    <article>
                        <div class="this_text">
                            活动意图：《3-6岁儿童学习与发展指南》（以下简称《指南》）告诉我们，幼儿科学学习的方式是直接感知、亲身体验和实际操作，因此，让幼儿了幼儿科学学习的
                        </div>
                        <div class="this_star">
                            256
                        </div>
                        <div class="this_user">
                            <img src="../themes/temp/3.jpg" />
                            <p>
                                开心每一天<br>
                                发布到：#泥工  #废 旧材料  #玩教具
                            </p>
                        </div>
                    </article>
                </a>
            </div>
        </li>
        <li data-y="321">
            <div class="this_border">
                <a page-jump="{opts: {direction: 'down',href: '/home/index.html#/index1'}}">
                    <img src="../themes/temp/4.jpg" />
                    <article>
                        <div class="this_text">
                            所需材料：剪刀、彩纸、双面胶等等
                        </div>
                        
                        <div class="this_star">
                            256
                        </div>

                        <div class="this_user">
                            <img src="../themes/temp/3.jpg" />
                            <p>
                                开心每一天<br>
                                发布到：#泥工  #废 旧材料  #玩教具
                            </p>
                        </div>
                    </article>
                </a>
            </div>
        </li>
        <li data-y="278">
            <div class="this_border">
                <a page-jump="{opts: {direction: 'up',href: '/home/index.html#/index3'}}">
                    <img src="../themes/temp/5.jpg" />
                    <article>
                        <div class="this_text">
                            所需材料：剪刀、彩纸、双面胶等等
                        </div>
                        
                        <div class="this_star">
                            256
                        </div>

                        <div class="this_user">
                            <img src="../themes/temp/3.jpg" />
                            <p>
                                开心每一天<br>
                                发布到：#泥工  #废 旧材料  #玩教具
                            </p>
                        </div>
                    </article>
                </a>
            </div>
        </li>
        <li data-y="286">
            <div class="this_border">
                <img src="../themes/temp/6.jpg" />
                <article>
                    <div class="this_text">
                        活动意图：《3-6岁儿童学习与发展指南》（以下简称《指南》）告诉我们，幼儿科学学习的方式是直接感知、亲身体验和实际操作，因此，让幼儿了幼儿科学学习的
                    </div>
                    <div class="this_star">
                        256
                    </div>
                    <div class="this_user">
                        <img src="../themes/temp/3.jpg" />
                        <p>
                            开心每一天<br>
                            发布到：#泥工  #废 旧材料  #玩教具
                        </p>
                    </div>
                </article>
            </div>
        </li>
        <li data-y="200">
            <div class="this_border">
                <img src="../themes/temp/7.jpg" />
                <article>
                    <div class="this_text">
                        所需材料：剪刀、彩纸、双面胶等等
                    </div>
                    
                    <div class="this_star">
                        256
                    </div>

                    <div class="this_user">
                        <img src="../themes/temp/3.jpg" />
                        <p>
                            开心每一天<br>
                            发布到：#泥工  #废 旧材料  #玩教具
                        </p>
                    </div>
                </article>
            </div>
        </li>
        <li data-y="300">
            <div class="this_border">
                <img src="../themes/temp/8.jpg" />
                <article>
                    <div class="this_text">
                        所需材料：剪刀、彩纸、双面胶等等
                    </div>
                    
                    <div class="this_star">
                        256
                    </div>

                    <div class="this_user">
                        <img src="../themes/temp/3.jpg" />
                        <p>
                            开心每一天<br>
                            发布到：#泥工  #废 旧材料  #玩教具
                        </p>
                    </div>
                </article>
            </div>
        </li>
    </ul>
</section>

<footer class="mod_footer">
    <ul>
        <li class="current">首页</li>
        <li>发现</li>
        <li></li>
        <li class="news">消息</li>
        <li>我</li>
    </ul>
</footer>