<header-bar back title="私聊"></header-bar>

<section class="mod_scroll">
    <ul class="unit_msg_list_01">
        <li>
            <img src="../../themes/temp/3.jpg" />
            <dl>
                <dt>
                    柬埔寨girl
                    <i>1分钟前</i>
                </dd>
                <dd>
                    好，拜拜！
                </dd>
            </dl>
        </li>
        <li>
            <img src="../../themes/temp/3.jpg" />
            <dl>
                <dt>
                    柬埔寨girl
                    <i>1分钟前</i>
                </dd>
                <dd>
                    好，拜拜！
                </dd>
            </dl>
        </li>
        <li>
            <img src="../../themes/temp/3.jpg" />
            <dl>
                <dt>
                    柬埔寨girl
                    <i>1分钟前</i>
                </dd>
                <dd>
                    好，拜拜！
                </dd>
            </dl>
        </li>
        <li>
            <img src="../../themes/temp/3.jpg" />
            <dl>
                <dt>
                    柬埔寨girl
                    <i>1分钟前</i>
                </dd>
                <dd>
                    好，拜拜！
                </dd>
            </dl>
        </li>
        <li>
            <img src="../../themes/temp/3.jpg" />
            <dl>
                <dt>
                    柬埔寨girl
                    <i>1分钟前</i>
                </dd>
                <dd>
                    好，拜拜！
                </dd>
            </dl>
        </li>
    </ul>
</section>