<header-bar back title="评论"></header-bar>

<section class="mod_scroll" when-scrolled="loadMore()">
    <ul class="msg_comment_list">
        <li ng-repeat="(k, v) in DataList.CommentList track by $index">
            <div><img ng-src="{{v.Author.ImageUrl}}" /></div>
            <dl>
                <dt>{{v.Author.UserName}}</dt>
                <dd>
                    <em>评论了 {{v.Article.Description}}</em>
                    <p>{{v.Content}}</p>
                    <i>{{v.UpdateTime}}</i>
                </dd>
            </dl>
            <div><img ng-src="{{v.Article.ImageUrl}}" /></div>
        </li>
    </ul>
</section>