<header-bar></header-bar>

<ion-view hide-nav-bar="true">
    <ion-content overflow-scroll="true">

        <ul class="mod_list_img_only">
            <li ng-repeat="(k, v) in DataList.ArticleList track by $index">
                <a class="this_border" page-jump data-router="forum.detail" data-options='{ "id": {{v.ArticleId}} }'>
                    <div class="this_img"><img ng-src="{{v.Images[0].ImageUrl}}" /></div>
                    <article>
                        <div class="this_text">{{v.Images[0].Description}}</div>

                        <div class="this_cate">
                            <div>被赞<i>{{v.TotalCollect}}</i></div>
                            <div><span ng-repeat="x in v.CategoryList">#{{x.CateName}}</span></div>
                        </div>
                    </article>
                </a>
            </li>
        </ul>
        
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="Deploy.isMore">
        </ion-infinite-scroll>

        <div class="mod_no_more" ng-if="!Deploy.isMore">没有数据了！</div>
    </ion-content>
</ion-view>
