<header-bar title="圈子"></header-bar>

<ion-view>
    <ion-content overflow-scroll="true" class="mod_wrapper">
        <dl class="unit_list_club">
            <dt>A</dt>
            <dd>
                <div>
                    <img src="../../themes/temp/img.jpg" />
                    <article>
                        <p>孩子们的营养餐</p>
                        玩教具  手工
                        <br>成员：258</article>
                </div>
            </dd>
            <dd>
                <div>
                    <img src="../../themes/temp/img.jpg" />
                    <article>
                        <p>孩子们的营养餐</p>
                        玩教具  手工
                        <br>成员：258</article>
                </div>
            </dd>
        </dl>
        <dl class="unit_list_club">
            <dt>B</dt>
            <dd>
                <div>
                    <img src="../../themes/temp/img.jpg" />
                    <article>
                        <p>孩子们的营养餐</p>
                        玩教具  手工
                        <br>成员：258</article>
                </div>
            </dd>
            <dd>
                <div>
                    <img src="../../themes/temp/img.jpg" />
                    <article>
                        <p>孩子们的营养餐</p>
                        玩教具  手工
                        <br>成员：258</article>
                </div>
            </dd>
        </dl>
    </ion-content>

    <section class="forum_club_letter" ng-if="DataList.ClubList.length > 0">
        <ul><li ng-repeat="(k, v) in DataList.ClubList">{{v.Letter}}</li></ul>
    </section>
</ion-view>