<header-bar title="粉丝"></header-bar>

<ion-view>
    <ion-content overflow-scroll="true" class="mod_wrapper">

        <ul ng-if="DataList.FansList.length > 0" class="unit_list_user" style="margin-bottom:5px;">
            <li ng-repeat="(k, v) in DataList.FansList track by $index" page-jump data-router="" data-options="{{v.UserId}}">
                <img ng-src="{{v.UserImage}}">
                <p>{{v.UserName}}</p>
                <button ng-if="v.State == 1" class="this_btn current">关注</button>
                <button ng-if="v.State == 2" class="this_btn current">互关注</button>
                <button ng-if="v.State == 3" class="this_btn">未关注</button>
            </li>
        </ul>
        
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="Deploy.isMore"></ion-infinite-scroll>

        <div class="mod_no_more" ng-if="!Deploy.isMore">没有更多数据了！</div>
        
    </ion-content>
</ion-view>

<user-login></user-login>