<header-bar title="意见反馈" right="发布|submitData"></header-bar>

<ion-view>
    <ion-content overflow-scroll="true" class="mod_wrapper">
        <div class="unit_set_textarea">
            <textarea placeholder="请您在这里填写对师乐汇的意见，我们将不断改进，感谢支持。" ng-model="cInput.content">
            </textarea>
            <div class="this_input">
                <label>联系方式：</label>
                <input type="tel" placeholder="手机号码或QQ（选填）" ng-model="cInput.phone" />
            </div>
            <div class="this_text">
                <span class="color_green">小贴士：</span><br>
                您可以加入师乐汇反馈QQ群：111111111
            </div>
        </div>

        <!-- <button class="unit_btn" ng-click="submitData()">发布</button> -->
    </ion-content>
</ion-view>