<ion-view ng-if="Deploy.isLogin">
    <ul class="mod_header_opacity">
        <li png-click="$ionicGoBack()"></li>
        <li></li>
        <li></li>
    </ul>

    <ion-content overflow-scroll="true" style="background:#fff;padding-bottom:100px;">
        <div class="user_info_top" style="background:url(../themes/temp/9.jpg) no-repeat center top;background-size:100% auto">

            <!-- <div class="this_icon_menu" page-jump="goDataSet"></div> -->

            <img ng-src="{{DataList.UserInfo.UserImage}}" />

            <h2>{{DataList.UserInfo.Username}}</h2>

            <div class="this_text">
                <a>
                    经验值 {{DataList.UserInfo.Exper}}
                </a>
                <a ui-sref="forum.user-index" page-jump="redirectUrl.goLevel">
                    {{DataList.UserInfo.RankName}}
                    <span class="this_i"></span>
                </a>
            </div>
            <div class="this_text">
                <a ui-sref="forum.user-index" page-jump="redirectUrl.goAttention">
                    关注 {{DataList.UserInfo.TotalFollow}}
                </a>
                <a ui-sref="forum.user-index" page-jump="redirectUrl.goFans">
                    粉丝 {{DataList.UserInfo.TotalFans}}
                </a>
            </div>

            <div class="this_btn">加关注</div>
        </div>

        <div class="mod_title_text this_a" ng-if="DataList.ArticleList.length > 0">
            <div>发布</div>
            <a>查看所有 &gt;</a>
        </div>
        <div class="mod_list_img" ng-if="DataList.ArticleList.length > 0">
            <ion-scroll direction="x" scrollbar-x="false" locking="false">
                <div class="this_wrapper">
                    <a ng-repeat="(k, v) in DataList.ArticleList track by $index" ui-sref="forum.cate({id: v.CateId})">
                        <div class="this_img"><img ng-src="{{v.ImageUrl}}" /></div>
                        <div class="this_title">{{v.CateName}}</div>
                        <div class="this_tx">今日更新 {{v.TotalArticle}}</div>
                        <div class="this_tx">赞 {{v.TotalPraise}}</div>
                    </a>
                </div>
            </ion-scroll>
        </div>

        <div class="mod_title_text this_a" ng-if="DataList.CollectList.length > 0">
            <div>收藏</div>
            <a>查看所有 &gt;</a>
        </div>
        <div class="mod_list_img" ng-if="DataList.CollectList.length > 0">
            <ion-scroll direction="x" scrollbar-x="false" locking="false">
                <div class="this_wrapper">
                    <a ng-repeat="(k, v) in DataList.CollectList track by $index" ui-sref="forum.cate({id: v.CateId})">
                        <div class="this_img"><img ng-src="{{v.ImageUrl}}" /></div>
                        <div class="this_title">{{v.CateName}}</div>
                        <div class="this_tx">今日更新 {{v.TotalArticle}}</div>
                        <div class="this_tx">赞 {{v.TotalPraise}}</div>
                    </a>
                </div>
            </ion-scroll>
        </div>


        <div class="mod_title_text this_a" ng-if="DataList.ClubList.length > 0">
            <div>精选圈子</div>
            <a>查看所有 &gt;</a>
        </div>
        <div class="mod_list_img" ng-if="DataList.ClubList.length > 0">
            <ion-scroll direction="x" scrollbar-x="false" locking="false">
                <div class="this_wrapper">
                    <a ng-repeat="(k, v) in DataList.ClubList track by $index" ui-sref="forum.club-detail({id: v.ClubId})">
                        <div class="this_img"><img ng-src="{{v.ImageUrl}}" /></div>
                        <div class="this_title">{{v.ClubName}}</div>
                        <div class="this_tx">今日更新 {{v.TodayNews}}</div>
                        <div class="this_btn">去签到</div>
                    </a>
                </div>
            </ion-scroll>
        </div>

    </ion-content>
</ion-view>

<ion-footer-bar>
    <footer-bar></footer-bar>
</ion-footer-bar>