<ion-view hide-nav-bar="true" class="ios_status_bar">
    <header class="js_op_header user_header">
        <ul>
            <li></li>
            <li>我</li>
            <li></li>
        </ul>
        <ul class="js_op_change this_op">
            <li></li>
            <li>我</li>
            <li page-jump data-router="forum.user-set"></li>
        </ul>
    </header>

    <ion-content has-bouncing="false" on-scroll="headerScroll()" delegate-handle="mainScroll">
        <div class="user_info_top" ng-if="Deploy.isLogin">

            <!-- <div class="this_icon_menu" page-jump="goDataSet"></div> -->
            <img ng-src="{{DataList.UserInfo.UserImage}}" />

            <h2>{{DataList.UserInfo.Username}}<span>{{DataList.UserInfo.RankName}}</span></h2>

<!--             <div class="this_text">
                <a>
                    经验值 {{DataList.UserInfo.Exper}}
                </a>
                <a ui-sref="forum.user-index" page-jump="redirectUrl.goLevel">
                    {{DataList.UserInfo.RankName}}
                    <span class="this_i"></span>
                </a>
            </div>
            <div class="this_text">
                <a ui-sref="forum.user-index" page-jump="redirectUrl.goAttention">
                    关注 {{DataList.UserInfo.TotalFollow}}
                </a>
                <a ui-sref="forum.user-index" page-jump="redirectUrl.goFans">
                    粉丝 {{DataList.UserInfo.TotalFans}}
                </a>
            </div>
        -->

            <div class="this_btn">加关注</div>


            <ul class="this_list_tab">
                <li>
                    <span>{{DataList.UserInfo.Exper}}</span>
                    经验值
                </li>
                <li>
                    <span>{{DataList.UserInfo.TotalFollow}}</span>
                    关注
                </li>
                <li>
                    <span>{{DataList.UserInfo.TotalFans}}</span>
                    粉丝
                </li>
            </ul>
        </div>

        <div class="user_info_top" ng-if="!Deploy.isLogin">
            <div class="this_login">点此登录</div>
        </div>


        <div ng-if="Deploy.isLogin" style="background:#fff;">
            <div class="mod_title_text this_a" ng-if="DataList.ArticleList.length > 0">
                <div>我的发布</div>
                <a>查看所有 &gt;</a>
            </div>
            <div class="mod_list_img" ng-if="DataList.ArticleList.length > 0">
                <ion-scroll direction="x" scrollbar-x="false" locking="false">
                    <div class="this_wrapper">
                        <a ng-repeat="(k, v) in DataList.ArticleList track by $index" ui-sref="forum.cate({id: v.CateId})">
                            <div class="this_img"><img ng-src="{{v.ImageUrl}}" /></div>
                            <div class="this_title">{{v.CateName}}</div>
                            <div class="this_tx">今日更新 {{v.TotalArticle}}</div>
                            <div class="this_tx">赞 {{v.TotalPraise}}</div>
                        </a>
                    </div>
                </ion-scroll>
            </div>
        </div>


        <div ng-if="Deploy.isLogin" style="background:#fff;">
            <div class="mod_title_text this_a" ng-if="DataList.CollectList.length > 0">
                <div>我的收藏</div>
                <a>查看所有 &gt;</a>
            </div>
            <div class="mod_list_img" ng-if="DataList.CollectList.length > 0">
                <ion-scroll direction="x" scrollbar-x="false" locking="false">
                    <div class="this_wrapper">
                        <a ng-repeat="(k, v) in DataList.CollectList track by $index" ui-sref="forum.cate({id: v.CateId})">
                            <div class="this_img"><img ng-src="{{v.ImageUrl}}" /></div>
                            <div class="this_title">{{v.CateName}}</div>
                            <div class="this_tx">今日更新 {{v.TotalArticle}}</div>
                            <div class="this_tx">赞 {{v.TotalPraise}}</div>
                        </a>
                    </div>
                </ion-scroll>
            </div>
        </div>


        <div ng-if="Deploy.isLogin" style="background:#fff;">
            <div class="mod_title_text this_a" ng-if="DataList.ClubList.length > 0">
                <div>精选圈子</div>
                <a>查看所有 &gt;</a>
            </div>
            <div class="mod_list_img" ng-if="DataList.ClubList.length > 0">
                <ion-scroll direction="x" scrollbar-x="false" locking="false">
                    <div class="this_wrapper" style="padding-bottom:10px;">
                        <a ng-repeat="(k, v) in DataList.ClubList track by $index" ui-sref="forum.club-detail({id: v.ClubId})">
                            <div class="this_img"><img ng-src="{{v.ImageUrl}}" /></div>
                            <div class="this_title">{{v.ClubName}}</div>
                            <div class="this_tx">今日更新 {{v.TodayNews}}</div>
                            <div class="this_btn">去签到</div>
                        </a>
                    </div>
                </ion-scroll>
            </div>
        </div>



        <ul class="user_menu_list">
            <li class="icon_post" page-jump><p>我的发布</p></li>
            <li class="icon_fav" page-jump><p>我的收藏</p></li>
            <li class="icon_club" page-jump><p>我的圈子</p></li>
        </ul>
        <ul class="user_menu_list">
            <li class="icon_suggest" page-jump data-router="forum.user-feedback"><p>意见反馈</p></li>
            <li class="icon_level" page-jump data-router="forum.user-level"><p>会员等级说明</p></li>
            <li class="icon_about" page-jump data-router="forum.user-about"><p>关于师乐汇</p></li>
        </ul>
        <div class="user_bottom_logo"></div>
    </ion-content>
</ion-view>

<footer-bar></footer-bar>