<section class="unit_member" when-scrolled="loadMore()" ng-init="currentTab=1">
    
    <div class="unit_member_data" style="background:url(../themes/temp/9.jpg) no-repeat center bottom;background-size:100% auto">

        <div page-back="backParam" class="this_back"></div>

        <h2>玩教具</h2>
        <div class="this_text">
            <i>图片 50</i>
            <i>赞 258</i>
        </div>
        <img src="../themes/temp/3.jpg" />
        <h2>吹口哨的小女孩</h2>
    </div>

    <ul class="mod_tab_icon">
        <li ng-click="currentTab=1" ng-class="{current : currentTab==1}">瀑布流</li>
        <li ng-click="currentTab=2" ng-class="{current : currentTab==2}">垂直平铺</li>
    </ul>


    <!--瀑布流-->
    <falls ng-if="currentTab==1">
        <li ng-repeat="(k, v) in DataList.ArticleList track by $index" data-y="{{v.Images[0].Height}}" >
            <div class="this_border" page-jump="{{v.SiteUrl}}">
                <img ng-src="{{v.Images[0].ImageUrl}}" />
                <article>
                    <div class="this_text">{{v.Images[0].Description}}</div>
                    
                    <div class="this_star">
                        256
                    </div>

                    <div class="this_user">
                        <img ng-src="{{v.Author.ImageUrl}}" />
                        <p>
                            {{v.Author.UserName}}<br>
                            <span ng-repeat="x in v.CategoryList">#{{x.CateName}}</span>
                        </p>
                    </div>
                </article>
            </div>
        </li>
    </falls>

    <!--垂直平铺-->
    <ul class="mod_list_img_only" ng-if="currentTab==2">
        <li ng-repeat="(k, v) in DataList.ArticleList track by $index" page-jump="{{v.SiteUrl}}">
            <img ng-src="{{v.Images[0].ImageUrl}}" />
            <article>
                <div class="this_text">{{v.Images[0].Description}}</div>

                <div class="this_star">256</div>

                <div class="this_user">
                    <img ng-src="{{v.Author.ImageUrl}}" />
                    <p>
                        {{v.Author.UserName}}<br>
                        <span ng-repeat="x in v.CategoryList">#{{x.CateName}}</span>
                    </p>
                </div>
            </article>
        </li>
    </ul>
</section>
