<section ng-if="Deploy.isLogin">
    <header-bar title="修改密码"></header-bar>

    <ion-view>
        <ion-content overflow-scroll="true" class="mod_wrapper">
<!--             <ul class="unit_pasword">
                <li>
                    <label>旧密码</label>
                    <input ng-model="inputVal.oldPassword" type="password" placeholder="请输入旧密码">
                </li>
                <li>
                    <label>新密码</label>
                    <input ng-model="inputVal.password" type="password" placeholder="6-16位字符">
                </li>
                <li>
                    <label>确认新密码</label>
                    <input ng-model="inputVal.passwordCheck" type="password" placeholder="重复新密码">
                </li>
            </ul>
 -->

            <div class="mod_layout">
                <ul class="mod_list_default">
                    <li class="last_border_line">
                        <label>旧密码</label>
                        <input ng-model="cInput.oldPassword" type="number" placeholder="请输入旧密码">
                    </li>
                    <li>
                        <label>新密码</label>
                        <input ng-model="cInput.password" type="password" placeholder="6-16位字符，区分大小写" />
                    </li>
                    <li>
                        <label>确认新密码</label>
                        <input ng-model="cInput.passwordCheck" type="password" placeholder="重复新密码" />
                    </li>
                </ul>
            </div>

            <div class="mod_phone_code">
                <button get-vcode ng-class="{disable:vColdDown}">{{vBtnText}}</button>
                <input ng-model="cInput.vcode" type="number" maxlength="4" placeholder="请输入收到的验证码" />
            </div>

            <button ng-click="submitModify()" class="unit_btn">提交密码修改</button>

        </ion-content>
    </ion-view>
</section>

<page-login ng-if="!Deploy.isLogin"></page-login>