<ion-view hide-nav-bar="true" ng-model="Deploy.currentTab" ng-init="Deploy.currentTab=1">
    <ion-header-bar>
        <ul class="mod_tab_2">
            <li ng-click="updateData(1);" ng-class="{current : Deploy.currentTab==1}">
                精品
            </li>
            <li ng-click="updateData(2);" ng-class="{current : Deploy.currentTab==2}">
                关注
            </li>
            <i class="line" ng-class="{tmp: Deploy.currentTab == 2}"></i>
        </ul>
    </ion-header-bar>


    <ion-content overflow-scroll="true">
    
        <div ng-if="Deploy.currentTab==1">
            <ion-slide-box auto-play="true" does-continue="true" ng-if="DataList.ImageList">
                <ion-slide ng-repeat="(k, v) in DataList.ImageList track by $index">
                    <div class="mod_slide_tab">
                        <img ng-src="{{v.ImageUrl}}" />
                        <p>{{v.Title}}</p>
                    </div>
                </ion-slide>
            </ion-slide-box>

            <!--瀑布流-->
            <falls>
                <li ng-repeat="(k, v) in DataList.ListLeft track by $index" data-y="{{v.Images[0].Height}}">
                    <a class="this_border" page-jump data-router="forum.detail" data-options="{id:{{v.ArticleId}}}">
                        <img ng-src="{{v.Images[0].ImageUrl}}" />
                        <article>
                            <div class="this_text">{{v.Images[0].Description}}</div>
                            
                            <div class="this_star">{{v.TotalCollect}}</div>

                            <div class="this_user">
                                <img ng-src="{{v.Author.ImageUrl}}" />
                                <dl>
                                    <dt>{{v.Author.UserName}}</dt>
                                    <dd>
                                        <span ng-repeat="x in v.CategoryList">#{{x.CateName}}</span>
                                    </dd>
                                </dl>
                            </div>
                        </article>
                    </a>
                </li>
            </falls>
        </div>

        <div ng-if="Deploy.currentTab==2">
            <!--瀑布流-->
            <falls>
                <li ng-repeat="(k, v) in DataList.ListRight track by $index" data-y="{{v.Images[0].Height}}" >
                    <a class="this_border" page-jump data-router="forum.detail" data-options='{ "id": {{v.ArticleId}} }'>
                        <img ng-src="{{v.Images[0].ImageUrl}}" />
                        <article>
                            <div class="this_text">{{v.Images[0].Description}}</div>
                            
                            <div class="this_star">{{v.TotalCollect}}</div>

                            <div class="this_user">
                                <img ng-src="{{v.Author.ImageUrl}}" />
                                <dl>
                                    <dt>{{v.Author.UserName}}</dt>
                                    <dd>
                                        <span ng-repeat="x in v.CategoryList">#{{x.CateName}}</span>
                                    </dd>
                                </dl>
                            </div>
                        </article>
                    </a>
                </li>
            </falls>
        </div>

        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="Deploy.isMore"></ion-infinite-scroll>

        <div class="mod_no_more" ng-if="!Deploy.isMore">没有数据了！</div>

    </ion-content>
</ion-view>

<footer-bar></footer-bar>

<user-login></user-login>