<ion-view >
    <ion-content>
        <section ng-style="noScroll" when-scrolled="loadMore()">
            <div ng-if="currentTab==1">
                <div class="mod_slide" ng-slide="eventSlide">
                    <ul>
                        <li ng-repeat="(k, v) in DataList.ImageList track by $index">
                            <img ng-src="{{v.ImageUrl}}" />
                            <div>{{v.Title}}</div>
                        </li>
                    </ul>
                    <ol>
                        <li ng-repeat="(k, v) in DataList.ImageList track by $index" ng-class="{current: k==0}"></li>
                    </ol>
                </div>

                <!--瀑布流-->
                <falls>
                    <li ng-repeat="(k, v) in DataList.ListLeft track by $index" data-y="{{v.Images[0].Height}}" >
                        <div class="this_border" page-jump="{{v.SiteUrl}}">
                            <img ng-src="{{v.Images[0].ImageUrl}}" />
                            <article>
                                <div class="this_text">{{v.Images[0].Description}}</div>
                                
                                <div class="this_star">{{v.TotalCollect}}</div>

                                <div class="this_user">
                                    <img ng-src="{{v.Author.ImageUrl}}" />
                                    <dl>
                                        <dt>{{v.Author.UserName}}</dt>
                                        <dd>
                                            <span ng-repeat="x in v.CategoryList">#{{x.CateName}}</span>
                                        </dd>
                                    </dl>
                                </div>
                            </article>
                        </div>
                    </li>
                </falls>
            </div>

            <div ng-if="currentTab==2">
                <!--瀑布流-->
                <falls>
                    <li ng-repeat="(k, v) in DataList.ListRight track by $index" data-y="{{v.Images[0].Height}}" >
                        <div class="this_border" page-jump="{{v.SiteUrl}}">
                            <img ng-src="{{v.Images[0].ImageUrl}}" />
                            <article>
                                <div class="this_text">{{v.Images[0].Description}}</div>
                                
                                <div class="this_star">{{v.TotalCollect}}</div>

                                <div class="this_user">
                                    <img ng-src="{{v.Author.ImageUrl}}" />
                                    <dl>
                                        <dt>{{v.Author.UserName}}</dt>
                                        <dd>
                                            <span ng-repeat="x in v.CategoryList">#{{x.CateName}}</span>
                                        </dd>
                                    </dl>
                                </div>
                            </article>
                        </div>
                    </li>
                </falls>
            </div>
    </section>
    </ion-content>
</ion-view>

<footer-bar></footer-bar>