<ion-view >
    <ion-content>

            <div class="mod_slide">
                <ul>
                    <li>
                        <img src="../../themes/temp/img_1.jpg" />
                        <div>幼儿园生活环境布置：编织乐</div>
                    </li>
                    <li>
                        <img src="../../themes/temp/img_2.jpg" />
                        <div>幼儿园生活环境布置：编织乐</div>
                    </li>
                    <li>
                        <img src="../../themes/temp/img_3.jpg" />
                        <div>幼儿园生活环境布置：编织乐</div>
                    </li>
                </ul>
                <ol>
                    <li class="current"></li>
                    <li></li>
                    <li></li>
                </ol>
            </div>

            <ul class="mod_list_falls" style="height:1600px;">
                <li style="left:0;top:0;">
                    <div class="this_border">
                        <img src="../../themes/temp/1.jpg" />
                        <article>
                            <div class="this_text">
                                所需材料：剪刀、彩纸、双面胶等等
                            </div>
                            
                            <div class="this_star">
                                256
                            </div>

                            <div class="this_user">
                                <img src="../../themes/temp/3.jpg" />
                                <p>
                                    开心每一天<br>
                                    发布到：#泥工  #废 旧材料  #玩教具习的
                                </p>
                            </div>
                        </article>
                    </div>
                </li>
                <li style="right:0;top:0;">
                    <div class="this_border">
                        <img src="../../themes/temp/2.jpg" />
                        <article>
                            <div class="this_text">
                                活动意图：《3-6岁儿童学习与发展指南》（以下简称《指南》）告诉我们，幼儿科学学习的方式是直接感知、亲身体验和实际操作，因此，让幼儿了幼儿科学学习的
                            </div>
                            <div class="this_star">
                                256
                            </div>
                            <div class="this_user">
                                <img src="../../themes/temp/3.jpg" />
                                <p>
                                    开心每一天<br>
                                    发布到：#泥工  #废 旧材料  #玩教具
                                </p>
                            </div>
                        </article>
                    </div>
                </li>
                <li style="left:0;top:280px;">
                    <div class="this_border">
                        <img src="../../themes/temp/4.jpg" />
                        <article>
                            <div class="this_text">
                                所需材料：剪刀、彩纸、双面胶等等
                            </div>
                            
                            <div class="this_star">
                                256
                            </div>

                            <div class="this_user">
                                <img src="../../themes/temp/3.jpg" />
                                <p>
                                    开心每一天<br>
                                    发布到：#泥工  #废 旧材料  #玩教具
                                </p>
                            </div>
                        </article>
                    </div>
                </li>
                <li style="right:0;top:320px;">
                    <div class="this_border">
                        <img src="../../themes/temp/5.jpg" />
                        <article>
                            <div class="this_text">
                                所需材料：剪刀、彩纸、双面胶等等
                            </div>
                            
                            <div class="this_star">
                                256
                            </div>

                            <div class="this_user">
                                <img src="../../themes/temp/3.jpg" />
                                <p>
                                    开心每一天<br>
                                    发布到：#泥工  #废 旧材料  #玩教具
                                </p>
                            </div>
                        </article>
                    </div>
                </li>
                <li style="left:0;top:680px;">
                    <div class="this_border">
                        <img src="../../themes/temp/6.jpg" />
                        <article>
                            <div class="this_text">
                                活动意图：《3-6岁儿童学习与发展指南》（以下简称《指南》）告诉我们，幼儿科学学习的方式是直接感知、亲身体验和实际操作，因此，让幼儿了幼儿科学学习的
                            </div>
                            <div class="this_star">
                                256
                            </div>
                            <div class="this_user">
                                <img src="../../themes/temp/3.jpg" />
                                <p>
                                    开心每一天<br>
                                    发布到：#泥工  #废 旧材料  #玩教具
                                </p>
                            </div>
                        </article>
                    </div>
                </li>
                <li style="right:0;top:690px;">
                    <div class="this_border">
                        <img src="../../themes/temp/7.jpg" />
                        <article>
                            <div class="this_text">
                                所需材料：剪刀、彩纸、双面胶等等
                            </div>
                            
                            <div class="this_star">
                                256
                            </div>

                            <div class="this_user">
                                <img src="../../themes/temp/3.jpg" />
                                <p>
                                    开心每一天<br>
                                    发布到：#泥工  #废 旧材料  #玩教具
                                </p>
                            </div>
                        </article>
                    </div>
                </li>
                <li style="right:0;top:1000px;">
                    <div class="this_border">
                        <img src="../../themes/temp/8.jpg" />
                        <article>
                            <div class="this_text">
                                所需材料：剪刀、彩纸、双面胶等等
                            </div>
                            
                            <div class="this_star">
                                256
                            </div>

                            <div class="this_user">
                                <img src="../../themes/temp/3.jpg" />
                                <p>
                                    开心每一天<br>
                                    发布到：#泥工  #废 旧材料  #玩教具
                                </p>
                            </div>
                        </article>
                    </div>
                </li>
            </ul>



        <section ng-style="noScroll" when-scrolled="loadMore()">
            <div ng-if="currentTab==1">
            <div class="mod_slide" ng-slide="eventSlide">
                <ul>
                    <li ng-repeat="(k, v) in DataList.ImageList track by $index">
                        <img ng-src="{{v.ImageUrl}}" />
                        <div>{{v.Title}}</div>
                    </li>
                </ul>
                <ol>
                    <li ng-repeat="(k, v) in DataList.ImageList track by $index" ng-class="{current: k==0}"></li>
                </ol>
            </div>

            <!--瀑布流-->
            <falls>
                <li ng-repeat="(k, v) in DataList.ListLeft track by $index" data-y="{{v.Images[0].Height}}" >
                    <div class="this_border" page-jump="{{v.SiteUrl}}">
                        <img ng-src="{{v.Images[0].ImageUrl}}" />
                        <article>
                            <div class="this_text">{{v.Images[0].Description}}</div>
                            
                            <div class="this_star">{{v.TotalCollect}}</div>

                            <div class="this_user">
                                <img ng-src="{{v.Author.ImageUrl}}" />
                                <dl>
                                    <dt>{{v.Author.UserName}}</dt>
                                    <dd>
                                        <span ng-repeat="x in v.CategoryList">#{{x.CateName}}</span>
                                    </dd>
                                </dl>
                            </div>
                        </article>
                    </div>
                </li>
            </falls>
        </div>

        <div ng-if="currentTab==2">
            <!--瀑布流-->
            <falls>
                <li ng-repeat="(k, v) in DataList.ListRight track by $index" data-y="{{v.Images[0].Height}}" >
                    <div class="this_border" page-jump="{{v.SiteUrl}}">
                        <img ng-src="{{v.Images[0].ImageUrl}}" />
                        <article>
                            <div class="this_text">{{v.Images[0].Description}}</div>
                            
                            <div class="this_star">{{v.TotalCollect}}</div>

                            <div class="this_user">
                                <img ng-src="{{v.Author.ImageUrl}}" />
                                <dl>
                                    <dt>{{v.Author.UserName}}</dt>
                                    <dd>
                                        <span ng-repeat="x in v.CategoryList">#{{x.CateName}}</span>
                                    </dd>
                                </dl>
                            </div>
                        </article>
                    </div>
                </li>
            </falls>
        </div>
    </section>
    </ion-content>
</ion-view>

<footer-bar></footer-bar>