<ion-view>
    <ion-content scroll="false" class="start">
        <ion-slide-box auto-play="true" does-continue="true" show-pager="false" ng-if="DataList.ImagesList.length > 0">
            <ion-slide ng-repeat="(k, v) in DataList.ImagesList track by $index">
                <div class="mod_slide_tab">
                    <img ng-src="{{v.ImageUrl}}" />
                    <p>{{v.Title}}</p>
                </div>
            </ion-slide>
        </ion-slide-box>

        <div class="this_btn" page-jump data-router="forum.home">跳过>></div>

        <footer></footer>
    </ion-content>
</ion-view>