<section ng-if="Deploy.isLogin">
    <header-bar title="评论"></header-bar>

    <ion-view>
        <ion-content overflow-scroll="true" class="mod_wrapper">
            <ul class="msg_comment_list">
                <li ng-repeat="(k, v) in DataList.CommentList track by $index">
                    <div><img ng-src="{{v.Author.ImageUrl}}" /></div>
                    <dl>
                        <dt>{{v.Author.UserName}}</dt>
                        <dd>
                            <em>评论了 {{v.Article.Description}}</em>
                            <p>{{v.Content}}</p>
                            <i>{{v.UpdateTime}}</i>
                        </dd>
                    </dl>
                    <div><img ng-src="{{v.Article.ImageUrl}}" /></div>
                </li>
            </ul>

            <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="Deploy.isMore">
            </ion-infinite-scroll>

            <div class="mod_no_more" ng-if="!Deploy.isMore">没有数据了！</div>
        </ion-content>
    </ion-view>
</section>

<page-login ng-if="!Deploy.isLogin"></page-login>