<header-bar title="私聊" ng-if="Deploy.isLogin"></header-bar>

<ion-view hide-nav-bar="true" ng-if="Deploy.isLogin">
    <ion-content overflow-scroll="true" class="mod_wrapper">
        <ul class="msg_talk_list" ng-if="DataList.TalkList.length > 0">
            <li ng-repeat="(k, v) in DataList.TalkList track by $index">
                <img ng-src="{{v.Author.ImageUrl}}" />
                <dl>
                    <dt>
                        {{v.Author.UserName}}
                        <i>{{v.UpdateTime}}</i>
                    </dd>
                    <dd>
                        {{v.Content}}
                    </dd>
                </dl>
            </li>
        </ul>

        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="Deploy.isMore">
        </ion-infinite-scroll>

        <div class="mod_no_more" ng-if="!Deploy.isMore">没有数据了！</div>
    </ion-content>
</ion-view>

<page-login ng-if="!Deploy.isLogin"></page-login>