<header class="mod_header">
    <a page-back="{{backParam}}" class="back_button"></a>
    <h1 class="title_content">编辑照片</h1>
    <a ng-click="nextPage()" class="right_button">继续</a>
</header>
<section class="unit_photo">
    <div class="this_photo">
        <img id="img" ng-src="{{ImageData.imageUrl}}" />
    </div>

    <div class="this_tmp_canvas"><canvas id="tmp"></canvas></div>

    <ul class="this_tab">
        <li ng-class="{current: currentTab}" ng-click="changeTab()">水印</li>
        <li ng-class="{current: !currentTab}" ng-click="changeTab()">滤镜</li>
        <li>|</li>
    </ul>

    <div ng-show="currentTab">
        <div class="this_scroll" id="wrapper1" ng-iscroll="eventScroll" ng-iscroll-delay='50'>
            <ul>
                <li class="current">
                    <img src="../themes/temp/7.jpg" />
                    原图
                </li>
                <li>
                    <img src="../themes/temp/7.jpg" />
                    原图
                </li>
                <li>
                    <img src="../themes/temp/7.jpg" />
                    原图
                </li>
                <li>
                    <img src="../themes/temp/7.jpg" />
                    原图
                </li>
                <li>
                    <img src="../themes/temp/7.jpg" />
                    原图
                </li>
                <li>
                    <img src="../themes/temp/7.jpg" />
                    原图
                </li>
            </ul>
        </div>
    </div>

    <div ng-show="!currentTab">
        <div class="this_scroll" id="wrapper2" ng-iscroll="eventScroll" ng-iscroll-delay='50'>
            <ul>
                <li class="current">
                    <img src="../themes/temp/7.jpg" />
                    原图
                </li>
                <li>
                    <img src="../themes/temp/7.jpg" />
                    原图
                </li>
                <li>
                    <img src="../themes/temp/7.jpg" />
                    原图
                </li>
                <li>
                    <img src="../themes/temp/7.jpg" />
                    原图
                </li>
                <li>
                    <img src="../themes/temp/7.jpg" />
                    原图
                </li>
                <li>
                    <img src="../themes/temp/7.jpg" />
                    原图
                </li>
            </ul>
        </div>
    </div>
</section>