<header-bar title="详情" right="...|showLayout"></header-bar>

<ion-view class="ios_status_bar">

    <!-- <header-opacity></header-opacity> -->
    
    <!-- <ion-content has-bouncing="false" on-scroll="headerScroll()" delegate-handle="mainScroll"> -->

    <div class="mod_show_layout" ng-if="isShowLayout" ng-click="hideLayout()">
        <ul ng-if="isOwner">
            <li page-jump data-router="forum.edit" data-options="{id: articleId}">编辑</li>
            <li ng-click="doDelete()">删除</li>
        </ul>
        <ul ng-if="!isOwner">
            <li page-jump data-router="forum.report" data-options="{id: articleId, title: DataList.Author.UserName}">举报</li>
            <li ng-click="setCollect()">收藏</li>
            <li>分享</li>
            <li ng-click="setPraise()">赞</li>
            <li ng-click="showComment()">点评</li>
        </ul>
    </div>


    <div ng-if="isComment" class="detail_comment">
        <section>
            <article>
                <textarea ng-model="cInput.comment" placeholder="请输入你想说的话"></textarea>
                <p>
                    <span ng-click="hideComment()">取消</span>
                    <span ng-click="setComment()">发表评论</span>
                </p>
            </article>
        </section>
    </div>


    <ion-content overflow-scroll="true" class="isscroll">

        <section class="forum_detail">
            <div class="this_detail_content">
                <ul class="imgart_content">
                    <li ng-repeat="(k, v) in DataList.Images track by $index">
                        <img ng-src="{{v.ImageUrl}}" />
                        {{v.Description}}
                    </li>
                </ul>

                <ul class="this_comment_list">
                    <li>
                        <img ng-src="{{DataList.Author.ImageUrl}}">
                        <dl>
                            <dt>
                                <span>5天前</span>
                                {{DataList.Author.UserName}}
                                <!-- <a page-jump data-router="forum.chat" data-options="{uid:123123,uname:DataList.Author.UserName}">私聊</a> -->
                            </dt>
                            <dd>
                                发布到：
                                <i ng-repeat="(k, v) in DataList.Affect.CategoryList track by $index">#{{v.CateName}}</i>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>


            <div class="this_detail_wrapper">
                <div class="this_text_01">
                    <span>{{DataList.Total.TotalPraise}}</span>人赞过,
                    <span>{{DataList.Total.TotalCollect}}</span>次浏览,
                    <span>{{DataList.Total.TotalComment}}</span>条评论,
                    被收藏<span>{{DataList.Total.TotalComment}}</span>次
                </div>

                <div class="this_user_images" ng-if="DataList.PraiseUser.length > 0">
                    <a ng-click="setPraise()"></a>
                    <img ng-repeat="(k, v) in DataList.PraiseUser track by $index" ng-src="{{v.ImageUrl}}" />
                </div>

                <!--
                <div class="this_comment_add">
                    <img src="../themes/temp/1.jpg">
                    <div>
                        <input type="text" placeholder="说说你的评论">
                    </div>
                </div>
                -->

                <ul ng-if="DataList.CommentList.length > 0" class="this_comment_list">
                    <li ng-repeat="v in DataList.CommentList track by $index">
                        <img ng-src="{{v.Author.ImageUrl}}">
                        <dl>
                            <dt>
                                <span>{{v.UpdateTime}}</span>
                                {{v.Author.UserName}}
                            </dt>
                            <dd>{{v.Content}}</dd>
                        </dl>
                    </li>
                </ul>
                <a class="this_comment_more" page-jump data-router="forum.comment-list" data-options="{id:articleId}">更多评论>></a>
            </div>

            <div class="mod_title_text this_p" ng-if="DataList.ArticleList.length > 0">
                <div>老师们也在看</div>
            </div>
            <div class="mod_list_img" ng-if="DataList.ArticleList.length > 0">
                <ion-scroll direction="x" scrollbar-x="false" locking="false">
                    <div class="this_wrapper">
                        <a ng-repeat="(k, v) in DataList.ArticleList track by $index" page-jump data-router="forum.detail" data-options="{id:v.ArticleId}">
                            <div class="this_img">
                                <img ng-src="{{v.Images[0].ImageUrl}}" />
                            </div>
                            <div class="this_title">
                                <span ng-repeat="i in v.CategoryList">#{{i.CateName}}</span>
                            </div>
                            <div class="this_tx">{{v.TotalHit}}人看过</div>
                        </a>
                    </div>
                </ion-scroll>
            </div>
            
            <div class="mod_login_01" ng-if="!Deploy.isLogin">
                <h3>想看看同行们发布的？</h3>
                <a ng-click="showLogin()">马上登录</a>
            </div>
        </section>
    </ion-content>

<!--
    <footer class="comment_footer">
        <a class="footer_heart">赞9</a>
        <a class="footer_comment">评论9</a>
        <a class="footer_share">分享9</a>
        <a class="footer_collect">收藏9</a>
    </footer> -->
</ion-view>

<user-login></user-login>