<ion-view hide-nav-bar="true" class="ios_status_bar">
    <header-opacity></header-opacity>
    
    <ion-content overflow-scroll="true">

        <div class="mod_show_layout" ng-if="isShowLayout">
            <ul ng-if="isOwner">
                <li>编辑</li>
                <li>删除</li>
            </ul>
            <ul ng-if="!isOwner">
                <li page-jump="redirectUrl.Report">举报</li>

        <!--         <li page-jump="redirect.Report">收藏</li>
                <li page-jump="redirect.Report">分享</li>
                <li page-jump="redirect.Report">点评</li>
                <li page-jump="redirect.Report">赞</li> -->
            </ul>
        </div>

        <section class="forum_detail">
            <div class="this_detail_content">
                <ul class="imgart_content">
                    <li ng-repeat="(k, v) in DataList.Images track by $index">
                        <img ng-src="{{v.ImageUrl}}" />
                        {{v.Description}}
                    </li>
                </ul>

                <ul class="this_comment_list">
                    <li>
                        <img ng-src="{{DataList.Author.ImageUrl}}">
                        <dl>
                            <dt>
                                <span>5天前</span>
                                {{DataList.Author.UserName}}
                                <a ui-sref="forum.chat({uid: 123123})">私聊</a>
                            </dt>
                            <dd>
                                发布到：
                                <i ng-repeat="(k, v) in DataList.Affect.CategoryList track by $index">#{{v.CateName}}</i>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>


            <div class="this_detail_wrapper">
                <div class="this_text_01">
                    <span>{{DataList.Total.TotalPraise}}</span>人赞过,
                    <span>{{DataList.Total.TotalCollect}}</span>次浏览,
                    <span>{{DataList.Total.TotalComment}}</span>条评论,
                    被收藏<span>{{DataList.Total.TotalComment}}</span>次
                </div>

                <div class="this_user_images" ng-if="DataList.PraiseUser.length > 0">
                    <a ng-click="setPraise()"></a>
                    <img ng-repeat="(k, v) in DataList.PraiseUser track by $index" ng-src="{{v.ImageUrl}}" />
                </div>

                <!--
                <div class="this_comment_add">
                    <img src="../themes/temp/1.jpg">
                    <div>
                        <input type="text" placeholder="说说你的评论">
                    </div>
                </div>
                -->

                <ul ng-if="DataList.CommentList.length > 0" class="this_comment_list">
                    <li ng-repeat="v in DataList.CommentList track by $index">
                        <img ng-src="{{v.Author.ImageUrl}}">
                        <dl>
                            <dt>
                                <span>{{v.UpdateTime}}</span>
                                {{v.Author.UserName}}
                            </dt>
                            <dd>{{v.Content}}</dd>
                        </dl>
                    </li>
                </ul>
                <a class="this_comment_more" page-jump data-router="forum.comment-list" data-options='{ "id": 1 }'>更多评论>></a>
            </div>

            <div class="mod_title_text this_p" ng-if="DataList.ArticleList.length > 0">
                <div>老师们也在看</div>
            </div>
            <div class="mod_list_img" ng-if="DataList.ArticleList.length > 0">
                <ion-scroll direction="x" scrollbar-x="false" locking="false">
                    <div class="this_wrapper">
                        <a ng-repeat="(k, v) in DataList.ArticleList track by $index" page-jump data-router="forum.detail" data-options='{ "id": {{v.ArticleId}} }'>
                            <div class="this_img">
                                <img ng-src="{{v.Images[0].ImageUrl}}" />
                            </div>
                            <div class="this_title">
                                <span ng-repeat="i in v.CategoryList">#{{i.CateName}}</span>
                            </div>
                            <div class="this_tx">{{v.TotalHit}}人看过</div>
                        </a>
                    </div>
                </ion-scroll>
            </div>
            
            <div class="mod_login_01" ng-if="!isLogin">
                <h3>想看看同行们发布的？</h3>
                <a page-jump data-router="member">马上登录</button>
            </div>
        </section>
    </ion-content>

<!--
    <footer class="comment_footer">
        <a class="footer_heart">赞9</a>
        <a class="footer_comment">评论9</a>
        <a class="footer_share">分享9</a>
        <a class="footer_collect">收藏9</a>
    </footer> -->
</ion-view>