<ion-view hide-nav-bar="true">
    <header-opacity></header-opacity>
    
    <ion-content overflow-scroll="true" ng-model="Deploy.currentTab" ng-init="Deploy.currentTab=1">

        <div ng-if="DataList.CategoryList.length > 0" ng-class="Deploy.cateClass">
<!--             <div>
                <a ng-repeat="(k, v) in DataList.CategoryList track by $index" ui-sref="forum.cate({id: v.CateId})">
                    #{{v.CateName}}
                </a>
            </div> -->


            <ul>
                <li ng-repeat="(k, v) in DataList.CategoryList track by $index" ng-click="refreshView(v.CateId)">
                    #{{v.CateName}}
                </li>
            </ul>
        </div>

        <div ng-if="DataList.CategoryList.length == 0" class="forum_cate_description">
            <div>
                <img ng-src="{{DataList.CurrentCate.ImageUrl}}" />
                <p>
                    {{DataList.CurrentCate.CateName}}<br>
                    {{DataList.CurrentCate.Description}}
                </p>
            </div>
        </div>


        <ul class="mod_tab_icon">
            <li ng-click="Deploy.currentTab=1" ng-class="{current : Deploy.currentTab==1}">
                瀑布流
            </li>
            <li ng-click="Deploy.currentTab=2" ng-class="{current : Deploy.currentTab==2}">
                垂直平铺
            </li>
        </ul>

        
        <!--瀑布流-->
        <falls ng-show="Deploy.currentTab==1">
            <li ng-repeat="(k, v) in DataList.ArticleList track by $index" data-y="{{v.Images[0].Height}}" >
                <a class="this_border" page-jump data-router="forum.detail" data-options='{ "id": {{v.ArticleId}} }'>
                    <img ng-src="{{v.Images[0].ImageUrl}}" />
                    <article>
                        <div class="this_text">{{v.Images[0].Description}}</div>
                        
                        <div class="this_star">{{v.TotalCollect}}</div>

                        <div class="this_user">
                            <img ng-src="{{v.Author.ImageUrl}}" />
                            <dl>
                                <dt>{{v.Author.UserName}}</dt>
                                <dd>
                                    <span ng-repeat="x in v.CategoryList">#{{x.CateName}}</span>
                                </dd>
                            </dl>
                        </div>
                    </article>
                </a>
            </li>
        </falls>

        <!--垂直平铺-->
        <ul ng-show="Deploy.currentTab==2" class="mod_list_img_only">
            <li ng-repeat="(k, v) in DataList.ArticleList track by $index">
                <a class="this_border" page-jump data-router="forum.detail" data-options='{ "id": {{v.ArticleId}} }'>
                    <img ng-src="{{v.Images[0].ImageUrl}}" />
                    <article>
                        <div class="this_text">{{v.Images[0].Description}}</div>

                        <div class="this_star">{{v.TotalCollect}}</div>

                        <div class="this_user">
                            <img ng-src="{{v.Author.ImageUrl}}" />
                            <dl>
                                <dt>{{v.Author.UserName}}</dt>
                                <dd>
                                    <span ng-repeat="x in v.CategoryList">#{{x.CateName}}</span>
                                </dd>
                            </dl>
                        </div>
                    </article>
                </a>
            </li>
        </ul>
        
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="Deploy.isMore">
        </ion-infinite-scroll>

        <div class="mod_no_more" ng-if="!Deploy.isMore">没有数据了！</div>
    </ion-content>
</ion-view>