<section ng-if="Deploy.isLogin">
    <header-bar title="{{uname}}" right="TA的主页|goUserPage"></header-bar>

    <ion-view>
        <ion-content overflow-scroll="true">
            <!--客人左、主人右-->
            <section class="message_chat">
                <h2>3月25日  13:30</h2>
                <div class="this_list this_left">
                    <img src="../themes/temp/3.jpg" />
                    <div>
                        <article>
                            下午好！
                        </article>
                    </div>
                </div>
                <div class="this_list this_left">
                    <img src="../themes/temp/3.jpg" />
                    <div>
                        <article>
                            你可以用它开发网页样式，但是没法用它编程。也就是说，CSS基本上是设计师的工具，不是程序员的工具。在程序员眼里，CSS是一件很麻烦的东西。它没有变量，也没有条件语句，只是一行行单纯的描述，写起来相当费事
                        </article>
                    </div>
                </div>
                <h2>3月25日  13:30</h2>
                <div class="this_list this_right">
                    <img src="../themes/temp/3.jpg" />
                    <div>
                        <article>
                            下午好！
                        </article>
                    </div>
                </div>
                <div class="this_list this_right">
                    <img src="../themes/temp/3.jpg" />
                    <div>
                        <article>
                            你可以用它开发网页样式，但是没法用它编程
                        </article>
                    </div>
                </div>
                <h2>3月25日  13:30</h2>
                <div class="this_list this_right">
                    <img src="../themes/temp/3.jpg" />
                    <div>
                        <article>
                            你可以用它开发网页样式，但是没法用它编程。也就是说，CSS基本上是设计师的工具，不是程序员的工具。在程序员眼里，CSS是一件很麻烦的东西。它没有变量，也没有条件语句，只是一行行单纯的描述，写起来相当费事
                        </article>
                    </div>
                </div>
            </section>
        </ion-content>

        <section class="unit_msg_footer">
            <input ng-model="sendMsgVal">
            <button ng-click="sendMsg()">发送</button>
        </section>

    </ion-view>
</section>

<page-login ng-if="!Deploy.isLogin"></page-login>