<ion-header-bar align-title="left">
    <div class="buttons">
        <button class="button icon-left ion-chevron-left button-clear button-white" ng-click="$ionicGoBack()"></button>
    </div>
    <h1 class="title">成员排行榜</h1>
</ion-header-bar>

<!-- 共显示20个用户 -->
<ion-view>
    <ion-content>
        <section class="mod_wrapper">
            <div class="forum_club_ranking">
                <a ng-repeat="(k, v) in DataList.UserList track by $index" href="{{v.SiteUrl}}">
                    <i>{{k+1}}</i>
                    <img ng-src="{{v.ImageUrl}}" />
                    <p>{{v.UserName}}</p>
                </a>
            </div>
        </section>
    </ion-content>
</ion-view>