<ion-view class="ios_status_bar">
    <header-opacity></header-opacity>

    <ion-content has-bouncing="false" on-scroll="headerScroll()" delegate-handle="mainScroll">

        <div class="forum_cate_description">
            <div>
                <img ng-src="{{DataList.ImageUrl}}" />
                <dl>
                    <dt>{{DataList.ClubName}}</dt>
                    <dd>{{DataList.Description}}</dd>
                </dl>
            </div>
        </div>

        <div class="forum_club_info" ng-if="DataList.StateJoin">
            <li class="this_reg">
                <p>签到 <span>{{DataList.TotalSign}}</span> / 连续签到 <span>{{DataList.TotalAlwaysSign}}</span></p>
                <button>签到</button>
            </li>
            <li class="this_user">
                <p>圈成员：{{DataList.TotalMember}}</p>
                <a href="{{redirectUrl.Ranking}}">查看排行榜</a>
            </li>
            <li ng-if="DataList.ActivityList.ActivityId" class="this_acti">
                <a href="{{DataList.ActivityList.SiteUrl}}">
                    {{DataList.ActivityList.ActivityName}}
                </a>
            </li>
        </div>

        <div class="forum_club_info" ng-if="!DataList.StateJoin">
            <div class="this_user">
                <p>圈成员：{{DataList.TotalMember}}</p>
                <button>加入圈子</button>
            </div>
            <li ng-if="DataList.ActivityList.ActivityId" class="this_acti">
                <a href="{{DataList.ActivityList.SiteUrl}}">
                    {{DataList.ActivityList.ActivityName}}
                </a>
            </li>
        </div>

        <div class="mod_title_text this_p" ng-if="DataList.ArticleTop.length > 0">
            <div>精选 {{DataList.ArticleTop.length}}</div>
        </div>
        <div class="mod_list_img mb0" ng-if="DataList.ArticleTop.length > 0">
            <ion-scroll direction="x" scrollbar-x="false" locking="false">
                <div class="this_wrapper">
                    <a ng-repeat="(k, v) in DataList.ArticleTop track by $index" page-jump data-router="forum.detail" data-options='{ "id": {{v.ArticleId}} }'>
                        <div class="this_img">
                            <img ng-src="{{v.Images[0].ImageUrl}}" />
                        </div>
                        <div class="this_title">
                            <span ng-repeat="i in v.CategoryList track by $index">#{{i.CateName}}</span>
                        </div>
                    </a>
                </div>
            </ion-scroll>
        </div>

        <!--瀑布流-->
        <falls>
            <li ng-repeat="(k, v) in DataList.ArticleList track by $index" data-y="{{v.Images[0].Height}}">
                <a class="this_border" page-jump data-router="forum.detail" data-options='{ "id": {{v.ArticleId}} }'>
                    <img ng-src="{{v.Images[0].ImageUrl}}" />
                    <article>
                        <div class="this_text">{{v.Images[0].Description}}</div>
                        
                        <div class="this_star">{{v.TotalCollect}}</div>

                        <div class="this_user">
                            <img ng-src="{{v.Author.ImageUrl}}" />
                            <dl>
                                <dt>{{v.Author.UserName}}</dt>
                                <dd>
                                    <span ng-repeat="x in v.CategoryList">#{{x.CateName}}</span>
                                </dd>
                            </dl>
                        </div>
                    </article>
                </a>
            </li>
        </falls>
        
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="Deploy.isMore">
        </ion-infinite-scroll>

        <div class="mod_no_more" ng-if="!Deploy.isMore">没有数据了！</div>

    </ion-content>

    <button class="btn_camera" ng-camera></button>
</ion-view>

<user-login></user-login>