<ion-header-bar align-title="left">
    <div class="buttons">
        <button class="button icon-left ion-chevron-left button-clear button-white" ng-click="$ionicGoBack()"></button>
    </div>
    <h1 class="title">圈子HOT</h1>
    <div class="buttons">
        <a class="button button-clear" ui-sref="forum.club-list">全部圈子</a>
    </div>
</ion-header-bar>

<ion-view>
    <ion-content>
        <section class="mod_wrapper">
            <!--只显示HOT 6个-->
            <div class="forum_club_hot_list">
                <a ng-repeat="(k, v) in DataList.ClubList track by $index" ui-sref="forum.club-detail({id: v.ClubId})">
                    <i>{{k + 1}}</i>
                    <img ng-src="{{v.ImageUrl}}" />
                    <div>
                        <h2>{{v.ClubName}}</h2>
                        <span ng-repeat="i in v.CategoryList">{{i.CateName}} </span><br>
                        成员：{{v.TotalUser}}
                    </div>
                </a>
            </ul>
        </section>
    </ion-content>
</ion-view>