<ion-header-bar align-title="left">
    <div class="buttons">
        <button class="button icon-left ion-chevron-left button-clear button-white" ng-click="$ionicGoBack()"></button>
    </div>
    <h1 class="title">全部圈子</h1>
</ion-header-bar>

<ion-view>
    <ion-content overflow-scroll="true" class="mod_wrapper">
        <dl ng-repeat="(k, v) in DataList.ClubList track by $index" class="forum_club_list">
            <dt>{{v.Letter}}</dt>
            <dd ng-repeat="(i, j) in v.List track by $index">
                <a ui-sref="forum.club-detail({id: j.ClubId})">
                    <img ng-src="{{j.ImageUrl}}" />
                    <article>
                        <p>{{j.ClubName}}</p>
                        玩教具  手工
                        <br>成员：{{j.TotalUser}}
                    </article>
                </a>
            </dd>
        </dl>
    </ion-content>

    <section class="forum_club_letter">
        <ul><li ng-repeat="(k, v) in DataList.ClubList">{{v.Letter}}</li></ul>
    </section>
</ion-view>