<header-bar></header-bar>

<ion-view hide-nav-bar="true">
    <ion-content overflow-scroll="true" class="mod_wrapper">
        <dl ng-repeat="(k, v) in DataList.ClubList track by $index" class="forum_club_list">
            <dt>{{v.Letter}}</dt>
            <dd ng-repeat="(i, j) in v.List track by $index">
                <a page-jump data-router="forum.club-detail" data-options='{ "id": {{j.ClubId}} }'>
                    <img ng-src="{{j.ImageUrl}}" />
                    <article>
                        <p>{{j.ClubName}}</p>
                        玩教具  手工
                        <br>成员：{{j.TotalUser}}
                    </article>
                </a>
            </dd>
        </dl>
        
        <div class="mod_no_more" ng-if="!Deploy.isMore">没有数据了！</div>
    </ion-content>

    <section class="forum_club_letter" ng-if="DataList.ClubList.length > 0">
        <ul><li ng-repeat="(k, v) in DataList.ClubList">{{v.Letter}}</li></ul>
    </section>
</ion-view>