<header-bar title="评论列表"></header-bar>

<ion-view>
    <ion-content overflow-scroll="true" class="mod_wrapper">
        <ul class="forum_comment_list">
            <li ng-repeat="(k, v) in DataList.CommentList track by $index">
                <img ng-src="{{v.Author.ImageUrl}}" />
                <dl>
                    <dt>
                        {{v.Author.UserName}} <i>{{v.UpdateTime}}</i>
                    </dt>
                    <dd>{{v.Content}}</dd>
                </dl>
            </li>
        </ul>

        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="Deploy.isMore"></ion-infinite-scroll>

        <div class="mod_no_more" ng-if="!Deploy.isMore">没有数据了！</div>

    </ion-content>
</ion-view>