<ion-view hide-nav-bar="true">
    <ion-content overflow-scroll="true">
        <search-header class="search_find"></search-header>

        <div class="forum_find_menu">
            <a ui-sref="forum.like">猜你喜欢</a>
            <a ui-sref="forum.club-hot">圈子</a>
            <a ui-sref="forum.activity-list">活动</a>
        </div>

        <div class="mod_title_text this_p" ng-if="DataList.SubjectList.length > 0">
            <div>专题集锦</div>
            <a ui-sref="forum.subject-list">更多 &gt;</a>
        </div>
        <div class="mod_list_img mb0" ng-if="DataList.SubjectList.length > 0">
            <ion-scroll direction="x" scrollbar-x="false" locking="false">
                <div class="this_wrapper">
                    <a ng-repeat="(k, v) in DataList.SubjectList track by $index" ui-sref="forum.subject-detail({id: v.SubjectId})">
                        <div class="this_img">
                            <img ng-src="{{v.ImageUrl}}" />
                        </div>
                        <div class="this_title">{{v.ShortName}}</div>
                    </a>

                    <a class="this_more" ui-sref="forum.subject-list">更多</a>
                </div>
            </ion-scroll>
        </div>

        <div class="forum_find_cate" ng-if="DataList.CateList.length > 0">
            <div>
                <p ng-repeat="(k, v) in DataList.CateList track by $index">
                    <a ng-repeat="(i, j) in v" ui-sref="forum.cate({id: j.CateId})">
                        {{j.CateName}}
                    </a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
    
<ion-footer-bar>
    <footer-bar></footer-bar>
</ion-footer-bar>