<header-bar title="猜你喜欢"></header-bar>

<ion-view>
    <ion-content overflow-scroll="true">

        <ion-slide-box auto-play="true" does-continue="true" ng-if="DataList.PhotoList.length > 0">
            <ion-slide ng-repeat="(k, v) in DataList.PhotoList track by $index">
                <div class="mod_slide_tab">
                    <img ng-src="{{v.ImageUrl}}" />
                    <p>{{v.Title}}</p>
                </div>
            </ion-slide>
        </ion-slide-box>

        <!--瀑布流-->
        <falls>
            <li ng-repeat="(k, v) in DataList.ArticleList track by $index" data-y="{{v.Images[0].Height}}" >
                <a class="this_border" page-jump data-router="forum.detail" data-options="{id:v.ArticleId}">
                    <img ng-src="{{v.Images[0].ImageUrl}}" />
                    <article>
                        <div class="this_text">{{v.Images[0].Description}}</div>
                        
                        <div class="this_star">{{v.TotalCollect}}</div>

                        <div class="this_user">
                            <img ng-src="{{v.Author.ImageUrl}}" />
                            <dl>
                                <dt>{{v.Author.UserName}}</dt>
                                <dd>
                                    <span ng-repeat="x in v.CategoryList">#{{x.CateName}}</span>
                                </dd>
                            </dl>
                        </div>
                    </article>
                </a>
            </li>
        </falls>

        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="Deploy.isMore"></ion-infinite-scroll>

        <div class="mod_no_more" ng-if="!Deploy.isMore">没有数据了！</div>

    </ion-content>
</ion-view>