<header-bar></header-bar>

<ion-view hide-nav-bar="true">
    <ion-content>
        <section class="unit_photo">

            <div class="this_edit_title">
                <ul>
                    <li ng-repeat="(k, v) in CameraImages">
                        <div ng-click="dataDelete(k)">
                            <p><img ng-src="{{v.ImageUrl}}" /></p>
                            <span></span>
                        </div>
                        <textarea ng-model="v.Content" placeholder="写下您想说的话（必填）"></textarea>
                    </li>
                    <li add-photo>
                        <i></i>
                    </li>
                </ul>
            </div>


            <div class="this_h5_file">
                <ul>
                    <li ng-repeat="(k, v) in CameraImages">
                        <div ng-click="dataDelete(k)">
                            <p><img ng-src="{{v.ImageUrl}}" /></p>
                            <span></span>
                        </div>
                        <textarea ng-model="v.Content" placeholder="写下您想说的话（必填）"></textarea>
                    </li>
                </ul>
                <div class="this_sub_btn">
                    <input type="file" ng-model="editItem._attachments_uri.image" accept="image/*" app-filereader />
                </div>
            </div>
        </section>
    </ion-content>
</ion-view>