<section ng-if="Deploy.isLogin"> 
    <header-bar title="编辑照片" right="继续|nextPage"></header-bar>

    <ion-view>
        <ion-content>
            <section class="unit_photo">
                <div class="this_photo">
                    <img id="img" ng-src="{{ImageData.imageUrl}}" />
                    <canvas id="canvas"></canvas>
                </div>

                <div class="this_tmp_canvas"><canvas id="tmp"></canvas></div>

                <ul class="this_tab">
                    <li ng-class="{current: currentTab}" ng-click="changeTab()">水印</li>
                    <li ng-class="{current: !currentTab}" ng-click="changeTab()">滤镜</li>
                    <li>|</li>
                </ul>

                <div ng-show="currentTab">
                    <div class="this_scroll" id="wrapper1" ng-iscroll="eventScroll" ng-iscroll-delay='50'>
                        <ul>
                            <li class="current">
                                <img src="../themes/temp/7.jpg" />
                                原图
                            </li>
                            <li>
                                <img src="../themes/temp/7.jpg" />
                                原图
                            </li>
                            <li>
                                <img src="../themes/temp/7.jpg" />
                                原图
                            </li>
                            <li>
                                <img src="../themes/temp/7.jpg" />
                                原图
                            </li>
                            <li>
                                <img src="../themes/temp/7.jpg" />
                                原图
                            </li>
                            <li>
                                <img src="../themes/temp/7.jpg" />
                                原图
                            </li>
                        </ul>
                    </div>
                </div>

                <div ng-show="!currentTab">
                    <div class="this_scroll" id="wrapper2" ng-iscroll="eventScroll" ng-iscroll-delay='50'>
                        <ul>
                            <li class="current">
                                <img src="../themes/temp/7.jpg" />
                                原图
                            </li>
                            <li>
                                <img src="../themes/temp/7.jpg" />
                                原图
                            </li>
                            <li>
                                <img src="../themes/temp/7.jpg" />
                                原图
                            </li>
                            <li>
                                <img src="../themes/temp/7.jpg" />
                                原图
                            </li>
                            <li>
                                <img src="../themes/temp/7.jpg" />
                                原图
                            </li>
                            <li>
                                <img src="../themes/temp/7.jpg" />
                                原图
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </ion-content>
    </ion-view>
</section>

<page-login ng-if="!Deploy.isLogin"></page-login>