<header-bar back title="举报帖子" right="确定|submitData"></header-bar>

<section class="mod_scroll">
    <ul class="comment_report">
<!--         <li>
            <input type="text" placeholder="自动调取的发帖人" />
        </li> -->
        <li>
            <input ng-model="inputData.contact" type="text" placeholder="您的联系方式" value="" />
        </li>
        <li>
            <textarea ng-model="inputData.content" placeholder="举报理由"></textarea>
        </li>
    </ul>

    <!-- <div page-jump="addReport" class="unit_comment_btn">确定</div> -->
</section>