<header-bar title="提供原创作者信息" right="确定|submitData"></header-bar>

<ion-view>
    <ion-content overflow-scroll="true" class="mod_wrapper">
        <ul class="comment_report">
            <li class="this_no">
                Author
            </li>
            <li>
                <input ng-model="inputData.contact" type="text" placeholder="您的联系方式" value="" />
            </li>
            <li>
                <textarea ng-model="inputData.content" placeholder="举报理由"></textarea>
            </li>
        </ul>

        <!-- <div page-jump="addReport" class="unit_comment_btn">确定</div> -->
    </ion-content>
</ion-view>