<ion-header-bar align-title="left">
    <div class="buttons">
        <button class="button icon-left ion-chevron-left button-clear button-white" ng-click="$ionicGoBack()"></button>
    </div>
    <h1 class="title">搜索</h1>
</ion-header-bar>

<ion-view>
    <ion-content overflow-scroll="true">

        <search-header class="search_home"></search-header>

        <section class="mod_wrapper">
            <dl class="forum_search_keyword" ng-if="DataList.KeywordList.length > 0">
                <dt>热门搜索</dt>
                <dd>
                    <a ng-repeat="v in DataList.KeywordList track by $index" ui-sref="forum.search-result({keyword: encodeURIComponent(v.Keyword)})">
                        #{{v.Keyword}}
                    </a>
                </dd>
            </dl>

            <dl class="forum_search_keyword" ng-if="DataList.HistoryKey.length > 0">
                <dt>
                    历史搜索
                    <button ng-click="clearHistory()">清空历史</button>
                </dt>
                <dd>
                    <a ng-repeat="(k, v) in DataList.HistoryKey track by $index" ui-sref="forum.search-result({keyword: encodeURIComponent(v.Keyword)})">
                        #{{v.Keyword}}
                    </a>
                </dd>
            </dl>
        </section>
    </ion-content>
</ion-view>