<header-bar></header-bar>

<ion-view hide-nav-bar="true">
    <ion-content overflow-scroll="true" class="mod_wrapper">
        <div class="forum_subject_list">
            <a ng-repeat="(k, v) in DataList.SubjectList track by $index" ui-sref="forum.subject-detail({id: v.SubjectId})">
                <div>{{v.ShortName}}</div>
                <img ng-src="{{v.ImageUrl}}" />
            </a>
        </div>

        <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="Deploy.isMore">
        </ion-infinite-scroll>

        <div class="mod_no_more" ng-if="!Deploy.isMore">没有更多数据了！</div>
    </ion-content>
</ion-view>