<section class="login_entry">
    <div class='login_bg'></div>
    <div class="entry_button">
        <a show-popup="aaaaa" class="register">注册</a>
        <a ng-href="/entry/#/login" class="login">登录</a>
    </div>
    <div class="entry_help">
        <a>? 帮助与反馈</a>
    </div>
</section>

<popup name="aaaaa" title="用户注册" popup-confirm="popupConfirm()">
    <div class="chosen_register" ngd-click="itemClick($event)" selector="a">
        <ul class="mod_list_default">
            <li class="icon_weixin">
                <a>微信注册</a>
            </li>
            <li class="icon_mobile">
                <a>手机号注册</a>
            </li>
            <li class="icon_qq">
                <a>QQ注册</a>
            </li>
            <li class="icon_weibo last_border_line">
                <a>微博注册</a>
            </li>
        </ul>
    </div>
</popup>
<div ng-show="showPopup" class="mod_mask"></div>