<header-bar back="{'module':'entry','hash':'loginForget', 'url': '/login/forget'}" right="确定|submitPassword" title="重置密码"></header-bar>

<section class="login_layout mod_scroll">
    <div class="mod_layout">
        <ul class="mod_list_default">
            <li>
                <label>验证码</label>
                <input ng-model="inputVal.vcode" type="number" maxlength="4" placeholder="请输入收到的验证码"></li>
            <li>
                <label>密码</label>
                <input ng-model="inputVal.password" type="password" placeholder="6-16位字符，区分大小写"></li>
            <li>
                <label>确认密码</label>
                <input ng-model="inputVal.passwordCheck" type="password" placeholder="6-16位字符，区分大小写"></li>
        </ul>
    </div>

    <a ng-click="resendMessage(vDisable)" ng-class="{disable:vDisable}" class="reset_vcode" ng-bind="vHtml"></a>

</section>