<header-bar back right="上一步|/entry/#/" title="登录"></header-bar>

<section class="login_layout mod_scroll">

    <div class="mod_layout">
        <ul class="mod_list_default">
            <li class="phone">
                <input type="number" placeholder="用户名(手机号码)"></li>
            <li class="password last_border_line">
                <input type="password" placeholder="密码"></li>
        </ul>
        <a class="login_button">登录</a>
        <div class="forget_password">
            <a>忘记密码？</a>
        </div>
    </div>

    <h2 class="mod_layout_title">使用其他方式登录</h2>

    <div class="mod_layout">
        <ul class="mod_list_default">
            <li class="icon_qq">
                <a>QQ账号登录</a>
            </li>
            <li class="icon_weixin">
                <a>微信账号登录</a>
            </li>
            <li class="icon_weibo">
                <a>新浪微博账号登录</a>
            </li>
        </ul>
    </div>

</section>