<header-bar back="{'module':'entry','hash':' ', 'url': '/'}" right="下一步|" title="<span>（</span>1<span>/3）</span>创建个人资料"></header-bar>

<section class="register_layout mod_scroll">
    <div class="mod_layout">
        <ul class="register_data">
            <li class="nickname">
                <label>昵称</label>
                <input ng-model="inputVal.nickname" type="text" placeholder="用户名支持汉字、字母、数字"></li>
            <li class="gender">
                <span ng-click="inputVal.gender = 1">
                    <input name="gender" ng-checked="inputVal.gender == 1" type="radio">
                    <label>女</label>
                </span>
                <span ng-click="inputVal.gender = 2">
                    <input name="gender" ng-checked="inputVal.gender == 2" type="radio">
                    <label>男</label>
                </span>
            </li>
            <li show-popup="chooseLocation" class="location">北京市 海淀区</li>
            <li show-popup="choosePost" class="post">{{inputVal.post}}</li>
        </ul>
    </div>
</section>

<popup id="chooseLocation" title="选择位置" popup-confirm="popupConfirm">
    <div class="chosen_location">
        <div class="select_box">
            <div class="line"></div>
            <ul>
                <li>北京</li>
                <li>上海</li>
                <li>广州</li>
                <li>厦门</li>
            </ul>
        </div>
        <div class="select_box">
            <div class="line"></div>
            <ul>
                <li>长宁区</li>
                <li>徐汇徐</li>
                <li>浦东新区</li>
                <li>闸北区</li>
            </ul>
        </div>
    </div>
</popup>

<popup id="choosePost" title="选择岗位" popup-confirm="inputVal.post = inputVal.tmpPost">
    <div class="chosen_post">
        <ul>
            <li ng-click="inputVal.tmpPost = '园长'">
                <input ng-checked="inputVal.tmpPost == '园长'" name="post" type="radio">
                <label>园长</label>
            </li>
            <li ng-click="inputVal.tmpPost = '保教主任'">
                <input ng-checked="inputVal.tmpPost == '保教主任'" name="post" type="radio">
                <label>保教主任</label>
            </li>
            <li ng-click="inputVal.tmpPost = '教师'">
                <input ng-checked="inputVal.tmpPost == '教师'" name="post" type="radio">
                <label>教师</label>
            </li>
            <li ng-click="inputVal.tmpPost = '其他'">
                <input ng-checked="inputVal.tmpPost == '其他'" name="post" type="radio">
                <label>其他</label>
            </li>
        </ul>
    </div>
</popup>

<div ng-show="showMask" class="mod_mask"></div>