<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>APP HTML</title>
    <link rel="stylesheet" type="text/css" href="../../themes/entry.css" />
</head>
<body>

    <header class="mod_header">
        <h1 class="title_content full color_green">恭喜你！完成了注册！</h1>
    </header>

    <section class="register_layout mod_scroll">
        <div class="mod_layout">
            <div class="portrait_set">
                先设置头像吧！
                <br>做个有面子的人！</div>
        </div>
    </section>

</body>
</html>