$bgcolor: #e6e8e7;
$green_val: #3cc482;
$gray_val: #cacdcb;

.unit_home{
    padding-top: 41px;
    padding-bottom: 50px;
}

.unit_set_textarea{
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    textarea{
        @include border_half;
        width: 100%;
        line-height: 20px;
        padding: 5px;
        -webkit-box-sizing: border-box;
        height: 150px;
    }
    .this_input{
        display: -webkit-box;
        padding: 10px 0;
        -webkit-box-align: center;
        @include border_bottom_half;
        label{
            display: block;
            width: 80px;
        }
        input{
            display: block;
            line-height: 20px;
            padding: 5px;
            -webkit-box-flex: 1;
            @include border_half;
        }
    }
    .this_text{
        line-height: 20px;
        padding: 10px 0;
        font-size: 12px;
    }
}


.unit_msg_footer{
    background: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    display: -webkit-box;
    -webkit-box-sizing: border-box;
    input{
        display: block;
        -webkit-box-flex: 1;
        @include border_half;
        margin-right: 5px;
        padding: 0 5px;
        line-height: 30px;
    }
    button{
        width: 60px;
        border: 0;
        @include button(60px);
        background: $green_val;
    }
}


.unit_msg_talk{
    h2{
        @include gray;
        line-height: 20px;
        font-size: 12px;
        text-align: center;
    }
    .this_list{
        margin-bottom: 10px;
        display: -webkit-box;
        img{
            width: 30px;
            height: 30px;
            display: block;
            margin-right: 10px;
            -webkit-border-radius: 30px;
        }
        div{
            -webkit-box-flex: 1;
            article{
                padding: 5px;
                line-height: 16px;
                font-size: 12px;
                position: relative;
                display: block;
                -webkit-box-flex: 1;
                -webkit-border-radius: 3px;
                -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.1);
                &:after{
                    content: "";
                    display: block;
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: 10px;
                    border-style: solid;
                    border-width: 5px;
                }
            }
        }
        &.this_left{
            article{
                background: #fff;
                &:after{
                    left: -10px;
                    border-color: transparent #fff transparent transparent;
                }
            }
        }
        &.this_right{
            -webkit-box-direction: reverse;
            img{
                margin-right: 0;
                margin-left: 10px;
            }
            article{
                background: $green_val;
                color: #fff;
                float: right;
                &:after{
                    right: -10px;
                    border-color: transparent transparent transparent $green_val;
                }
            }
        }
    }
}


.unit_msg_search_friend{
    background: #fff;
    position: relative;
    margin-bottom: 10px;
    input{
        width: 100%;
        line-height: 30px;
        padding: 5px 10px;
        -webkit-box-sizing: border-box;
    }
    button{
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        border: 0;
        outline: none;
        background: url(img/icon_search.png) no-repeat center center;
        background-size: 25px auto;
    }
}