.unit_home{
    padding-top: 41px;
    padding-bottom: 50px;
    height: 10000px;

    .unit_home_list{
        border: 5px solid #f5f5f5;
        position: relative;
        li{
            position: absolute;
            display: block;
            width: 50%;
            font-size: 12px;
            color: #323232;
            .this_border{
                border-left: 5px solid #f5f5f5;
                border-right: 5px solid #f5f5f5;
            }
            .this_border{
                background: #fff;
                img{
                    width: 100%;
                    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
                }
                article{
                    padding: 5px;
                    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
                }
                .this_text{
                    @include multi_ellipsis(6);
                    line-height: 18px;
                }
                .this_star{
                    @include border_bottom_half;
                    line-height: 25px;
                    background: url(img/icon_star.png) no-repeat 5px center;
                    background-size: 15px auto;
                    text-indent: 25px;
                    color: #cacdcb;
                }
                .this_user{
                    padding-top: 5px;
                    display: -webkit-box;
                    img{
                        width: 50px;
                        height: 50px;
                        display: block;
                        -webkit-border-radius: 50px;
                    }
                    p{
                        display: block;
                        padding-left: 5px;
                        -webkit-box-flex: 1;
                        line-height: 16px;
                        &:first-line{
                            color: #3cc482;
                        }
                    }
                }
            }
        }
    }
}