<header class="mod_header transparent comment_header">
    <a class="back_button">back</a>
    <a class="right_menu_gray"></a>
</header>

<section class="scrollfix comment_home">
    <div class="comment_layout">

        <img class="comment_img" src="../themes/temp/9.jpg" />
        <p class="comment_txt">
            手工灯笼制作，让家长和孩子一起动手，制作一个属于自己的灯笼，这是一件非常有意义的事情，相信它会成为你们难忘的回忆！
        </p>

        <img class="comment_img" src="../themes/temp/4.jpg" />
        <p class="comment_txt">
            手工灯笼制作，让家长和孩子一起动手，制作一个属于自己的灯笼，这是一件非常有意义的事情，相信它会成为你们难忘的回忆！
        </p>

        <div class="person_detail">
            <img class="person_img" src="../themes/temp/1.jpg">
            <div>
                <h3>
                    <span class="time">5天前</span>
                    师乐汇
                    <span class="private_chat">私聊</span>
                </h3>
                <p>
                    发布到：
                    <span>#泥工</span>
                    <span>#废旧材料</span>
                    <span>#玩教具</span>
                </p>
            </div>
        </div>
    </div>
    <div class="comment_layout">
        <p class="comment_txt">
            <span class="color_green">1</span>
            人赞过，
            <span class="color_green">8</span>
            次浏览
        </p>

        <div class="comment_heart">
            <a class="heart"></a>
            <img class="person_img" src="../themes/temp/1.jpg">
            <img class="person_img" src="../themes/temp/1.jpg">
            <img class="person_img" src="../themes/temp/1.jpg">
            <img class="person_img" src="../themes/temp/1.jpg">
            <img class="person_img" src="../themes/temp/1.jpg">
            <img class="person_img" src="../themes/temp/1.jpg">
        </div>

        <div class="comment_input">
            <img class="person_img" src="../themes/temp/1.jpg">
            <div>
                <input type="text" placeholder="说说你的评论">
            </div>
        </div>
        <div class="person_detail">
            <img class="person_img" src="../themes/temp/1.jpg">
            <div>
                <h3>
                    <span class="time">04.07  11:12</span>
                    师乐汇
                </h3>
                <p>
                    手工灯笼制作，让家长和孩子一起动手，制作一个属于自己的灯笼，这是一件非常有意义的事情，相信它会成为你们难忘的回忆！
                </p>
            </div>
        </div>
        <div class="person_detail">
            <img class="person_img" src="../themes/temp/1.jpg">
            <div>
                <h3>
                    <span class="time">04.07  11:12</span>
                    师乐汇
                </h3>
                <p>
                    手工灯笼制作，让家长和孩子一起动手，制作一个属于自己的灯笼，这是一件非常有意义的事情，相信它会成为你们难忘的回忆！
                </p>
            </div>
        </div>
        <div class="comment_more">
            <a>查看更多</a>
        </div>
    </div>

    <div class="comment_also_watch">
        <h2>老师们也在看</h2>
        <ul>
            <li>
                <img src="../themes/temp/1.jpg">
                <span>#手工</span>
                <span>#环境创设</span>
                <p>22 人看过</p>
            </li>
            <li>
                <img src="../themes/temp/1.jpg">
                <span>#手工</span>
                <span>#环境创设</span>
                <p>22 人看过</p>
            </li>
            <li>
                <img src="../themes/temp/1.jpg">
                <span>#手工</span>
                <span>#环境创设</span>
                <p>22 人看过</p>
            </li>
            <li>
                <img src="../themes/temp/1.jpg">
                <span>#手工</span>
                <span>#环境创设</span>
                <p>22 人看过</p>
            </li>
            <li>
                <img src="../themes/temp/1.jpg">
                <span>#手工</span>
                <span>#环境创设</span>
                <p>22 人看过</p>
            </li>
            <li>
                <img src="../themes/temp/1.jpg">
                <span>#手工</span>
                <span>#环境创设</span>
                <p>22 人看过</p>
            </li>
        </ul>
    </div>

</section>

<footer class="comment_footer">
    <a class="footer_heart">赞9</a>
    <a class="footer_comment">评论9</a>
    <a class="footer_share">分享9</a>
    <a class="footer_collect">收藏9</a>
</footer>