<header class="mod_header transparent comment_header">
    <a class="back_button" page-back="{{backParam}}">back</a>
    <a class="right_menu_gray"></a>
</header>

<section class="unit_article_scroll">
    <div class="comment_layout">

        <img class="comment_img" src="../themes/temp/9.jpg" />
        <p class="comment_txt">
            手工灯笼制作，让家长和孩子一起动手，制作一个属于自己的灯笼，这是一件非常有意义的事情，相信它会成为你们难忘的回忆！
        </p>

        <img class="comment_img" src="../themes/temp/4.jpg" />
        <p class="comment_txt">
            手工灯笼制作，让家长和孩子一起动手，制作一个属于自己的灯笼，这是一件非常有意义的事情，相信它会成为你们难忘的回忆！
        </p>

        <div class="person_detail">
            <img class="person_img" src="../themes/temp/1.jpg">
            <div>
                <h3>
                    <span class="time">5天前</span>
                    师乐汇
                    <span class="private_chat" page-jump="{{redirectUrl.Chat}}">私聊</span>
                </h3>
                <p>
                    发布到：
                    <span>#泥工</span>
                    <span>#废旧材料</span>
                    <span>#玩教具</span>
                </p>
            </div>
        </div>
    </div>
    <div class="comment_layout">
        <p class="comment_txt">
            <span class="color_green">1</span>
            人赞过，
            <span class="color_green">8</span>
            次浏览
        </p>

        <div class="comment_heart">
            <a class="heart"></a>
            <img class="person_img" src="../themes/temp/1.jpg">
            <img class="person_img" src="../themes/temp/1.jpg">
            <img class="person_img" src="../themes/temp/1.jpg">
            <img class="person_img" src="../themes/temp/1.jpg">
            <img class="person_img" src="../themes/temp/1.jpg">
            <img class="person_img" src="../themes/temp/1.jpg">
        </div>

        <div class="comment_input">
            <img class="person_img" src="../themes/temp/1.jpg">
            <div>
                <input type="text" placeholder="说说你的评论">
            </div>
        </div>
        <div class="person_detail">
            <img class="person_img" src="../themes/temp/1.jpg">
            <div>
                <h3>
                    <span class="time">04.07  11:12</span>
                    师乐汇
                </h3>
                <p>
                    手工灯笼制作，让家长和孩子一起动手，制作一个属于自己的灯笼，这是一件非常有意义的事情，相信它会成为你们难忘的回忆！
                </p>
            </div>
        </div>
        <div class="person_detail" ng-click="chk()">
            <img class="person_img" src="../themes/temp/1.jpg">
            <div>
                <h3>
                    <span class="time">04.07  11:12</span>
                    师乐汇
                </h3>
                <p>
                    手工灯笼制作，让家长和孩子一起动手，制作一个属于自己的灯笼，这是一件非常有意义的事情，相信它会成为你们难忘的回忆！
                </p>
            </div>
        </div>
        <div class="comment_more" page-jump="{{redirectUrl.CommentList}}">
            更多评论>>
        </div>
    </div>

    <div class="mod_title_text this_p" ng-if="isLogin">
        <div>老师们也在看</div>
    </div>
    <div class="mod_list_img" style="height:150px;" id="wrapper" ng-iscroll="wrapper" ng-iscroll-delay='50' ng-if="isLogin">
        <ul>
            <li>
                <div class="this_img">
                    <img src="../themes/temp/img.jpg" />
                </div>
                <div class="this_title">
                    <span>#环境创设</span>
                    <span>#玩教具</span>
                </div>
                <div class="this_tx">22人看过</div>
            </li>
            <li>
                <div class="this_img">
                    <img src="../themes/temp/img.jpg" />
                </div>
                <div class="this_title">
                    <span>#环境创设</span>
                    <span>#玩教具</span>
                </div>
                <div class="this_tx">22人看过</div>
            </li>
            <li>
                <div class="this_img">
                    <img src="../themes/temp/img.jpg" />
                </div>
                <div class="this_title">
                    <span>#环境创设</span>
                    <span>#玩教具</span>
                </div>
                <div class="this_tx">22人看过</div>
            </li>
            <li>
                <div class="this_img">
                    <img src="../themes/temp/img.jpg" />
                </div>
                <div class="this_title">
                    <span>#环境创设</span>
                    <span>#玩教具</span>
                </div>
                <div class="this_tx">22人看过</div>
            </li>
        </ul>
    </div>
    
    <div class="unit_article_content_login" ng-if="!isLogin">
        <h3>想看看同行们发布的？</h3>
        <button page-jump="{{redirectUrl.Login}}">马上登录</button>
    </div>
</section>

<footer class="comment_footer">
    <a class="footer_heart">赞9</a>
    <a class="footer_comment">评论9</a>
    <a class="footer_share">分享9</a>
    <a class="footer_collect">收藏9</a>
</footer>