<header-bar back title="详情" right="继续|nextPage"></header-bar>

<section class="unit_photo">

    <div class="this_edit_title">
        <ul>
            <li>
                <img ng-src="../themes/temp/7.jpg" />
                <textarea placeholder="写下您想说的话（必填）"></textarea>
            </li>
            <li>
                <img ng-src="../themes/temp/7.jpg" />
                <textarea placeholder="写下您想说的话（必填）"></textarea>
            </li>
            <li>
                <img ng-src="../themes/temp/7.jpg" />
                <textarea placeholder="写下您想说的话（必填）"></textarea>
            </li>
            <li>
                <img ng-src="../themes/temp/7.jpg" />
                <textarea placeholder="写下您想说的话（必填）"></textarea>
            </li>
            <li>
                <div></div>
            </li>
        </ul>
    </div>
</section>